<tr>
  <td class="align-middle">
    <%= link_to booking.identifier, dashboard_booking_path(booking), class: 'text-medium nav-link' %>
  </td>

  <td class="align-middle"><%= link_to reservation.lodging_child_name, reservation.lodging %></td>

  <td class="align-middle">
    <%= render_date reservation.created_at + 2.days %>
  </td>


  <td class="align-middle"><span class="text-medium">£<%= render_rounded_price reservation.rent %></span></td>

  <td class="align-middle">
    <%= link_to 'BOOK NOW', accept_option_dashboard_reservation_path(reservation) %>
    <%= link_to 'REMOVE', dashboard_reservation_path(reservation), class: 'text-danger', method: :delete %>
  </td>
</tr>
