<tr>
  <td class="align-middle">
    <%= link_to reservation.identifier, dashboard_booking_path(reservation.booking_id), class: 'text-medium nav-link' %>
  </td>

  <td class="align-middle"><%= link_to reservation.lodging_child_name, reservation.lodging %></td>
  <td class="align-middle"><%= render_date reservation.created_at %></td>

  <td class="align-middle">
    <%= render_request_status reservation.request_status %>
  </td>

  <td class="align-middle">
    <%= render_request_status(reservation.booking_confirmed ? 'confirmed' : 'pending') %>
  </td>

  <td class="align-middle">
    <%= render_reservation_type t("bookings.#{reservation.booking_status}") %>
  </td>

  <td class="align-middle"><span class="text-medium"><%= render_rounded_price (reservation.rent.to_f + reservation.cleaning_cost.to_f - reservation.discount.to_f) %></span></td>
</tr>
