<tr>
  <td><%= link_to reservation.lodging_name, reservation.lodging %></td>
  <td><%= reservation.check_in %></td>
  <td><%= reservation.check_out %></td>
  <td><%= reservation.booking_status %></td>
  <% if reservation.can_review?(current_user) %>
    <td><%= link_to 'review', new_dashboard_reservation_review_path(reservation) %></td>
  <% else %>
    <td><%= link_to 'review', edit_dashboard_reservation_review_path(reservation, reservation.review) %></td>
  <% end %>
</tr>
