<div class="card border-dark text-center mb-3">
  <div class="card-body">
    <h4 class="card-title bg-dark text-white pt-3 pb-3">Booking Requests</h4>
    <div class="table-responsive text-sm">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Requests</th>
            <th>Lodging</th>
            <th>Created At</th>
            <th>Status</th>
            <th>Type</th>
            <th>Price</th>
          </tr>
        </thead>

        <tbody id="requests-table-body">
          <% if @requests.present? %>
            <%= render partial: 'request', collection: @requests, as: :reservation %>
          <% else %>
            <tr><td colspan="5" class="text-center">No Request found!</td></tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div id="requests-pagination">
      <%= paginate @requests, param_name: :requests_page, window: 2, remote: true %>
    </div>
  </div>
</div>

<div class="card border-dark text-center mb-3">
  <div class="card-body">
    <h4 class="card-title bg-dark text-white pt-3 pb-3">Confirmed Bookings & Options</h4>
    <div class="table-responsive text-sm">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Booking</th>
            <th>Lodging</th>
            <th>Created At</th>
            <th>Payment</th>
            <th>Type</th>
            <th>Price</th>
          </tr>
        </thead>

        <tbody id="bookings-table-body">
          <% if @bookings.present? %>
            <%= render @bookings %>
          <% else %>
            <tr><td colspan="5" class="text-center">No booking or Option found!</td></tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div id="bookings-pagination">
      <%= paginate @bookings, param_name: :bookings_page, window: 2, remote: true %>
    </div>
  </div>
</div>

<%= render partial: 'payment_details_modal', collection: @bookings, as: :reservation %>
<%= render partial: 'booking_modal', collection: @bookings_requests, as: :booking %>
