<div class="card border-dark text-center mb-3">
  <div class="card-body">
    <h4 class="card-title homepage pt-3 pb-3"><%= t 'profile_account.bookings_options_header' %></h4>
    <div class="table-responsive text-xxs">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= t 'profile_account.reference' %></th>
            <th><%= t 'profile_account.accommodation' %></th>
            <th><%= t 'profile_account.date' %></th>
            <th><%= t 'profile_account.type' %></th>
            <th><%= t 'profile_account.request' %></th>
            <th><%= t 'profile_account.rental_amount' %></th>
          </tr>
        </thead>

        <tbody id="requests-table-body">
          <% if @requests.present? %>
            <%= render partial: 'request', collection: @requests, as: :reservation %>
          <% else %>
            <tr><td colspan="6" class="text-center">No Request found!</td></tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div id="requests-pagination">
      <%= paginate @requests, param_name: :requests_page, window: 2, remote: true %>
    </div>
  </div>
</div>

<div class="card border-dark text-center mb-3">
  <div class="card-body">
    <h4 class="card-title homepage pt-3 pb-3"><%= t 'profile_account.next_bookings_header' %></h4>
    <div class="table-responsive text-xxs">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= t 'profile_account.reference' %></th>
            <th><%= t 'profile_account.created' %></th>
            <th><%= t 'profile_account.pre_payment' %></th>
            <th><%= t 'profile_account.final_payment' %></th>
            <th><%= t 'profile_account.total_payment' %></th>
          </tr>
        </thead>

        <tbody id="upcoming-bookings-table-body">
          <% if @upcoming_bookings.present? %>
            <%= render @upcoming_bookings %>
          <% else %>
            <tr><td colspan="5" class="text-center">No booking found!</td></tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div id="upcoming-bookings-pagination">
      <%= paginate @upcoming_bookings, param_name: :upcoming_bookings_page, window: 2, remote: true %>
    </div>
  </div>
</div>

<div class="card border-dark text-center mb-3">
  <div class="card-body">
    <h4 class="card-title homepage pt-3 pb-3"><%= t 'profile_account.old_bookings_header' %></h4>
    <div class="table-responsive text-xxs">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= t 'profile_account.reference' %></th>
            <th><%= t 'profile_account.created' %></th>
            <th><%= t 'profile_account.pre_payment' %></th>
            <th><%= t 'profile_account.final_payment' %></th>
            <th><%= t 'profile_account.total_payment' %></th>
          </tr>
        </thead>

        <tbody id="old-bookings-table-body">
          <% if @old_bookings.present? %>
            <%= render @old_bookings %>
          <% else %>
            <tr><td colspan="5" class="text-center">No booking found!</td></tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div id="old-bookings-pagination">
      <%= paginate @old_bookings, param_name: :old_bookings_page, window: 2, remote: true %>
    </div>
  </div>
</div>

<div class="card border-dark text-center mb-3">
  <div class="card-body">
    <h4 class="card-title homepage pt-3 pb-3"><%= t 'profile_account.options_header' %></h4>
    <div class="table-responsive text-xxs">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= t 'profile_account.reference' %></th>
            <th><%= t 'profile_account.accommodation' %></th>
            <th><%= t 'profile_account.valid_to' %></th>
            <th><%= t 'profile_account.price' %></th>
            <th><%= t 'profile_account.option_to_booking' %></th>
          </tr>
        </thead>

        <tbody id="options-table-body">
          <% if @options.present? %>
            <%= render partial: 'option', collection: @options, as: :reservation %>
          <% else %>
            <tr><td colspan="5" class="text-center">No Option found!</td></tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div id="options-pagination">
      <%= paginate @options, param_name: :options_page, window: 2, remote: true %>
    </div>
  </div>
</div>

<div id="booking-details"></div>
<%#= render partial: 'dashboard/bookings/details_modal', collection: @bookings, as: :booking %>
