<tr>
  <td class="align-middle">
    <%= link_to booking.identifier, dashboard_booking_path(booking), class: 'text-medium nav-link' %>
  </td>

  <td class="align-middle"><%= render_date booking.created_at %></td>

  <td class="align-middle">
    <%= pre_paid_link booking %>
  </td>

  <td class="align-middle">
    <%= final_paid_link booking %>
  </td>

  <td class="align-middle"><span class="text-medium">£<%= booking.total_payment %></span></td>
</tr>
