<div class="modal fade" id="booking-modal-<%= booking.id %>" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= booking.identifier %> </h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <p>Total Price - £<%= render_rounded_price cart_sub_total(booking.reservations) %></p>
            <p>Pre Payment - £<%= render_rounded_price cart_sub_total(booking.reservations), 0.3 %></p>
            <p>Final Payment - £<%= render_rounded_price cart_sub_total(booking.reservations), 0.7 %></p>
          </div>

          <div class="col-md-6">
            <% if booking.confirmed? %>
              <%= pre_paid_link booking %>
              <%= final_paid_link booking %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="accordion" id="reservation-accordion" role="tablist">
              <%= render partial: 'dashboard/bookings/reservation', collection: booking.reservations %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
