<div class="modal fade" id="book-option-modal-<%= reservation.id %>" tabindex="-1" role="dialog" aria-labelledby="book-option-modal-label-<%= reservation.id %>" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="book-option-modal-label-<%= reservation.id %>"><%= t('reservations.convert_option_modal.question') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body text-left">
        <div>
          <p><i><%= t('reservations.convert_option_modal.paragraph_1') %></i></p>
          <p><i><%= t('reservations.convert_option_modal.paragraph_2') %></i></p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('reservations.convert_option_modal.no') %></button>
        <%= link_to t('reservations.convert_option_modal.yes_convert'), accept_option_dashboard_reservation_path(reservation), method: :post, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
