<% lodging = reservation.lodging %>
<div class="d-flex align-items-center justify-content-between">
  <h3><%= link_to lodging.name, lodging_path(lodging) %></h3>

  <% if reservation.option? && reservation.confirmed? %>
    <div class="text-right">
      <%= button_tag t('reservations.convert_option'), class: 'btn btn-success text-white', data: { toggle: 'modal', target: "#book-option-modal-#{reservation.id}" } %>
      <%= button_tag t('reservations.cancel_option'), class: 'btn btn-danger text-white', data: { toggle: 'modal', target: "#cancel-option-modal-#{reservation.id}" } %>
    </div>
  <% end %>
</div>

<% if reservation.rebooking_approved %>
  <div class="alert alert-danger" role="alert">
    <%= t('bookings.rebooking') %>
  </div>
<% end %>

<div class="card">
  <div class="card-header" role="tab">
    <h5>
      <a href="#collapse-reservation-details<%= reservation.id %>" data-toggle="collapse"><%= t('reservations.overview') %></a>
    </h5>
  </div>

  <div class="collapse show" id="collapse-reservation-details<%= reservation.id %>" data-parent="#reservation-accordion" role="tabpanel">
    <div class="card-body pl-0 pr-0">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">Check-in</th>
            <th class="text-center">Check-out</th>
            <th class="text-center">Adults</th>
            <th class="text-center">Children</th>
            <th class="text-center">Infants</th>
            <th class="text-center">Cleaning Cost</th>
            <th class="text-center">Discount</th>
            <th class="text-center">Rent</th>
            <th class="text-center">Total</th>
            <th class="text-center">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="text-center text-lg text-medium"><%= reservation.check_in %></td>
            <td class="text-center text-lg text-medium"><%= reservation.check_out %></td>
            <td class="text-center text-lg text-medium"><%= reservation.adults %></td>
            <td class="text-center text-lg text-medium"><%= reservation.children %></td>
            <td class="text-center text-lg text-medium"><%= reservation.infants %></td>
            <td class="text-center text-lg text-medium"><%= render_rounded_price reservation.cleaning_cost %></td>
            <td class="text-center text-lg text-medium"><%= render_rounded_price reservation.discount %></td>
            <td class="text-center text-lg text-medium"><%= render_rounded_price reservation.rent.to_f %></td>
            <td class="text-center text-lg text-medium"><%= render_rounded_price (reservation.rent.to_f + reservation.cleaning_cost.to_f - reservation.discount.to_f) %></td>
            <td class="text-center text-lg text-medium"><%= render_reservation_status reservation %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% if reservation.offer_id.present? %>
  <div class="card">
    <div class="card-header" role="tab">
      <h5>
        <a href="#guest-centric-details<%= reservation.id %>" data-toggle="collapse" class="collapsed">Guest Centric Details</a>
      </h5>
    </div>

    <div class="collapse" id="guest-centric-details<%= reservation.id %>" data-parent="#reservation-accordion" role="tabpanel">
      <div class="card-body">
        <p>Offer ID: <%= reservation.offer_id %></p>
        <p>Meal ID: <%= reservation.meal_id %></p>
        <p>Booking ID: <%= reservation.guest_centric_booking_id %></p>
      </div>
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-header" role="tab">
    <h5>
      <a href="#collapse-rental-details<%= reservation.id %>" data-toggle="collapse" class="collapsed"><%= t('reservations.included_in_rental_price') %></a>
    </h5>
  </div>

  <div class="collapse" id="collapse-rental-details<%= reservation.id %>" data-parent="#reservation-accordion" role="tabpanel">
    <div class="card-body">
      <%= lodging.including_text.try(:html_safe) %>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-header" role="tab">
    <h5>
      <a href="#collapse-checkin-details<%= reservation.id %>" data-toggle="collapse" class="collapsed"><%= t('reservations.check_in_and_check_out_time') %></a>
    </h5>
  </div>

  <div class="collapse" id="collapse-checkin-details<%= reservation.id %>" data-parent="#reservation-accordion" role="tabpanel">
    <div class="card-body">
      <%= lodging.particularities_text.try(:html_safe) %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" role="tab">
    <h5>
      <a href="#collapse-paid-locally<%= reservation.id %>" data-toggle="collapse" class="collapsed"><%= t('reservations.paid_locally') %></a>
    </h5>
  </div>

  <div class="collapse" id="collapse-paid-locally<%= reservation.id %>" data-parent="#reservation-accordion" role="tabpanel">
    <div class="card-body">
      <%= lodging.pay_text.try(:html_safe) %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" role="tab">
    <h5>
      <a href="#collapse-optional-services<%= reservation.id %>" data-toggle="collapse" class="collapsed"><%= t('reservations.optional_services') %></a>
    </h5>
  </div>

  <div class="collapse" id="collapse-optional-services<%= reservation.id %>" data-parent="#reservation-accordion" role="tabpanel">
    <div class="card-body">
      <%= lodging.options_text.try(:html_safe) %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" role="tab">
    <h5>
      <a href="#collapse-polices<%= reservation.id %>" data-toggle="collapse" class="collapsed"><%= t('reservations.reservation_and_cancelation') %></a>
    </h5>
  </div>

  <div class="collapse" id="collapse-polices<%= reservation.id %>" data-parent="#reservation-accordion" role="tabpanel">
    <div class="card-body">
      <%= lodging.payment_terms_text.try(:html_safe) %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" role="tab">
    <h5>
      <a href="#collapse-arrival-info<%= reservation.id %>" data-toggle="collapse" class="collapsed"><%= t('reservations.routes_and_arrival') %></a>
    </h5>
  </div>

  <div class="collapse" id="collapse-arrival-info<%= reservation.id %>" data-parent="#reservation-accordion" role="tabpanel">
    <div class="card-body">
      <% lodging.attachments.each do |attachment| %>
        <%= link_to attachment, attachment, target: :_blank %>
      <% end %>
    </div>
  </div>
</div>

<%= render('dashboard/bookings/option_to_booking_modal', reservation: reservation) if reservation.option? && reservation.confirmed? %>
<%= render('dashboard/bookings/cancel_option_modal', reservation: reservation) if reservation.option? && reservation.confirmed? %>
