<% lodging = reservation.lodging %>
<h3><%= link_to lodging.name, lodging_path(lodging) %></h3>

<div class="card">
  <div class="card-header" role="tab">
    <h5>
      <a href="#collapse-reservation-details<%= reservation.id %>" data-toggle="collapse">Reservation Details</a>
    </h5>
  </div>

  <div class="collapse show" id="collapse-reservation-details<%= reservation.id %>" data-parent="#reservation-accordion" role="tabpanel">
    <div class="card-body pl-0 pr-0">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">Checkin</th>
            <th class="text-center">Checkout</th>
            <th class="text-center">Adults</th>
            <th class="text-center">Children</th>
            <th class="text-center">Infants</th>
            <th class="text-center">Cleaning Cost</th>
            <th class="text-center">Discount</th>
            <th class="text-center">Price</th>
            <th class="text-center">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="text-center text-lg text-medium"><%= reservation.check_in %></td>
            <td class="text-center text-lg text-medium"><%= reservation.check_out %></td>
            <td class="text-center text-lg text-medium"><%= reservation.adults %></td>
            <td class="text-center text-lg text-medium"><%= reservation.children %></td>
            <td class="text-center text-lg text-medium"><%= reservation.infants %></td>
            <td class="text-center text-lg text-medium"><%= render_rounded_price reservation.cleaning_cost %></td>
            <td class="text-center text-lg text-medium"><%= render_rounded_price reservation.discount %></td>
            <td class="text-center text-lg text-medium"><%= render_rounded_price (reservation.rent.to_f + reservation.cleaning_cost.to_f - reservation.discount.to_f) %></td>
            <td class="text-center text-lg text-medium"><%= render_request_status reservation.request_status %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% if reservation.offer_id.present? %>
  <div class="card">
    <div class="card-header" role="tab">
      <h5>
        <a href="#guest-centric-details<%= reservation.id %>" data-toggle="collapse" class="collapsed">Guest Centric Details</a>
      </h5>
    </div>

    <div class="collapse" id="guest-centric-details<%= reservation.id %>" data-parent="#reservation-accordion" role="tabpanel">
      <div class="card-body">
        <p>Offer ID: <%= reservation.offer_id %></p>
        <p>Meal ID: <%= reservation.meal_id %></p>
        <p>Booking ID: <%= reservation.guest_centric_booking_id %></p>
      </div>
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-header" role="tab">
    <h5>
      <a href="#collapse-rental-details<%= reservation.id %>" data-toggle="collapse" class="collapsed">Included in rental price</a>
    </h5>
  </div>

  <div class="collapse" id="collapse-rental-details<%= reservation.id %>" data-parent="#reservation-accordion" role="tabpanel">
    <div class="card-body">
      <%= lodging.including_text.try(:html_safe) %>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-header" role="tab">
    <h5>
      <a href="#collapse-checkin-details<%= reservation.id %>" data-toggle="collapse" class="collapsed">Checkin and Checkout time</a>
    </h5>
  </div>

  <div class="collapse" id="collapse-checkin-details<%= reservation.id %>" data-parent="#reservation-accordion" role="tabpanel">
    <div class="card-body">
      <%= lodging.particularities_text.try(:html_safe) %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" role="tab">
    <h5>
      <a href="#collapse-paid-locally<%= reservation.id %>" data-toggle="collapse" class="collapsed">Paid Locally</a>
    </h5>
  </div>

  <div class="collapse" id="collapse-paid-locally<%= reservation.id %>" data-parent="#reservation-accordion" role="tabpanel">
    <div class="card-body">
      <%= lodging.pay_text.try(:html_safe) %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" role="tab">
    <h5>
      <a href="#collapse-optional-services<%= reservation.id %>" data-toggle="collapse" class="collapsed">Optional services</a>
    </h5>
  </div>

  <div class="collapse" id="collapse-optional-services<%= reservation.id %>" data-parent="#reservation-accordion" role="tabpanel">
    <div class="card-body">
      <%= lodging.options_text.try(:html_safe) %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" role="tab">
    <h5>
      <a href="#collapse-polices<%= reservation.id %>" data-toggle="collapse" class="collapsed">Reservation and cancellation policies</a>
    </h5>
  </div>

  <div class="collapse" id="collapse-polices<%= reservation.id %>" data-parent="#reservation-accordion" role="tabpanel">
    <div class="card-body">
      <%= lodging.payment_terms_text.try(:html_safe) %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" role="tab">
    <h5>
      <a href="#collapse-arrival-info<%= reservation.id %>" data-toggle="collapse" class="collapsed">Route Description and arrival information</a>
    </h5>
  </div>

  <div class="collapse" id="collapse-arrival-info<%= reservation.id %>" data-parent="#reservation-accordion" role="tabpanel">
    <div class="card-body">
      <% lodging.attachments.each do |attachment| %>
        <%= link_to attachment, attachment, target: :_blank %>
      <% end %>
    </div>
  </div>
</div>
