<% content_for :body_class, "pr-3" %>

<div class="row bg-secondary">
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-12">
        <div class="row pl-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body bg-white">
                <div class="row">
                  <div class="col-12">
                    <%= link_to 'Remove', trip_path(@trip), class: 'float-right text-info', method: :delete, data: { confirm: "Are you sure you want to remove this trip?" } %>

                    <%= link_to 'Edit', edit_trip_path(@trip), class: 'float-right mr-2' %>
                    <%= link_to 'Shareable Link', public_trip_path(@trip), class: 'text-info float-right mr-2', target: '_blank' if @trip.everyone? %>

                    <h3><%= @trip.name %></h3>

                    <div class="row mt-2">
                      <div class="col-md-6">
                        <span class="text-bold">Guests: </span> <span><%= "#{@trip.adults} #{'Adult'.pluralize @trip.adults}" %>, <%= "#{@trip.children} #{'Child'.pluralize @trip.children}" %></span><br>
                        <span class="text-bold">Dates: </span><span><%= "#{render_date @trip.check_in} - #{render_date @trip.check_out}" %></span><br>
                        <span class="text-bold">Budget per night: </span><span><%= render_rounded_price(@trip.budget) %></span><br>
                        <span class="text-bold">Advice from nice2stay: </span><span>No</span><br>
                      </div>

                      <div class="col-md-6">
                        <span class="text-bold">Visibility: </span> <span><%= @trip.visibility.titleize %></span><br>
                        <% if @trip.everyone? %>
                          <span class="text-bold">Shareable Link: </span> <span><%= link_to 'link', public_trip_path(@trip), class: 'text-info', target: '_blank' %></span><br>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row pl-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body bg-white">
                <div class="row">
                  <div class="col-12">
                    <div id="trip-flash-messages"></div>
                    <%= link_to 'Add Members', new_trip_trip_member_path(@trip), class: 'float-right', remote: true %>

                    <div class="row mt-2 trip-members">
                      <%= render 'trip_members', trip: @trip %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row pl-3 lodgings-list bg-secondary" id="lodgings-list">
          <%= tag.div class: "lodgings-list-json", data: { features: @trip.lodgings.collect(&:feature), bounds: params[:bounds], ids: @trip.lodgings.pluck(:id) } %>

          <%= render partial: 'lodging', collection: @trip.lodgings, as: :lodging, locals: { trip: @trip } %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5 fixed-map d-none d-sm-block">
    <%= tag.div nil, id: 'map', class: 'lodgings-map' %>
  </div>
</div>

<div id="lodging-quick-view"></div>

<%= content_for :js_init do %>
  Lodging.init();
  Map.init();
  Filters.switch_view('<%= params[:layout_view] %>');
  Invoice.init();
<% end %>

<%= content_for :footer_class do 'd-none' end %>
