<div class="modal fade guest-centric-modal" id="offers-modal-<%= child['offer'].gsub('.', '-') %>" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0 pl-3">
        <div class="row">
          <div class="col-md-6">
            <p class="text-sm">
              <div>
                <h4 class="modal-title"><%= child['name'] %></h4>
                <hr class="mt-2 mb-3">
              </div>

              <ul class="nav nav-tabs justify-content-start ml-0" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#photos-tab-<%= child['beid'] %>" data-toggle="tab" role="tab">Photos</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#description-tab-<%= child['beid'] %>" data-toggle="tab" role="tab">Desciption</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#terms-tab-<%= child['beid'] %>" data-toggle="tab" role="tab">Terms & Conditions</a>
                </li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane fade show active" id="photos-tab-<%= child['beid'] %>" role="tabpanel">
                  <div class="owl-carousel">
                    <%= render_guest_centric_images child, class: "modal-slider-img" %>
                  </div>
                </div>

                <div class="tab-pane fade show" id="description-tab-<%= child['beid'] %>" role="tabpanel">
                  <div id="guest-centric-child-description">
                    <%= child['longDescription'].html_safe %>
                  </div>
                </div>

                <div class="tab-pane fade show" id="terms-tab-<%= child['beid'] %>" role="tabpanel">
                  <%= child['termsAndConditions'] %>
                </div>
              </div>
            </p>
          </div>

          <div class="col-md-6 price_box">
            <h5>Reservation Summary</h5>
            <div class="rates row pl-2 mb-3"></div>

            <div class="row p-2 mt-5">
              <span class="col-md-8 text-left border-bottom border-black p-0">
                Total for your stay
              </span>

              <span class="col-md-4 text-right border-bottom border-black">
                €<%= child['netValue'] %>
              </span>
            </div>

            <div class="row row pl-2 pr-2 pt-0">
              <span class="col-md-8 text-left border-bottom border-black p-0">
                Meals
              </span>

              <span class="col-md-4 text-right border-bottom border-black meal-price">
                €<%= reservation.meal_price %>
              </span>
            </div>

            <div class="row row pl-2 pr-2 pt-0">
              <span class="col-md-8 text-left border-bottom border-black p-0">
                Taxes
              </span>

              <span class="col-md-4 text-right border-bottom border-black">
                €<%= child['tax'] %>
              </span>
            </div>

            <div class="row p-2 mb-5">
              <span class="col-md-8 text-left p-0">
                Total amount
              </span>

              <span class="col-md-4 text-right price">
                €<%= child['total'] %>
              </span>
            </div>

            <div class="row">
              <div class="col-md-12 p-0">
                <%= button_tag class: "btn btn-primary btn-booking btn-md float-right", id: "cart-#{lodging.id}", data: { form_id: "#new_reservation_#{lodging.id}" }, value: "cart" do %>
                  <i class="material-icons add_shopping_cart"></i>&nbsp; Add To Cart
                <% end %>

                <button class="close float-right btn btn-secondary" type="button" data-dismiss="modal" aria-label="Close">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
