<tr>
  <td>
    <div class="product-item">
      <%= link_to wishlist.lodging, class: 'product-thumb' do %>
        <%= image_tag wishlist.lodging_image if wishlist.lodging_image.present? %>
      <% end %>

      <div class="product-info">
        <h4 class="product-title">
          <%= link_to wishlist.lodging_name, wishlist.lodging %>
        </h4>
      </div>
    </div>
  </td>

  <td class="text-center text-lg text-medium"><%= wishlist.check_in %></td>
  <td class="text-center text-lg text-medium"><%= wishlist.check_out %></td>
  <td class="text-center text-lg text-medium"><%= wishlist.adults %></td>
  <td class="text-center text-lg text-medium"><%= wishlist.children %></td>

  <td class="text-center">
    <%= link_to remove_dashboard_wishlists_path(wishlist_id: wishlist), class: 'remove-from-cart', remote: true do %>
      <i class="material-icons">close</i>
    <% end %>

    <%= link_to wishlist.lodging, class: 'remove-from-cart' do %>
      <i class="material-icons">edit</i>
    <% end %>
  </td>
</tr>
