<div class="container padding-bottom-3x mb-2">
  <div class="row mt-5">
    <div class="col-lg-12">
      <h4>Wish Lists</h4>
      <%= form_for @wishlist, url: wishlists_path do |f| %>
        <%= render 'shared/errors', resource: @wishlist %>

        <div class="row">
          <div class="col-md-4">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="col-md-4">
            <%= f.label :adults %>
            <%= f.number_field :adults, class: 'form-control' %>
          </div>

          <div class="col-md-4">
            <%= f.label :children %>
            <%= f.number_field :children, class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <%= f.label :check_in %>
            <%= f.text_field :check_in, class: 'form-control' %>
          </div>

          <div class="col-md-6">
            <%= f.label :check_out %>
            <%= f.text_field :check_out, class: 'form-control' %>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-md-10">
            <%= f.label :notes %>
            <%= f.text_area :notes, class: 'form-control' %>
            <%= hidden_field_tag :wishlist_id, @wishlist.id %>
          </div>
        </div>

        <%= link_to 'Back To Wishlist', wishlists_path, class: "btn btn-outline-secondary m-0" %>
        <%= submit_tag 'Update', class: "btn btn-primary float-right" %>
      <% end %>
    </div>
  </div>
</div>
