<div class="col-lg-3">
  <aside class="user-info-wrapper">
    <div class="user-cover cover-img"></div>

    <div class="user-info">
      <div class="user-avatar w-50">
        <%= link_to edit_user_registration_path, class: 'edit-avatar' do %>
          <i class="material-icons edit"></i>Edit Profile
        <% end %>
        <%= render_user_image current_user %>
      </div>

      <div class="user-data d-table-row text-center">
        <h5><%= current_user.full_name.humanize %></h5>
        <span>Joined <%= render_date(current_user.created_at) %></span>
      </div>
    </div>
  </aside>

  <nav class="list-group">
    <%= link_to dashboard_path, class: "list-group-item #{active_class(dashboard_path)}" do %>
      <i class="icon-home"></i>Dashboard Home
    <% end %>

    <%= link_to dashboard_reservations_path, class: "list-group-item with-badge #{active_class(dashboard_reservations_path)}" do %>
      <i class="icon-bag"></i>Bookings & Options<span class="badge badge-default badge-pill"><%= reservations_count %></span>
    <% end %>

    <a class="list-group-item" href="#">
      <i class="icon-head"></i>Profile
    </a>

    <a class="list-group-item" href="#">
      <i class="icon-map"></i>Addresses
    </a>

    <a class="list-group-item with-badge" href="#">
      <i class="icon-heart"></i>Wishlist<span class="badge badge-default badge-pill">3</span>
    </a>

    <a class="list-group-item with-badge" href="#">
      <i class="icon-tag"></i>My Tickets<span class="badge badge-default badge-pill">4</span>
    </a>
  </nav>
</div>
