<div class="card mb-3">
  <div class="p-4 text-center text-white text-lg bg-dark"><span class="text-uppercase">Booking - </span><span class="text-medium"><%= @payment_booking.identifier %></span></div>

  <% if @pre_payment.present? %>
    <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2">
      <div class="w-100 text-center py-1 px-2"><span class='text-medium'>Type: </span><%= @pre_payment.description %></div>
      <div class="w-100 text-center py-1 px-2"><span class='text-medium'>Status: </span><%= @pre_payment.status %></div>
      <div class="w-100 text-center py-1 px-2"><span class='text-medium'>Paid At: </span><%= render_datetime @pre_payment.paid_at %></div>
    </div>
  <% end %>

  <% if @final_payment.present? %>
    <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2">
      <div class="w-100 text-center py-1 px-2"><span class='text-medium'>Type: </span><%= @final_payment.description %></div>
      <div class="w-100 text-center py-1 px-2"><span class='text-medium'>Status: </span><%= @final_payment.status %></div>
      <div class="w-100 text-center py-1 px-2"><span class='text-medium'>Paid At: </span><%= render_datetime @final_payment.paid_at %></div>
    </div>
  <% end %>
</div>
