<div class="toolbar-section" id="account">
  <% if user_signed_in? %>
    <%= "You are logged in with #{session[:social_site]} and your account is connected to #{current_user.email}" if session[:social_site].present? %>

    <%= link_to 'Logout', destroy_user_session_path, class: 'btn btn-primary btn-block', method: :delete %>
    <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary btn-block' %>
    <%= link_to 'Dashboard', dashboard_path, class: 'btn btn-primary btn-block' %>
  <% else %>
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="nav-item"><a class="nav-link active" href="#login" data-toggle="tab" role="tab">Log In</a></li>
      <li class="nav-item"><a class="nav-link" href="#signup" data-toggle="tab" role="tab">Sign Up</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="login" role="tabpanel">
        <%= render 'devise/sessions/form', remote: false %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %>
      </div>

      <div class="tab-pane fade" id="signup" role="tabpanel">
        <%= render 'devise/registrations/form', countries: @countries.collect{ |country| [country.name, country.id] } %>
      </div>
    </div>
  <% end %>
</div>
