<title><%= render_title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="google-site-verification" content="CUCAhEqIbO8HjPi9rWrY3mtJNrN1BUnyoCimfEBxze8" />

<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif" rel="stylesheet">

<link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
<%= javascript_include_tag "https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js", 'application', 'data-turbolinks-track': 'reload' %>

<link rel="canonical" href="<%= yield :canonical %>">

<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application', media: 'all' %>
<% if content_for? :meta_tags %>
  <%= yield :meta_tags %>
<% else %>
  <meta name="title" content="<%= default_meta_title %>">
  <meta name="description" content="<%= default_meta_description %>">
<% end %>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-899429-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-899429-5');
</script>
