<header class="navbar navbar-sticky">
  <!-- Site Branding-->
  <div class="site-branding col-1">
    <%= link_to root_path do %>
      <%= render_logo_tag %>
    <% end %>
  </div>

  <nav class="site-menu <%= yield :site_menu_class %>">
    <div class="container-fluid">
      <!-- Search Section-->
      <%= render 'shared/menu_search' %>
    </div>
  </nav>

  <!-- Toolbar-->
  <div class="toolbar">
    <div class="inner">
      <a class="toolbar-toggle" href="#mobileMenu">
        <i class="material-icons menu"></i>
      </a>

      <a class="toolbar-toggle search-toggle" href="#search">
        <i class="material-icons search"></i>
      </a>

      <a class="toolbar-toggle toolbar-wishlist" href="#wishlist">
        <i>
          <span class="material-icons favorite_border"></span>
          <span class="count wishlist-items-count"><%= wishlist_items_count(@wishlists) %></span>
        </i>
      </a>

      <a class="toolbar-toggle toolbar-cart" href="#cart">
        <i>
          <span class="material-icons shopping_basket"></span>
          <span class="count cart-items-count"><%= cart_items_count(@booking.try(:reservations)) %></span>
        </i>
      </a>

      <a class="toolbar-toggle" href="#account">
        <i class="material-icons person"></i>
      </a>
    </div>

    <!-- Toolbar Dropdown-->
    <div class="toolbar-dropdown">
      <!-- Mobile Menu Section-->
      <div class="toolbar-section" id="mobileMenu">
        <!-- Currency / Language Siwtcher-->
        <div class="text-center mb-4">
          <li>
            <% if I18n.locale == :nl %>
              <%= link_to locale: 'en' do %>
               <span><%= image_tag('united-states-of-america-flag-icon-16.png', width: '16', height: '11', alt: 'English') %> </span>
                <% end %>
              <% else %>
                <%= link_to locale: 'nl' do %>
                 <span><%= image_tag('netherlands-flag-icon-16.png', width: '16', height: '11', alt: 'English') %> </span>
              <% end %>
            <% end %>
          </li>
        </div>

        <!-- Slideable (Mobile) Menu-->
        <nav class="slideable-menu mt-4">
          <ul class="menu">
            <li>
              <span>
                <%= link_to root_path do %>
                  <span>Home</span>
                <% end %>
              </span>
            </li>

            <li class="has-children">
              <span>
                <a href="#"><span>Nice2Stay</span></a>
                <span class="sub-menu-toggle"></span>
              </span>

              <ul class="slideable-submenu">
                <% @pages.each do |page| %>
                  <li><%= link_to page.title, page_path(page) %></li>
                <% end if @pages.present? %>
              </ul>
            </li>

            <li class="has-children"><span><a href="#"><span>Languages</span></a><span class="sub-menu-toggle"></span></span>
              <ul class="slideable-submenu">
                <li><%= link_to 'English', locale: 'en' %></li>
                <li><%= link_to 'Dutch', locale: 'nl' %></li>
              </ul>
            </li>

            <li class="has-children">
              <span><a href="#"><span>Landen & regio's</span></a>
              <span class="sub-menu-toggle"></span></span>

              <ul class="slideable-submenu">
                <% @countries_enabled.each do |country| %>
                  <li class="has-children">
                    <span>
                      <%= link_to country_path(country, locale: locale) do %>
                        <span><%= country.name %></span>
                      <% end %>
                      <span class="sub-menu-toggle"></span>
                    </span>

                    <ul class="slideable-submenu">
                      <% country.regions.each do | region | %>
                        <li><%= link_to region.name, country_region_path(country, region, locale: locale) %></li>
                      <% end %>
                    </ul>
                  </li>
                <% end if @countries_enabled.present? %>
              </ul>
            </li>

            <li class="has-children">
              <span><a href="#"><span>Collection</span></a>
              <span class="sub-menu-toggle"></span></span>

              <ul class="slideable-submenu">
                <li class="has-children">
                  <span>
                    <span><a>popular collections</a></span>
                    <span class="sub-menu-toggle"></span>
                  </span>

                  <ul class="slideable-submenu">
                    <% @menu_custom_texts.each do |custom_text| %>
                      <li><%= link_to custom_text.menu_title, seo_url(custom_text.seo_path) %></li>
                    <% end if @menu_custom_texts.present? %>
                  </ul>
                </li>

                <% @countries_enabled.each do |country| %>
                  <li class="has-children">
                    <span>
                      <span><a><%= country.name %></a></span>
                      <span class="sub-menu-toggle"></span>
                    </span>

                    <ul class="slideable-submenu">
                      <% country.custom_texts.country_menu.each do |custom_text| %>
                        <li><%= link_to custom_text.menu_title, seo_url(custom_text.seo_path) %></li>
                      <% end %>
                    </ul>
                  </li>
                <% end if @countries_enabled.present? %>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Search Section-->
      <%= render 'shared/search' %>
      <!-- Account Section-->
      <%= render 'shared/account' %>
      <!-- Shopping Cart Section-->
      <%= render 'shared/cart', reservations: @booking.try(:reservations) %>
      <!-- Wishlist Section-->
      <%= render 'shared/wishlist', wishlists: @wishlists %>
    </div>
  </div>
</header>
