<header class="navbar navbar-sticky">
  <!-- Site Branding-->
  <div class="site-branding">
    <%= link_to root_path do %>
      <%= image_tag "site-logo.png", class: "site-logo" %>
    <% end %>
  </div>

  <!-- Main Navigation-->
  <nav class="site-menu">
    <ul>
      <li>
        <%= link_to root_path do %>
          <span>Home</span>
        <% end %>
      </li>

      <li><a href="#"><span>Nice2stay</span></a>
        <ul class="sub-menu">
          <% @pages.each do |page| %>
            <li><%= link_to page.title, page_path(page) %></li>
          <% end %>
        </ul>
      </li>

       <li><a href="#"><span><%= t 'nav.land' %></span></a>
        <ul class="mega-menu">
          <% @countries_enabled.each do |country| %>
            <li><span class="mega-menu-title"><%= link_to country.name, country_path(country, locale: locale) %> </span>
              <ul>
                <% country.regions.each do | region | %>
                  <li><%= link_to region.name, country_region_path(country, region, locale: locale) %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>

      <li><a href="#"><span><%= t 'nav.collections' %></span></a>
        <ul class="mega-menu">
          <li><span class="mega-menu-title"><a>popular collections</a></span>
            <ul>
              <% @menu_custom_texts.each do |custom_text| %>
                <li><%= link_to custom_text.h1_text, custom_text.seo_path %></li>
              <% end %>
            </ul>
          </li>

          <% @countries_enabled.each do |country| %>
            <li><span class="mega-menu-title"><a><%= country.name %></a></span>
              <ul>
                <% country.custom_texts.country_menu.each do |custom_text| %>
                  <li><%= link_to custom_text.h1_text, custom_text.seo_path %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>

      <li>
        <% if I18n.locale == :nl %>
          <%= link_to locale: 'en' do %>
            <span>
              <%= image_tag('united-states-of-america-flag-icon-16.png', width: '16', height: '11', alt: 'English') %>
            </span>
          <% end %>
        <% else %>
          <%= link_to locale: 'nl' do %>
            <span>
              <%= image_tag('netherlands-flag-icon-16.png', width: '16', height: '11', alt: 'English') %>
            </span>
          <% end %>
        <% end %>
      </li>
    </ul>
  </nav>
  <!-- Toolbar-->
  <div class="toolbar">
    <div class="inner">
      <a class="toolbar-toggle mobile-menu-toggle" href="#mobileMenu">
        <i class="material-icons menu"></i>
      </a>

      <a class="toolbar-toggle search-toggle" href="#search">
        <i class="material-icons search"></i>
      </a>

      <a class="toolbar-toggle" href="#account">
        <i class="material-icons person"></i>
      </a>

      <a class="toolbar-toggle toolbar-wishlist" href="#wishlist">
        <i>
          <span class="material-icons favorite_border"></span>
          <span class="count wishlist-items-count"><%= wishlist_items_count(@wishlists) %></span>
        </i>
      </a>

      <a class="toolbar-toggle toolbar-cart" href="#cart">
        <i>
          <span class="material-icons shopping_basket"></span>
          <span class="count cart-items-count"><%= cart_items_count(@booking.try(:reservations)) %></span>
        </i>
      </a>
      <% if user_signed_in? %>
        <a class="toolbar-toggle toolbar-notifications" href="#notifications">
          <i>
            <span class="material-icons notifications"></span>
            <span class="count unread-notifications-count">3</span>
          </i>
        </a>
      <% end %>
    </div>

    <!-- Toolbar Dropdown-->
    <div class="toolbar-dropdown">
      <!-- Mobile Menu Section-->
      <div class="toolbar-section" id="mobileMenu">
        <!-- Currency / Language Siwtcher-->
        <div class="text-center mb-4">
          <li>
            <% if I18n.locale == :nl %>
              <%= link_to locale: 'en' do %>
               <span><%= image_tag('united-states-of-america-flag-icon-16.png', width: '16', height: '11', alt: 'English') %> </span>
                <% end %>
              <% else %>
                <%= link_to locale: 'nl' do %>
                 <span><%= image_tag('netherlands-flag-icon-16.png', width: '16', height: '11', alt: 'English') %> </span>
              <% end %>
            <% end %>
          </li>
        </div>

        <!-- Slideable (Mobile) Menu-->
        <nav class="slideable-menu mt-4">
          <ul class="menu">
            <li>
              <span>
                <%= link_to root_path do %>
                  <span>Home</span>
                <% end %>
              </span>
            </li>

            <li class="has-children">
              <span>
                <a href="#"><span>Nice2Stay</span></a>
                <span class="sub-menu-toggle"></span>
              </span>

              <ul class="slideable-submenu">
                <% @pages.each do |page| %>
                  <li><%= link_to page.title, page_path(page) %></li>
                <% end %>
              </ul>
            </li>

            <li class="has-children"><span><a href="#"><span>Languages</span></a><span class="sub-menu-toggle"></span></span>
              <ul class="slideable-submenu">
                <li><%= link_to 'English', locale: 'en' %></li>
                <li><%= link_to 'Dutch', locale: 'nl' %></li>
              </ul>
            </li>

            <li class="has-children">
              <span><a href="#"><span>Landen & regio's</span></a>
              <span class="sub-menu-toggle"></span></span>

              <ul class="slideable-submenu">
                <% @countries.each do |country| %>
                  <li class="has-children">
                    <span>
                      <%= link_to country_path(country, locale: locale) do %>
                        <span><%= country.name %></span>
                      <% end %>
                      <span class="sub-menu-toggle"></span>
                    </span>

                    <ul class="slideable-submenu">
                      <% country.regions.each do | region | %>
                        <li><%= link_to region.name, country_region_path(country, region, locale: locale) %></li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </li>

            <li class="has-children">
              <span><a href="#"><span>Collection</span></a>
              <span class="sub-menu-toggle"></span></span>

              <ul class="slideable-submenu">
                <li class="has-children">
                  <span>
                    <span><a>popular collections</a></span>
                    <span class="sub-menu-toggle"></span>
                  </span>

                  <ul class="slideable-submenu">
                    <% @menu_custom_texts.each do |custom_text| %>
                      <li><%= link_to custom_text.h1_text, custom_text.seo_path %></li>
                    <% end %>
                  </ul>
                </li>

                <% @countries_enabled.each do |country| %>
                  <li class="has-children">
                    <span>
                      <span><a><%= country.name %></a></span>
                      <span class="sub-menu-toggle"></span>
                    </span>

                    <ul class="slideable-submenu">
                      <% country.custom_texts.country_menu.each do |custom_text| %>
                        <li><%= link_to custom_text.h1_text, custom_text.seo_path %></li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Search Section-->
      <div class="toolbar-section" id="search">
        <%= form_tag lodgings_path, method: :get, id: 'dates-form', data: { check_in: params[:check_in], check_out: params[:check_out] } do %>
          <%= text_field_tag :query, params[:query], placeholder: "Type your search query or nothing", class: 'form-control autocomplete', id: "navbar-autocomplete" %>
          <%= hidden_field_tag :adults, params[:adults], id: :dates_adults if params[:adults].present? %>
          <%= hidden_field_tag :children, params[:children], id: :dates_children if params[:children].present? %>
          <%= hidden_field_tag :infants, params[:infants], id: :dates_infants if params[:infants].present? %>

          <%= hidden_field_tag :min_price, params[:min_price], id: :dates_min_price if params[:min_price].present? %>
          <%= hidden_field_tag :max_price, params[:max_price], id: :dates_max_price if params[:max_price].present? %>
          <%= hidden_field_tag :order, params[:order], id: :dates_order if params[:order].present? %>

          <%# if params[:lodging_type_in].present? %>
            <%# params[:lodging_type_in].each do |lodging_type| %>
              <%#= hidden_field_tag 'lodging_type_in[]', lodging_type, id: "dates_lodging_type_#{lodging_type}" %>
            <%# end %>
          <%# end %>

          <%= submit_tag 'SEARCH', class: 'col-md-12 btn btn-primary btn-sm' %>
         <% end %>
        <!-- Products-->
      </div>
      <!-- Account Section-->
      <%= render 'shared/account' %>
      <!-- Shopping Cart Section-->
      <%= render 'shared/cart', reservations: @booking.try(:reservations) %>
      <!-- Wishlist Section-->
      <%= render 'shared/wishlist', wishlists: @wishlists %>
      <!-- Notifications Section-->
      <%= render 'shared/notifications' if user_signed_in? %>
    </div>
  </div>
</header>
