<%= form_for lead, remote: true do |f| %>
  <div class="leads-form-errors">
    <%= render 'shared/errors', resource: lead %>
  </div>

  <%= f.fields_for current_user || lead.build_user do |user| %>
    <fieldset <%= 'disabled' if user_signed_in? %>>
      <div class="form-group row">
        <%= user.label :first_name, class: 'col-2 col-form-label text-muted' %>

        <div class="col-10">
          <%= user.text_field :first_name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row">
        <%= user.label :last_name, class: 'col-2 col-form-label text-muted' %>

        <div class="col-10">
          <%= user.text_field :last_name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row">
        <%= user.label :phone, class: 'col-2 col-form-label text-muted' %>

        <div class="col-10">
          <%= user.text_field :phone, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group row">
        <%= user.label :email, class: 'col-2 col-form-label text-muted' %>

        <div class="col-10">
          <%= user.email_field :email, class: 'form-control' %>
          <%= user.hidden_field :skip_validations, value: true %>
        </div>
      </div>
    </fieldset>

    <% unless user_signed_in? %>
      <div class="password-fields d-none">
        <div class="form-group row">
          <%= user.label :password, class: 'col-2 col-form-label text-muted' %>

          <div class="col-10">
            <%= user.password_field :password, class: 'form-control', autocomplete: 'new-password' %>
          </div>
        </div>

        <div class="form-group row">
          <%= user.label :password_confirmation, class: 'col-2 col-form-label text-muted' %>

          <div class="col-10">
            <%= user.password_field :password_confirmation, class: 'form-control', autocomplete: 'new-password' %>
          </div>
        </div>
      </div>
      <hr class="padding-bottom-1x">

      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= check_box_tag :create_account, nil, show_password_fields?(user.object), class: "custom-control-input" %>
          <label class="custom-control-label" for="create_account">Do you want to create an account?</label>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="form-group row">
    <%= f.label :from, 'Dates', class: 'col-2 col-form-label text-muted' %>

    <div class="col-10 vue-app">
      <datepicker
      :trigger-id="'trigger-range-2'"
      :check-in="'<%= params[:check_in]%>'"
      :check-out="'<%= params[:check_out]%>'"
      :months="2"
      :min-date="'<%= Date.yesterday %>'"
      :action-buttons="true"
      :full-screen="false"
      :trigger-button="'btn btn-outline-primary w-100'"
      :inline="false" />
    </div>

    <%= f.hidden_field :from, class: 'check-in' %>
    <%= f.hidden_field :to, class: 'check-out' %>
  </div>

  <div class="form-group row">
    <%= f.label :adults, 'Guests', class: 'col-2 col-form-label text-muted' %>

    <div class="vue-app col-10">
      <guests-dropdown
        :adults="<%= no_of_adults(f.object.adults).to_i %>"
        :children="<%= f.object.childrens.to_i %>"
        :infants="<%= 0 %>"
        :adults-target="'.lead-adults'"
        :children-target="'.lead-children'"
        :infants-target="'.lead-infants'"
        :dropdown-id="'<%= "guests-dropdown-leads" %>'"
        :show-apply="false"
        :button-classes="'btn btn-outline-primary dropdown-toggle col-md-12'"
      />
    </div>
    <%= f.hidden_field :adults, value: no_of_adults(f.object.adults), min: 1, class: 'lead-adults' %>
    <%= f.hidden_field :childrens, value: f.object.childrens, min: 0, class: 'lead-children' %>
  </div>

  <div class="form-group row">
    <%= f.label :extra_information, class: 'col-2 col-form-label text-muted' %>

    <div class="col-10">
      <%= f.text_area :extra_information, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :countries, class: 'col-2 col-form-label text-muted' %>

    <div class="col-10">
      <%= f.select :country_ids, countries.map { |s| [s.name, s.id] }, { include_blank: false }, { multiple: true, class: 'form-control chosen-select', data: { placeholder: "Select countries" } } if countries.present? %>
    </div>
  </div>

  <%= f.submit t('lead.submit'), class: 'btn btn-primary margin-top-none' %>
<% end %>

<% content_for :js_init do %>
  ChosenSelect.init();
  Cart.init();
<% end %>
