<%= form_for [:dashboard, reservation, review] do |f| %>
  <%= render 'shared/errors', resource: review %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :setting %>
            <%= f.number_field :setting, min: 0, max: 10, step: 0.1, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :quality %>
            <%= f.number_field :quality, min: 0, max: 10, step: 0.1, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :interior %>
            <%= f.number_field :interior, min: 0, max: 10, step: 0.1, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :communication %>
            <%= f.number_field :communication, min: 0, max: 10, step: 0.1, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :service %>
            <%= f.number_field :service, min: 0, max: 10, step: 0.1, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :stars %>
            <%= f.number_field :stars, min: 0, max: 10, step: 1, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :suggetion %>
        <%= f.text_area :suggetion, class: 'form-control' %>
      </div>
    </div>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-outline-primary btn-sm' %>
<% end %>
