<div class="row price_box m-0">
  <div class="jumbotron col-md-8 p-0">
    <div class="dark-overlay-image">
      <div class="container-fluid">
        <div class="col-md-12 text-center mt-200">
          <h1 class="text-white display-4 text-uppercase">Trust Our Taste </h1>
          <h3 class="text-white"> <%= t 'usp.discover' %> </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 pl-5 pr-5 my-auto">
    <h6 class="text-bold"><%= t 'usp.intro_details' %></h6>
    <h4 class="text-bold"> <%= t 'usp.discover' %> </h4>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 margin-top-1x ups-tags">
      <div class="card margin-bottom-1x">
        <div class="card-body bg-white">
          <div class="row pt-2">
            <div class="col-md-12">
              <div class="row">
                <span class="col-md-4 display-4 text-gray-light mb-4 text-center">
                  <%= image_tag("usp_visit.png", alt: "visit") %>
                </span>

                <div class="col-md-8">
                  <h4 class="h5 mb-2"><%= t 'usp.inspect' %></h4>
                  <p class="text-muted text-xxxs mb-0"><%= t 'usp.inspect_details' %></p>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row">
                <span class="col-md-4 display-4 text-gray-light mb-4 text-center">
                  <%= image_tag("usp_support.png", alt: "visit") %>
                </span>

                <div class="col-md-8">
                  <h5 class="h5 mb-2"><%= t 'usp.price' %></h5>
                  <p class="text-muted text-xxxs mb-0"><%= t 'usp.price_details' %></p>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row">
                <span class="col-md-4 display-4 text-gray-light mb-4 text-center">
                  <%= image_tag("usp_helpdesk.png", alt: "visit") %>
                </span>

                <div class="col-md-8">
                  <h5 class="h5 mb-2"><%= t 'usp.advice' %></h5>
                  <p class="text-muted text-xxxs mb-0"><%= t 'usp.advice_details' %></p>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row">
                <span class="col-md-4 display-4 text-gray-light mb-4 text-center">
                  <%= image_tag("usp_secure.png", alt: "visit") %>
                </span>

                <div class="col-md-8">
                  <h5 class="h5 mb-2"><%= t 'usp.payment' %></h5>
                  <p class="text-muted text-xxxs mb-0"><%= t 'usp.payment_details' %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% @campaigns.each do |campaign| %>
      <div class="col-sm-4 margin-top-1x spotlight-campaigns">
        <div class="row">
          <div class="col-md-12">
            <div class="grid-item gallery-item">
              <%= link_to campaign.title campaign.url do %>
                <%= image_tag campaign.image if campaign.image.present? %>
                <h2 class="image-title-box"><%= campaign.title %></h2>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h6 class="text-muted text-normal text-uppercase margin-top-3x text-center"><%= t 'collection.populair' %></h6>
  <hr class="margin-bottom-1x">
  <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;margin&quot;: 1, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;1&quot;:{&quot;items&quot;:2},&quot;2&quot;:{&quot;items&quot;:3},&quot;3&quot;:{&quot;items&quot;:5}} }">

    <% @custom_texts.popular.each do |custom_text| %>
      <div class="grid-item gallery-item">
        <%= link_to seo_url custom_text.seo_path do %>
          <%= image_tag custom_text.image if custom_text.image.present? %>
          <h2 class="image-title-box"><%= custom_text.menu_title %></h2>
          <span class="caption"><%= custom_text.h1_text %></span>
        <% end %>
      </div>
    <% end %>
  </div>

  <h6 class="text-muted text-normal text-uppercase margin-top-3x text-center">Popular Destination</h6>
  <hr class="margin-bottom-1x">
  <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;margin&quot;: 1, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;1&quot;:{&quot;items&quot;:2},&quot;2&quot;:{&quot;items&quot;:3},&quot;3&quot;:{&quot;items&quot;:5}} }">

    <% @countries_enabled.each do |country| %>
      <div class="grid-item gallery-item">
        <%= link_to country_path(country, locale: locale) do %>
          <%= image_tag country.image if country.image.present? %>
          <h2 class="image-title-box"><%= country.name %></h2>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="margin-bottom-2x"></div>
</div>

<% content_for :canonical do %><%= root_url %><% end %>
