<div class="row mt-3 children-scroll-section col-md-12">
  <div class="col-md-3 col-border bg-white">
    <%= render_image_tag lodging, class: 'w-100 max-height-230' %>
  </div>

  <div class="col-md-2 col-border bg-white">
    <p class="text-xxs"> <b><%= lodging.child_name.try(:capitalize) %></b></p>
    <p class="text-xxxs">
     <%= lodging.minimum_adults %> - <%= pluralize lodging.adults, t('search.guest'), t('search.guests') %> 
    </p>

    <p class="text-xxxs">
      <% if lodging.children.present? %>
        <%= lodging.minimum_children %> - <%= pluralize lodging.children, t('search.child'), t('search.children_1') %>
      <% end %>
    </p>

    <p class="text-xxxs">
      <%= pluralize lodging.beds, t('search.bedroom'), t('search.bedrooms') %>
    </p>

    <p class="text-xxxs">
      <%= pluralize lodging.baths, t('search.bathroom'), t('search.bathrooms') %>
    </p>
  </div>

  <div class="col-md-4 bg-white col-border">
    <div class="reservation-form-errors-<%= lodging.id %> child-form-errors">
       <%= render 'reservations/errors', resource: lodging.reservations.build %>
    </div>
    <%= form_for lodging.reservations.build, url: reservations_path, remote: true, html: { id: "new_reservation_#{lodging.id}" } do |f| %>
      <b><p class="mb-0 mt-0 text-xxxs anternative-heading" id="anternative-heading-<%= lodging.id %>">
      </p></b>

      <b><p class="text-xxs" id="lbl-error-<%= lodging.id %>" data-text="<%= t('cart.select_details') %>"></p></b>
      <div id="flexible-search-<%= lodging.id %>" class="text-xxs flexible-search-data"></div><br>

      <div class="bg-white mb-2">
        <p class="text-xxxs bg-secondary-2">
          <% [:prebooking, :option].each do |status| %>
            <%= f.radio_button :booking_status, status, id: "booking_status_#{status}_#{lodging.id}" %>
            <label><%= t("reservations.#{status}") %></label>
          <% end %>
        </p>
        
        <a data-toggle="modal" class="cursor-pointer text-dark-bold text-xxxs" data-target="#child-details-modal-<%= lodging.id %>"><%= t 'cart.details' %>
        </a>

        <%= hidden_field_tag "calculate_bill-#{lodging.id}", true %>
        <%= f.hidden_field :check_in, value: params[:check_in], id: "check_in_#{lodging.id}", class: 'check_in' %>
        <%= f.hidden_field :check_out, value: params[:check_out], id: "check_out_#{lodging.id}", class: 'check_out' %>
        <%= f.hidden_field :adults, value: no_of_adults(params[:adults] || f.object.adults), id: "adults_#{lodging.id}", class: 'adults' %>
        <%= f.hidden_field :children, value: (params[:children] || f.object.children), id: "children_#{lodging.id}", class: 'children' %>
        <%= f.hidden_field :infants, value: (params[:infants] || f.object.infants), id: "infants_#{lodging.id}", class: 'infants' %>
        <%= f.hidden_field :lodging_id, value: lodging.id, id: "lodging_id_#{lodging.id}" %>
        <%= f.hidden_field :cleaning_cost, id: "cleaning_cost_#{lodging.id}", class: 'cleaning-cost' %>
        <%= f.hidden_field :discount, id: "discount_#{lodging.id}", class: 'discount' %>
      </div>
    <% end %>
  </div>

  <div class="col-md-3 bg-white col-border">
    <p class="text-sm text-dark" id="bill-<%= lodging.id %>"></p>
    <div class="row m-0">
      <%= link_to new_wishlists_path({ wishlist: { lodging_id: lodging.id } }), remote: true, class: 'col-md-2 my-auto pl-0' do %>
        <i class="fal fa-heart fa-2x"></i>
      <% end %>

      <%= button_tag class: "btn btn-primary col-md-9 btn-booking disabled", id: "cart-#{lodging.id}", data: { form_id: "#new_reservation_#{lodging.id}" } do %>
        <i class="material-icons add_shopping_cart"></i>&nbsp; Add To Cart
      <% end %>
    </div>
    <p class="text-xxxs text-center"><%= t 'cart.nice2stay' %></p>
  </div>
</div>
