<div class="card border-default bg-white pt-2 box-shadow">
  <div class="persisted-data" data-check-in="<%= params[:check_in]%>"
       data-check-out="<%= params[:check_out]%>"
       data-url="<%= price_details_lodging_path(lodging) %>"
       data-validate-url="<%= validate_reservations_path %>"></div>

  <div class="card-body">
    <h2 class="mb-3"><%= lodging_child.title %></h2>
    <p class="text-sm text-muted"><%= lodging.subtitle %></p>

    <div class="reservation-form-errors-<%= lodging_child.id %>">
      <%= render 'shared/errors', resource: lodging_child.reservations.build %>
    </div>

    <div id="lodging-url-<%= lodging_child.id %>"></div>

    <%= form_for lodging_child.reservations.build, html: { id: "new-reservation-#{lodging_child.id}" }, remote: true do |f| %>
      <div class="row">
        <div class="col-sm" id="lodging-url-<%= lodging_child.id %>"
             data-child-id="<%= lodging_child.id %>"
             data-disabled-dates="<%= lodging_child.not_available_on %>"
             data-flag-id="#calculate_bill_<%= lodging_child.id %>">
          <div class='reservation-datepicker'></div>
        </div>

        <div class="col-sm">
          <p id="lbl-error-<%= lodging_child.id %>"></p>

          <label>Adults</label>
          <%= f.number_field :adults, value: no_of_adults(f.object.adults), min: 1, max: lodging_child.maximum_guests(:adults), class: 'input-spinner', id: "reservation_adults_#{lodging_child.id}" %>

          <label>Children</label>
          <%= f.number_field :children, value: f.object.children, min: 0, class: 'input-spinner', id: "reservation_children_#{lodging_child.id}" %>

          <label>Infants</label>
          <%= f.number_field :infants, value: f.object.infants, min: 0, class: 'input-spinner', id: "reservation_infants_#{lodging_child.id}" %>
          <br>

          <% [:prebooking, :option].each do |status| %>
            <%= f.radio_button :booking_status, status %>
            <label><%= status %></label><br>
          <% end %>

          <br>
          <%= f.hidden_field :lodging_child_id, value: lodging_child.id %>
          <%= hidden_field_tag "calculate_bill_#{lodging_child.id}", true %>
          <br>
          <br>
          <h5 class="text-normal" id="bill-<%= lodging_child.id %>"></h5>
        </div>
      </div>
      <%= f.submit 'Add', class: "btn btn-primary col-md-12 btn-booking-#{ lodging_child.id} disabled" %>
    <% end %>

    <%= render 'wishlists/form', lodging: lodging %>
  </div>
</div>
