<div class="persisted-data"
    data-url="<%= price_details_lodging_path(lodging) %>"
    data-validate-url="<%= validate_reservations_path %>">
</div>

<div class="row sticky-top <%= 'pl-4' unless id_sufix.present? %>" id="availability-and-prices">
  <div class="col-md-12 <%= 'container' unless id_sufix.present? %>">
    <div class="row" data-lodging-id="<%= lodging.id %>">
      <div class="col-md-12">
        <div class="vue-app" data-id="vue_datepicker<%= id_sufix %>">
          <reservation-datepicker
            :check-in="'<%= params[:check_in] %>'"
            :check-out="'<%= params[:check_out] %>'"
            :months="1"
            :lodging-id="<%= lodging.id %>"
            :disabled-dates="<%= lodging.children_not_available_on %>"
            :min-date="'<%= Date.today %>'"
            :customized-dates="<%= lodging.customized_dates %>"
            :trigger-id="'<%= "datepicker-trigger-#{lodging.id}#{id_sufix}" %>'"
            :show-action-buttons="false"
            :inline="true"
          />
        </div>
      </div>

      <div class="col-md-12">
        <div class="vue-app" data-id="vue_guest_dropdown<%= id_sufix %>">
          <guests-dropdown
            :adults="<%= no_of_adults(params[:adults].to_i) %>"
            :children="<%= params[:children].to_i %>"
            :infants="<%= params[:infants].to_i %>"
            :adults-target="'.adults'"
            :children-target="'.children'"
            :infants-target="'.infants'"
            :dropdown-id="'<%= "guests-dropdown-#{lodging.id}#{id_sufix}" %>'"
            :show-apply="false"
            :button-classes="'btn btn-outline-primary dropdown-toggle w-100'"
            :max-adults="<%= lodging.adults.to_i %>"
            :max-children="<%= lodging.children.to_i %>"
            :max-infants="<%= lodging.infants.to_i %>"
            :lodging-ids="<%= lodging.lodging_children.try(:ids) %>"
          />
        </div>
      </div>

      <%= form_for reservation, url: reservations_path, remote: true, method: :post, html: { id: "new_reservation#{id_sufix}", class: 'col-md-12' } do |f| %>
        <%= f.hidden_field :check_in, value: params[:check_in], id: "check_in#{id_sufix}", class: 'check_in' %>
        <%= f.hidden_field :check_out, value: params[:check_out], id: "check_out#{id_sufix}", class: 'check_out' %>
        <%= f.hidden_field "adults#{id_sufix}", value: no_of_adults(params[:adults] || f.object.adults), class: 'adults' %>
        <%= f.hidden_field "children#{id_sufix}", value: (params[:children] || f.object.children), class: 'children' %>
        <%= f.hidden_field "infants#{id_sufix}", value: (params[:infants] || f.object.infants), class: 'infants' %>
        <%= f.hidden_field "lodging_id#{id_sufix}", value: lodging.id %>
      <% end %>

      <%= link_to 'Check Availability', '#', class: "btn btn-primary btn-calculate-bill w-100", data: { lodging_ids: lodging.lodging_children.try(:ids) } %>

      <% if lodging.free_cancelation? %>
        <div class="m-2 d-none">
          <p class="bg-white green-tag"><%= t('lodgings_index.free_cancelation_text', current_year: DateTime.now.year, next_year: DateTime.now.year.next).html_safe %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
