<div class="persisted-data"
    data-url="<%= price_details_lodging_path(lodging) %>"
    data-validate-url="<%= validate_reservations_path %>">
</div>

<div class="row price_box">
  <div class="col-md-12 col-sm-12 col-lg-12 pr-0">
    <h4 class="margin-bottom-1x"><%= t 'cart.availability' %> </h4>
    <div data-lodging-id="<%= lodging.id %>">

      <div class="vue-app">
        <div>
          <reservation-datepicker
            :check-in="'<%= params[:check_in] %>'"
            :check-out="'<%= params[:check_out] %>'"
            :check-in-title="'<%= t('search.check_in') %>'"
            :check-out-title="'<%= t('search.check_out') %>'"
            :months="1"
            :lodging-id="<%= lodging.id %>"
            :disabled-dates="<%= lodging.children_not_available_on %>"
            :min-date="'<%= Date.today %>'"
            :customized-dates="<%= lodging.customized_dates %>"
            :trigger-id="'<%= "datepicker-trigger-#{lodging.id}#{id_sufix}" %>'"
            :show-action-buttons="false"
          />
        </div>

        <div>
          <guests-dropdown
            :adults="<%= no_of_adults(params[:adults].to_i) %>"
            :children="<%= params[:children].to_i %>"
            :infants="<%= params[:infants].to_i %>"
            :adults-target="'.adults'"
            :children-target="'.children'"
            :infants-target="'.infants'"
            :dropdown-id="'<%= "guests-dropdown-#{lodging.id}#{id_sufix}" %>'"
            :show-apply="false"
            :button-classes="'btn btn-outline-primary dropdown-toggle w-100'"
            :max-adults="<%= lodging.adults.to_i %>"
            :max-children="<%= lodging.children.to_i %>"
            :max-infants="<%= lodging.infants.to_i %>"
          />
        </div>
      </div>
    </div>

    <% url = lodging.guest_centric? ? lodging_guest_centric_offer_path(lodging) : reservations_path %>
    <% method = lodging.guest_centric? ? 'get' : 'post'  %>
    <div class="col-md-12 p-0">
      <%= form_for reservation, url: url, remote: true, method: method, html: { id: "new_reservation#{id_sufix}" } do |f| %>

        <%= f.hidden_field :check_in, value: params[:check_in], id: "check_in#{id_sufix}", class: 'check_in' %>
        <%= f.hidden_field :check_out, value: params[:check_out], id: "check_out#{id_sufix}", class: 'check_out' %>
        <%= f.hidden_field "adults#{id_sufix}", value: no_of_adults(params[:adults] || f.object.adults), class: 'adults' %>
        <%= f.hidden_field "children#{id_sufix}", value: (params[:children] || f.object.children), class: 'children' %>
        <%= f.hidden_field "infants#{id_sufix}", value: (params[:infants] || f.object.infants), class: 'infants' %>
        <%= f.hidden_field "lodging_id#{id_sufix}", value: lodging.id %>

        <%= f.submit('Check Availability', class: "btn btn-outline-primary w-100") if lodging.guest_centric? %>
      <% end %>

      <% unless lodging.guest_centric? %>
        <%= link_to 'Check Availability', '#', class: "btn btn-outline-primary btn-calculate-bill w-100", data: { lodging_ids: lodging.lodging_children.try(:ids) } %>
      <% end %>

      <div class="bg-white mt-3">
        <%= render 'shared/alert', title: 'Important:', type: 'info', description: render_price_notice(lodging) if lodging.display_price_notice? || !lodging.checked? %>
      </div>
    </div>
  </div>
</div>
