<div class="persisted-data" data-check-in="<%= params[:check_in]%>"
     data-check-out="<%= params[:check_out]%>"
     data-url="<%= price_details_lodging_path(lodging) %>"
     data-validate-url="<%= validate_reservations_path %>"
     data-check-in-title="<%= t('search.check_in') %>"
     data-check-out-title="<%= t('search.check_out') %>"></div>

<div class="card-body">
  <div class="reservation-form-errors-<%= lodging.id %>">
    <%= render 'reservations/errors', resource: reservation %>
    <br>
  </div>

  <div class="row">
    <div class="col-md-12 homepage" data-lodging-id="<%= lodging.id %>"
         data-disabled-dates="<%= lodging.children_not_available_on %>">
      <label class="mb-0 text-xs">Dates</label>
      <div class="reservation-datepicker"></div>
    </div>

    <div class="col-md-12 homepage">
      <label class="mb-0 text-xs">Guests</label>
      <div class="dropdown guests-dropdown" id="dropdown<%= id_sufix %>">
        <button class="btn btn-outline-primary w-100 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="title">Guest</span>
        </button>

        <%= form_for reservation, url: reservations_path, remote: true, html: {id: "new_reservation#{id_sufix}"} do |f| %>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item">
              <label>Adults</label>
              <%= f.number_field "adults#{id_sufix}", value: no_of_adults(params[:adults] || f.object.adults), min: 1, class: 'input-spinner parent-adults adults' %>
            </div>

            <div class="dropdown-item">
              <label>Children</label>
              <%= f.number_field "children#{id_sufix}", value: (params[:children] || f.object.children), min: 0, class: 'input-spinner parent-children children' %>
            </div>

            <div class="dropdown-item">
              <label>Infants</label>
              <%= f.number_field "infants#{id_sufix}", value: (params[:infants] || f.object.infants), min: 0, class: 'input-spinner parent-infants infants' %>
            </div>

            <%= f.hidden_field "lodging_id#{id_sufix}", value: lodging.id %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <%= link_to 'Check Availability', '', class: "btn btn-outline-primary btn-calculate-bill w-100", data: { lodging_ids: lodging.lodging_children.try(:ids) } %>
      <%= render 'shared/alert', title: 'Important:', type: 'info', description: t('prices_not_confirmed') unless lodging.confirmed_price %>
      <p class="extra_small text-center"><%= t 'cart.nice2stay' %></p>
    </div>

    <div class="col-md-12 bg-secondary">
      <button class="btn btn-sm col-md-12 bg-white btn-outline-secondary" type="button"
        data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover click"
        data-html="true" data-content="<%= lodging.including_text %>" data-original-title="<%= t 'information.included_header' %>"><%= t 'information.included' %>
      </button>

      <button class="text-xxs btn btn-sm col-md-12 bg-white btn-outline-secondary" type="button"
        data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover click"
        data-html="true" data-content="<%= lodging.particularities_text %>" data-original-title="<%= t 'information.informatie_header' %>"><%= t 'information.informatie' %>
      </button>

      <button class="btn btn-sm col-md-12 bg-white btn-outline-secondary" type="button"
        data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover click"
        data-html="true" data-content="<%= lodging.options_text %>" data-original-title="<%= t 'information.informatie_header' %>"><%= t 'information.extra_service' %>
      </button>

      <button class="text-xxs btn btn-sm col-md-12 bg-white btn-outline-secondary" type="button"
        data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover click"
        data-html="true" data-content="<%= lodging.payment_terms_text %>" data-original-title="<%= t 'information.informatie_header' %>"><%= t 'information.payment_conditions' %>
      </button>
    </div>

    <div class="col-md-12">
      <%= link_to _back_url, class: 'btn btn-outline-secondary w-100' do %>
        <i class="material-icons arrow_back"></i>&nbsp; GO BACK
      <% end %>
    </div>
  </div>
</div>
