<div class="card border-default bg-white pt-2 box-shadow">
  <ul class="nav nav-tabs margin-bottom-1x" role="tablist">
            <li class="nav-item"><a class="nav-link active show" href="#right" data-toggle="tab" role="tab" aria-selected="true">Gallary</a></li>
            <li class="nav-item"><a class="nav-link" href="#top" data-toggle="tab" role="tab" aria-selected="false">Location</a></li>
            <li class="nav-item"><a class="nav-link" href="#bottom" data-toggle="tab" role="tab" aria-selected="false">Reviews</a></li>
            <li class="nav-item"><a class="nav-link" href="#flip" data-toggle="tab" role="tab" aria-selected="false">Description</a></li>
          </ul>
  <div class="persisted-data" data-check-in="<%= params[:check_in]%>"
       data-check-out="<%= params[:check_out]%>"
       data-url="<%= price_details_lodging_path(lodging) %>"
       data-validate-url="<%= validate_reservations_path %>"></div>

  <div class="card-body">
    <div class="reservation-form-errors-<%= lodging.id %>">
      <%= render 'reservations/errors', resource: reservation %>

    </div>

    <div class="row">
      <div class="col-md-12" data-lodging-id="<%= lodging.id %>"
           data-disabled-dates="<%= lodging.children_not_available_on %>">
        <label class="mb-0 text-xs">Dates</label>
        <div class="reservation-datepicker"></div>
      </div>

      <div class="col-md-12">
        <label class="mb-0 text-xs">Guests</label>
        <div class="dropdown guests-dropdown" id="dropdown<%= id_sufix %>">
          <button class="btn btn-outline-primary w-100 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="title">Guest</span>
          </button>

          <%= form_for reservation, url: reservations_path, remote: true, html: {id: "new_reservation#{id_sufix}"} do |f| %>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-item">
                <label>Adults</label>
                <%= f.number_field "adults#{id_sufix}", value: no_of_adults(f.object.adults), min: 1, class: 'input-spinner parent-adults adults' %>
              </div>

              <div class="dropdown-item">
                <label>Children</label>
                <%= f.number_field "children#{id_sufix}", value: f.object.children, min: 0, class: 'input-spinner parent-children children' %>
              </div>

              <div class="dropdown-item">
                <label>Infants</label>
                <%= f.number_field "infants#{id_sufix}", value: f.object.infants, min: 0, class: 'input-spinner parent-infants infants' %>
              </div>

              <%= f.hidden_field "lodging_id#{id_sufix}", value: lodging.id %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <%= link_to 'Check Availability', '', class: "btn btn-primary btn-sm btn-calculate-bill w-100", data: { lodging_ids: lodging.lodging_children.try(:ids) } %>
      </div>
    </div>
  </div>
</div>
