<tr>
  <td><%= link_to reservation.lodging_name, reservation.lodging %></td>
  <td><%= reservation.check_in %></td>
  <td><%= reservation.check_out %></td>
  <td><%= reservation.booking_status %></td>
  <td><%= link_to 'review', '' %></td>
</tr>
