<div class="card border-default bg-white pt-2 box-shadow">
  <ul class="nav nav-tabs margin-bottom-1x" role="tablist">
            <li class="nav-item"><a class="nav-link active show" href="#right" data-toggle="tab" role="tab" aria-selected="true">Gallary</a></li>
            <li class="nav-item"><a class="nav-link" href="#top" data-toggle="tab" role="tab" aria-selected="false">Location</a></li>
            <li class="nav-item"><a class="nav-link" href="#bottom" data-toggle="tab" role="tab" aria-selected="false">Reviews</a></li>
            <li class="nav-item"><a class="nav-link" href="#flip" data-toggle="tab" role="tab" aria-selected="false">Description</a></li>
          </ul>
  <div class="persisted-data" data-check-in="<%= params[:check_in]%>"
       data-check-out="<%= params[:check_out]%>"
       data-url="<%= price_details_lodging_path(lodging) %>"
       data-validate-url="<%= validate_reservations_path %>"
       data-months="1"></div>

  <div class="card-body">

    <div class="reservation-form-errors-<%= lodging.id %>">
      <%= render 'reservations/errors', resource: reservation %>

    </div>

    <%= form_for reservation, url: reservations_path, remote: true do |f| %>
      <div class="row">
        <div class="col-md-12">
          
          <div data-lodging-id="<%= lodging.id %>"
               data-disabled-dates="<%= lodging.not_available_on %>">
            <label class="mb-0 text-xs">Dates</label>
            <div class='reservation-datepicker'></div>
          </div>

          <label class="mb-0 text-xs">Guests</label>
          <div class="dropdown guests-dropdown">
            <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="title">Guest</span>
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-item">
                <label>Adults</label>
                <%= f.number_field :adults, value: no_of_adults(f.object.adults), min: 1, class: 'input-spinner adults', id: "adults_#{lodging.id}" %>
              </div>

              <div class="dropdown-item">
                <label>Children</label>
                <%= f.number_field :children, value: f.object.children, min: 0, class: 'input-spinner children', id: "children_#{lodging.id}" %>
              </div>

              <div class="dropdown-item">
                <label>Infants</label>
                <%= f.number_field :infants, value: f.object.infants, min: 0, class: 'input-spinner infants', id: "infants_#{lodging.id}" %>
              </div>

              <div class="dropdown-item">
                <%= link_to 'Done', '#', class: 'btn btn-sm btn-secondary btn-calculate-bill float-right', data: { lodging_ids: [lodging.id] } %>
              </div>

              <%= f.hidden_field :lodging_id, value: lodging.id %>
              <%= hidden_field_tag :standalone, true %>
              <%= f.hidden_field :check_in, id: "check_in_#{lodging.id}", class: 'check_in' %>
              <%= f.hidden_field :check_out, id: "check_out_#{lodging.id}", class: 'check_out' %>
            </div>

            <div class="col-md-12 text-center pt-2">
              <% [:prebooking, :option].each do |status| %>
                <%= f.radio_button :booking_status, status, id: "booking_status_#{status}_#{lodging.id}" %>
                <label><%= status %></label>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p id="lbl-error-<%= lodging.id %>"></p>
          <div class="text-dark line-height-2" id="bill-<%= lodging.id %>"></div>
        </div>
      </div>

      <%= f.submit 'Add to Cart', class: "btn btn-primary btn-sm col-md-12 btn-booking disabled", id: "cart-#{lodging.id}" %>
    <% end %>

    <%= render 'wishlists/form', lodging: lodging %>
  </div>
</div>
