<div class="persisted-data" data-check-in="<%= params[:check_in]%>"
     data-check-out="<%= params[:check_out]%>"
     data-url="<%= price_details_lodging_path(lodging) %>"
     data-validate-url="<%= validate_reservations_path %>"
     data-months="1"
     data-check-in-title="<%= t('search.check_in') %>"
     data-check-out-title="<%= t('search.check_out') %>"></div>

<div class="card-body">
  <div class="reservation-form-errors-<%= lodging.id %>">
    <%= render 'reservations/errors', resource: reservation %>
  </div>

  <%= form_for reservation, url: reservations_path, remote: true do |f| %>
    <div class="row">
      <div class="col-md-12 ">
        <div data-lodging-id="<%= lodging.id %>"
             data-disabled-dates="<%= lodging.not_available_on %>">
          <label class="mb-0 text-xs"><%= t 'search.dates' %></label>
          <div class='reservation-datepicker'></div>
        </div>

        <label class="mb-0 text-xs"><%= t 'search.guests' %></label>
        <div class="dropdown guests-dropdown">
          <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="title"><%= t 'search.guests' %></span>
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item">
              <label><%= t 'search.adults' %></label>
              <%= f.number_field :adults, value: no_of_adults(params[:adults] || f.object.adults), min: 1, class: 'input-spinner adults', id: "adults_#{lodging.id}" %>
            </div>

            <div class="dropdown-item">
              <label><%= t 'search.children' %></label>
              <%= f.number_field :children, value: (params[:children] || f.object.children), min: 0, class: 'input-spinner children', id: "children_#{lodging.id}" %>
            </div>

            <div class="dropdown-item">
              <label><%= t 'search.babies' %></label>
              <%= f.number_field :infants, value: (params[:infants] || f.object.infants), min: 0, class: 'input-spinner infants', id: "infants_#{lodging.id}" %>
            </div>

            <div class="dropdown-item">
              <%= link_to 'Done', '#', class: 'btn btn-sm btn-secondary btn-calculate-bill float-right', data: { lodging_ids: [lodging.id] } %>
            </div>

            <%= f.hidden_field :lodging_id, value: lodging.id %>
            <%= hidden_field_tag :standalone, true %>
            <%= f.hidden_field :check_in, id: "check_in_#{lodging.id}", class: 'check_in' %>
            <%= f.hidden_field :check_out, id: "check_out_#{lodging.id}", class: 'check_out' %>
          </div>

          <div class="col-md-12 text-center pt-2">
            <% [:prebooking, :option].each do |status| %>
              <%= f.radio_button :booking_status, status, id: "booking_status_#{status}_#{lodging.id}" %>
              <label><%= t("reservations.#{status}") %></label>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p id="lbl-error-<%= lodging.id %>"></p>
        <div class="text-dark line-height-2" id="bill-<%= lodging.id %>"></div>
      </div>
    </div>

    <%= render 'shared/alert', title: 'Important:', type: 'info', description: "Prices of #{Date.current.year} are not confirmed, it may change." unless lodging.confirmed_price %>

    <%= f.submit t('cart.shopping_cart'), class: "btn btn-primary btn col-md-12 btn-booking disabled", id: "cart-#{lodging.id}" %>
  <% end %>
  <p class="extra_small text-center"><%= t 'cart.nice2stay' %></p>

  <div class="row">
    <div class="col-md-6">
      <%= link_to _back_url, class: 'btn btn-outline-secondary' do %>
        <i class="material-icons arrow_back"></i>&nbsp; <%= t 'nav.back' %>
      <% end %>
    </div>

    <div class="col-md-6">
      <%= render 'wishlists/form', lodging: lodging %>
    </div>
  </div>

  <div class="row px-2 mt-1">
    <div class="col-md-12 bg-secondary ">
      <button class="btn btn-sm col-md-12 bg-white btn-outline-secondary" type="button"
        data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover click"
        data-html="true" data-content="<%= lodging.including_text %>" data-original-title="<%= t 'information.included_header' %>"><%= t 'information.included' %>
      </button>

      <button class="text-xxs btn btn-sm col-md-12 bg-white btn-outline-secondary" type="button"
        data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover click"
        data-html="true" data-content="<%= lodging.particularities_text %>" data-original-title="<%= t 'information.informatie_header' %>"><%= t 'information.informatie' %>
      </button>
    </div>
  </div>
</div>
