<div class="row">
  <div class="col-md-12 mb-auto">
    <% lodging = (reservation.lodging.as_child? ? reservation.lodging.parent : reservation.lodging) %>
    <%= link_to lodging, class: 'btn btn-secondary cart-stars text-left h-100 w-100 pt-3 pb-2 pl-2' do %>
      <span class="d-block text-bold text-lg mb-1"><%= lodging.name %></span>
      <%= render_stars_tag lodging.average_rating if lodging.average_rating > 0 %>
    <% end %>
  </div>

  <div class="col-md-12">
    <b><%= t('cart.summary') %></b>
    <%= link_to remove_carts_path(reservation_id: reservation), class: 'remove-from-cart text-info text-bold float-right', remote: true do %>
      <span><%= t('cart.remove') %></span>
    <% end unless action_name == 'details' %>

    <p>
      <span class="text-sm"><%= reservation.adults.to_i + reservation.children.to_i %> guests</span> <br>
      <span class="text-sm"><%= reservation.check_in %></span> - <span class="text-sm"><%= reservation.check_out %></span> (<%= reservation.total_nights %> nights)
    </p>

    <div class="guest_details">
      <b>Guest Details</b> <br>
      <% if reservation.adults.to_i.present? %>
        <span class="text-sm"> <%= pluralize(reservation.adults.to_i, 'Adult') %></span> <br>
      <% end %>

      <% if reservation.children.to_i.present? %>
        <span class="text-sm"><%= pluralize(reservation.children.to_i, 'Child') %></span>
      <% end %>
    </div>

    <%= form.fields_for :reservations do |rf| %>
      <% unless rf.object.expired? %>
        <%= rf.hidden_field :id %>
        <%= rf.hidden_field :booking_id %>
        <%= rf.hidden_field :in_cart, value: false %>
        <%= rf.hidden_field :skip_data_posting, value: true %>
      <% end %>

      <div class="children_details my-3 border-grey">
        <b>Children Details</b>
        <%= rf.fields_for :guest_details, reservation.guest_details do |gf| %>
          <div class="row form-group mt-3">
            <div class="col-md-12 row">
              <div class="col-md-6">
                <label class="text-bold">Age of child <%= gf.options[:child_index] + 1 %></label>
                <strong class="text-danger font-italic">*</strong></small>
              </div>

              <div class="col-md-6">
                <%= gf.select :age, options_for_select((0..12).to_a, 6), {}, { class: 'form-control', required: true } %>
                <%= gf.hidden_field :guest_type, value: GuestDetail.guest_types[:child] %>
                <%= gf.hidden_field :name, value: "Child #{gf.options[:child_index] + 1}" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if reservation.guest_centric? || reservation.lodging.as_child? %>
      <b>Room Type</b>
      <p><%= link_to (reservation.guest_centric? ? reservation.room_type : reservation.lodging_name), reservation.lodging, class: 'text-decoration-none' %></p>
    <% end %>
  </div>
</div>

<% if reservation.guest_centric? %>
  <div class="mb-3">
    <span class="text-bold"><%= t('bookings.instant_booking') %></span><br>
    <span class="text-xs"><%= t('bookings.instant') %></span>
  </div>

  <div class="row row border-grey border-bottom mb-5">
    <div class="col-md-12">
      <div class="row">
        <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
          <%= "#{reservation.rooms} #{'Room'.pluralize reservation.rooms}" %>
        </span>

        <span class="col-md-4 text-right border-top border-grey ml-auto pt-2 pb-2 mr-3">
          <%= render_rounded_price (reservation.rent - reservation.tax_and_additional_fee - reservation.total_meal_price) %>
        </span>
      </div>
    </div>

    <% if reservation.meal_id.present? %>
      <div class="col-md-12">
        <div class="row">
          <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
            <%= render_meal_title(reservation.meal_id) %>
          </span>

          <span class="col-md-4 text-right border-top border-grey ml-auto pt-2 pb-2 mr-3">
            <%= render_rounded_price reservation.total_meal_price %>
          </span>
        </div>
      </div>
    <% end %>

    <div class="col-md-12">
      <div class="row">
        <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
          <%= t('guest_centric.tax') %>
        </span>

        <span class="col-md-4 text-right border-top border-grey ml-auto pt-2 pb-2 mr-3">
          <%= render_rounded_price reservation.tax_and_additional_fee %>
        </span>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
          <%= t('cart.total_charges') %>
        </span>

        <span class="col-md-4 text-right ml-auto border-top border-grey pt-2 pb-2 mr-3 price-large">
          <%= render_rounded_price reservation.rent.to_f %>
        </span>
      </div>
    </div>
  </div>
<% elsif reservation.booking_expert? %>
  <div class="mb-3">
    <span class="text-bold"><%= t('bookings.instant_booking') %></span><br>
    <span class="text-xs"><%= t('bookings.instant') %></span>
  </div>

  <div class="row row border-grey border-bottom mb-5">
    <div class="col-md-12">
      <div class="row">
        <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
          <%= "#{reservation.rooms} #{'Room'.pluralize reservation.rooms}" %>
        </span>

        <span class="col-md-4 text-right border-top border-grey ml-auto pt-2 pb-2 mr-3">
          <%= render_rounded_price reservation.rent %>
        </span>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
          <%= t('booking_expert.additional_fee_with_tax') %>
        </span>

        <span class="col-md-4 text-right border-top border-grey ml-auto pt-2 pb-2 mr-3">
          <%= render_rounded_price reservation.tax_and_additional_fee %>
        </span>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
          <%= t('cart.total_charges') %>
        </span>

        <span class="col-md-4 text-right ml-auto border-top border-grey pt-2 pb-2 mr-3 price-large">
          <%= render_rounded_price (reservation.rent + reservation.tax_and_additional_fee) %>
        </span>
      </div>
    </div>
  </div>
<% else %>
  <% if reservation.option? %>
    <div class="mb-3">
      <span class="text-bold"><%= t('bookings.option_title') %></span><br>
      <span class="text-xs"><%= t('bookings.option_tooltip') %></span>
    </div>
  <% else %>
    <div class="mb-3">
      <span class="text-bold"><%= t('bookings.booking_on_request') %></span><br>
      <span class="text-xs"><%= t('bookings.on_request') %></span>
    </div>
  <% end %>

  <div class="row row border-grey border-bottom mb-5">
    <div class="col-md-12">
      <div class="row">
        <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
          <%= t('cart.rent') %>
        </span>

        <span class="col-md-4 text-right border-top border-grey ml-auto pt-2 pb-2 mr-3">
          <%= render_rounded_price reservation.rent %>
        </span>
      </div>
    </div>

    <% if reservation.cleaning_cost.to_f > 0 %>
      <div class="col-md-12">
        <div class="row">
          <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
            <%= t('cart.cleaning_cost') %>
          </span>

          <span class="col-md-4 text-right border-top border-grey ml-auto pt-2 pb-2 mr-3">
            <%= render_rounded_price reservation.cleaning_cost %>
          </span>
        </div>
      </div>
    <% end %>

    <% if reservation.discount.to_f > 0 %>
      <div class="col-md-12">
        <div class="row">
          <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
            Discount
          </span>

          <span class="col-md-4 text-right border-top border-grey ml-auto pt-2 pb-2 mr-3">
            <%= render_rounded_price reservation.discount %>
          </span>
        </div>
      </div>
    <% end %>

    <div class="col-md-12">
      <div class="row">
        <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
          <%= t('cart.total_charges') %>
        </span>

        <span class="col-md-4 text-right ml-auto border-top border-grey pt-2 pb-2 mr-3 price-large">
          <%= render_rounded_price (reservation.rent.to_f + reservation.cleaning_cost.to_f - reservation.discount) %>
        </span>
      </div>
    </div>
  </div>
<% end %>
