<div class="row">
  <div class="col-md-12 mb-auto">
    <% lodging = (reservation.lodging.as_child? ? reservation.lodging.parent : reservation.lodging) %>
    <%= link_to lodging, class: 'btn btn-secondary cart-stars text-left h-100 w-100 pt-3 pb-2 pl-2' do %>
      <span class="d-block text-bold text-lg mb-1"><%= lodging.name %></span>
      <%= render_stars_tag lodging.average_rating if lodging.average_rating > 0 %>
    <% end %>
  </div>

  <div class="col-md-12">
    <b><%= t('cart.summary') %></b>

    <p>
      <span class="text-sm"><%= reservation.adults.to_i + reservation.children.to_i %> guests</span> <br>
      <span class="text-sm"><%= reservation.check_in %></span> - <span class="text-sm"><%= reservation.check_out %></span> (<%= reservation.total_nights %> nights)
    </p>

    <% if reservation.guest_centric? || reservation.lodging.as_child? %>
      <b>Room Type</b>
      <p><%= link_to (reservation.guest_centric? ? reservation.room_type : reservation.lodging_name), reservation.lodging, class: 'text-decoration-none' %></p>
    <% end %>
  </div>
</div>

<% if reservation.guest_centric? %>
  <% if reservation.gc_errors.present? %>
    <div class="bootstrap-default">
      <div class="alert alert-danger" role="alert" data-toggle="tooltip" data-placement="left" data-original-title="<%= reservation.gc_errors %>">Reservation is not confirmed. Please search again or contact our booking consultant</div>
    </div>
  <% else %>
    <div class="bootstrap-default">
      <div class="alert alert-success" role="alert">
        <strong><%= t('bookings.instant_booking') %></strong> <span class="text-xxs"><%= t('bookings.gc_sent') %></span>
      </div>
    </div>
  <% end %>

  <div class="row row border-grey border-bottom mb-5">
    <div class="col-md-12">
      <div class="row">
        <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
          <%= "#{reservation.rooms} #{'Room'.pluralize reservation.rooms}" %>
        </span>

        <span class="col-md-4 text-right border-top border-grey ml-auto pt-2 pb-2 mr-3">
          <%= render_rounded_price (reservation.rent - reservation.tax_and_additional_fee - reservation.total_meal_price) %>
        </span>
      </div>
    </div>

    <% if reservation.meal_id.present? %>
      <div class="col-md-12">
        <div class="row">
          <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
            <%= render_meal_title(reservation.meal_id) %>
          </span>

          <span class="col-md-4 text-right border-top border-grey ml-auto pt-2 pb-2 mr-3">
            <%= render_rounded_price reservation.total_meal_price %>
          </span>
        </div>
      </div>
    <% end %>

    <div class="col-md-12">
      <div class="row">
        <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
          <%= t('guest_centric.tax') %>
        </span>

        <span class="col-md-4 text-right border-top border-grey ml-auto pt-2 pb-2 mr-3">
          <%= render_rounded_price reservation.tax_and_additional_fee %>
        </span>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
          <%= t('cart.total_charges') %>
        </span>

        <span class="col-md-4 text-right ml-auto border-top border-grey pt-2 pb-2 mr-3 price-large">
          <%= render_rounded_price reservation.rent.to_f %>
        </span>
      </div>
    </div>
  </div>
<% else %>
  <% if reservation.option? %>
    <div class="bootstrap-default">
      <div class="alert alert-success" role="alert">
        <strong><%= t('bookings.option_title') %></strong> <span class="text-xxs"><%= t('bookings.option_sent') %></span>
      </div>
    </div>
  <% else %>
    <div class="bootstrap-default">
      <div class="alert alert-success" role="alert">
        <strong><%= t('bookings.booking_request') %></strong> <span class="text-xxs"><%= t('bookings.request_sent') %></span>
      </div>
    </div>
  <% end %>

  <div class="row row border-grey border-bottom mb-5">
    <div class="col-md-12">
      <div class="row">
        <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
          <%= t('cart.rent') %>
        </span>

        <span class="col-md-4 text-right border-top border-grey ml-auto pt-2 pb-2 mr-3">
          <%= render_rounded_price reservation.rent %>
        </span>
      </div>
    </div>

    <% if reservation.cleaning_cost.to_f > 0 %>
      <div class="col-md-12">
        <div class="row">
          <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
            <%= t('cart.cleaning_cost') %>
          </span>

          <span class="col-md-4 text-right border-top border-grey ml-auto pt-2 pb-2 mr-3">
            <%= render_rounded_price reservation.cleaning_cost %>
          </span>
        </div>
      </div>
    <% end %>

    <% if reservation.discount.to_f > 0 %>
      <div class="col-md-12">
        <div class="row">
          <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
            Discount
          </span>

          <span class="col-md-4 text-right border-top border-grey ml-auto pt-2 pb-2 mr-3">
            <%= render_rounded_price reservation.discount %>
          </span>
        </div>
      </div>
    <% end %>

    <div class="col-md-12">
      <div class="row">
        <span class="col-md-4 text-left border-top border-grey pt-2 pb-2 ml-3">
          <%= t('cart.total_charges') %>
        </span>

        <span class="col-md-4 text-right ml-auto border-top border-grey pt-2 pb-2 mr-3 price-large">
          <%= render_rounded_price (reservation.rent.to_f + reservation.cleaning_cost.to_f - reservation.discount) %>
        </span>
      </div>
    </div>
  </div>
<% end %>
