<% if reservations.present? %>
  <% reservations.each do |reservation| %>
    <tr>
      <td>
        <div class="product-item">
          <%= link_to reservation.lodging, class: 'product-thumb' do %>
            <%= image_tag reservation.lodging_image if reservation.lodging_image.present? %>
          <% end %>

          <div class="product-info">
            <h4 class="product-title">
              <%= link_to reservation.lodging_name, reservation.lodging %>
            </h4>
          </div>
        </div>

        <div class="product-item ml-2">
          <div class="product-info text-medium">
            <span><em><strong><%= t "nav_cart.type" %>: </strong></em><%= reservation.booking_status %></span>
            <span><em><strong><%= t "carts.cleaning" %>: </strong></em> <%= render_rounded_price reservation.cleaning_cost %></span>
            <span><em><strong><%= t "nav_cart.price" %>:</strong></em> <%= render_rounded_price reservation.rent.to_f + reservation.cleaning_cost.to_f %></span>
            <span><em><strong><%= t "nav_cart.nights" %>:</strong></em> <%= reservation.total_nights %></span>
            <span><em><strong><%= t "nav_cart.checkin" %>:</strong></em> <%= reservation.check_in %></span>
            <span><em><strong><%= t "nav_cart.checkout" %>:</strong></em> <%= reservation.check_out %></span>
            <span><em><strong><%= t "nav_cart.guests" %>:</strong></em> <%= reservation.adults.to_i + reservation.children.to_i %></span>
          </div>
        </div>

      </td>

      <td class="text-center">
        <%= link_to remove_carts_path(reservation_id: reservation), class: 'remove-from-cart', remote: true do %>
          <i class="material-icons">close</i>
        <% end %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td><%= t "nav_cart.empty" %></td>
  </tr>
<% end %>
