<tr>
  <td class="text-center text-sm">
    <%= link_to reservation.lodging do %>
      <%= link_to reservation.lodging_name, reservation.lodging %>
    <% end %>
  </td>

  <td class="text-center text-sm"><%= reservation.check_in %></td>
  <td class="text-center text-sm"><%= reservation.check_out %></td>
  <td class="text-center text-sm"><%= reservation.adults %></td>
  <td class="text-center text-sm"><%= reservation.children %></td>
  <td class="text-center text-sm"><%= reservation.infants %></td>
  <td class="text-center text-sm"><%= render_rounded_price reservation.rent %></td>
  <td class="text-center text-sm"><%= render_rounded_price reservation.cleaning_cost %></td>
  <td class="text-center text-sm"><%= render_rounded_price reservation.rent.to_f + reservation.cleaning_cost.to_f %></td>
  <td class="text-center text-sm"><%= t("bookings.#{reservation.booking_status}") %></td>

  <td class="text-center">
    <%= link_to remove_carts_path(reservation_id: reservation), class: 'remove-from-cart', remote: true do %>
      <i class="material-icons">close</i>
    <% end unless action_name == 'details' %>
  </td>
</tr>
