<tr>
  <td class="text-center text-sm">
    <%= link_to reservation.lodging do %>
      <%= link_to reservation.lodging_name, reservation.lodging %>
    <% end %>
  </td>

  <td class="text-center text-sm"><%= reservation.check_in %></td>
  <td class="text-center text-sm"><%= reservation.check_out %></td>
  <td class="text-center text-sm"><%= reservation.adults %></td>
  <td class="text-center text-sm"><%= reservation.children %></td>
  <td class="text-center text-sm"><%= reservation.infants %></td>
  <td class="text-center text-sm">$<%= reservation.rent %></td>
  <td class="text-center text-sm">$<%= reservation.cleaning_cost %></td>
  <td class="text-center text-sm">$<%= reservation.rent + reservation.cleaning_cost %></td>
  <td class="text-center text-sm"><%= reservation.booking_status %></td>

  <td class="text-center">
    <%= link_to remove_carts_path(reservation_id: reservation), class: 'remove-from-cart', remote: true do %>
      <i class="material-icons">close</i>
    <% end %>
  </td>
</tr>
