<div class="page-title">
  <div class="container">
    <h1><%= t 'indicator.send' %></h1>

    <ul class="breadcrumbs">  
      <li><%= t 'carts.send' %></li>
    </ul>
  </div>
</div>

<div class="container alert alert-primary alert-dismissible fade show text-center margin-bottom-1x">
  <span class="alert-close" data-dismiss="alert"></span>
  <i class="icon-layers"></i><%= t 'carts.succes' %>
  <%= link_to "Nice2stay account", dashboard_reservations_path %>
</div>

<div class="container homepage padding-top-1x margin-bottom-3x padding-bottom-3x mb-2">
  <div class="row">
    <!-- Checkout Address-->
    <div class="col-md-12">
      <div class="steps flex-sm-nowrap mb-5">
        <a class="step">
          <h3 class="step-title"><i class="material-icons check_circle"></i><%= t 'indicator.gasten' %></h3>
        </a>

        <a class="step active">
          <h3 class="step-title"><i class="material-icons check_circle"></i><%= t 'indicator.send' %></h3>
        </a>

        <a class="step">
          <h3 class="step-title"><%= t 'indicator.confirmation' %></h3>
        </a>
      </div>

      <h6 class="text-small"><%= t 'carts.overview' %></h6>
      <div class="table-responsive shopping-cart">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center text-xs"><%= t 'carts.name' %></th>
              <th class="text-center text-xs"><%= t 'carts.checkin' %></th>
              <th class="text-center text-xs"><%= t 'carts.checkout' %></th>
              <th class="text-center text-xs"><%= t 'carts.adults' %></th>
              <th class="text-center text-xs"><%= t 'carts.children' %></th>
              <th class="text-center text-xs"><%= t 'carts.infants' %></th>
              <th class="text-center text-xs"><%= t 'carts.subtotal' %></th>
              <th class="text-center text-xs"><%= t 'carts.cleaning' %></th>
              <th class="text-center text-xs"><%= t 'carts.discount' %></th>
              <th class="text-center text-xs"><%= t 'carts.total' %></th>
              <th class="text-center text-xs"><%= t 'carts.status' %></th>
            </tr>
          </thead>

          <tbody id="cart-body">
            <%= render partial: 'reservation', collection: @booking_details.reservations %>
          </tbody>
        </table>
      </div>

      <div class="shopping-cart-footer">
      </div>

      <h6 class="text-small"><%= t 'carts.gasten' %></h6>
      <div class="table-responsive shopping-cart">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center text-xs"><%= t 'carts.first_name' %></th>
              <th class="text-center text-xs"><%= t 'carts.last_name' %></th>
              <th class="text-center text-xs"><%= t 'carts.email' %></th>
              <th class="text-center text-xs"><%= t 'carts.phone' %></th>
              <th class="text-center text-xs"><%= t 'carts.city' %></th>
              <th class="text-center text-xs"><%= t 'carts.zip' %></th>
              <th class="text-center text-xs"><%= t 'carts.country' %></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="text-center text-sm"><%= @user.first_name %></td>
              <td class="text-center text-sm"><%= @user.last_name %></td>
              <td class="text-center text-sm"><%= @user.email %></td>
              <td class="text-center text-sm"><%= @user.phone %></td>
              <td class="text-center text-sm"><%= @user.city %></td>
              <td class="text-center text-sm"><%= @user.zipcode %></td>
              <td class="text-center text-sm"><%= @user.country_name %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% content_for :js_init do %>
  $('[data-toggle="tooltip"]').tooltip();
<% end %>
