<div class="container padding-top-1x padding-bottom-3x mb-2">
  <div class="row">
    <!-- Checkout Address-->
    <div class="col-md-12">
      <% if @booking_details.reservations.present? %>
        <div class="row">
          <div class="col-md-6 border-default mx-auto bg-white">
            <h4 class="mb-5 text-bold"><%= t 'carts.overview' %></h4>

            <div id="cart-flash-messages"><%= render 'shared/bootstrap_notices' %></div>

            <div id="cart-body">
              <%= render partial: 'cart_booked_reservation', collection: @booking_details.reservations.unexpired, as: :reservation %>
            </div>
          </div>

          <div class="col-md-5 border-default mx-auto bg-white">
            <div class="row">
              <div class="col-md-12">
                <h4 class="mb-5 text-bold"><%= t('carts.guest_details') %></h4>

                 <%= link_to "Track the reservation status in your profile", dashboard_reservations_path %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 margin-top-2x">
                <%= form_for @booking_details, url: carts_path do |f| %>

                  <%= f.fields_for :user do |user_fields| %>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <%= user_fields.label :language, t('carts.preferred_language'), class: 'text-bold' %>
                        <%= user_fields.select :language, languages, {}, class: 'form-control', id: rendom_id(resource, :language), disabled: true %>
                      </div>
                    </div>
                  </div>

                  <fieldset disabled="disabled">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <%= user_fields.label :first_name %>
                          <%= user_fields.text_field :first_name, class: "form-control" %>
                          <%= user_fields.hidden_field :skip_validations, value: true %>
                        </div>
                      </div>

                      <div class="col-sm-12">
                        <div class="form-group">
                          <%= user_fields.label :last_name %>
                          <%= user_fields.text_field :last_name, class: "form-control", disabled: true %>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <%= user_fields.label :email %>
                          <%= user_fields.email_field :email, disabled: current_user.present?, class: "form-control disabled", disabled: true %>
                          <%= user_fields.hidden_field :creation_status, id: :user_creation_status %>
                        </div>
                      </div>

                      <div class="col-sm-12">
                        <div class="form-group">
                          <%= user_fields.label :phone %>
                          <%= user_fields.text_field :phone, class: "form-control", disabled: true %>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <%= user_fields.label :city %>
                          <%= user_fields.text_field :city, class: "form-control", disabled: @guest_centric %>
                        </div>
                      </div>

                      <div class="col-sm-12">
                        <div class="form-group">
                          <%= user_fields.label :zipcode %>
                          <%= user_fields.text_field :zipcode, class: "form-control", disabled: @guest_centric %>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <%= user_fields.label :country %>
                          <%= user_fields.select :country_id, @countries.collect{ |country| [country.name, country.id] }, { include_blank: 'Select Country' }, class: 'form-control', id: rendom_id(resource, :country), disabled: true %>
                        </div>
                      </div>

                      <div class="col-sm-12">
                        <div class="form-group">
                          <%= user_fields.label :address %>
                          <%= user_fields.text_field :address, class: "form-control", disabled: true %>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="shopping-cart-footer">
          <div class="text-center">
            <p>CART IS EMPTY.</p>

            <%= link_to lodgings_path, class: 'btn btn-outline-secondary' do %>
              <i class="icon-arrow-left material-icons">keyboard_arrow_left</i>&nbsp;Back to Shopping
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<section class="container padding-top-2x padding-bottom-2x">
  <div class="row pt-2">
    <div class="col-md-3 col-sm-4 col-xs-6 text-center mb-30" >
      <span class="d-block display-4 text-gray-light mb-4">
        <%= image_tag("usp_visit.png", :alt => "visit") %>
      </span>

      <h4 class="h5 mb-2"><%= t 'usp.inspect' %></h4>
      <p class="text-muted text-xxxs mb-0"><%= t 'usp.inspect_details' %></p>
    </div>

    <div class="col-md-3 col-sm-4 col-xs-6 text-center mb-30">
      <span class="d-block display-4 text-gray-light mb-4">
        <%= image_tag("usp_support.png", :alt => "visit") %>
      </span>

      <h5 class="h5 mb-2"><%= t 'usp.price' %></h5>
      <p class="text-muted text-xxxs mb-0"><%= t 'usp.price_details' %></p>
    </div>

    <div class="col-md-3 col-sm-4 col-xs-6 text-center mb-30">
      <span class="d-block display-4 text-gray-light mb-4">
        <%= image_tag("usp_helpdesk.png", :alt => "visit") %>
      </span>

      <h5 class="h5 mb-2"><%= t 'usp.advice' %></h5>
      <p class="text-muted text-xxxs mb-0"><%= t 'usp.advice_details' %></p>
    </div>

    <div class="col-md-3 col-sm-4 col-xs-6 text-center mb-30">
      <span class="d-block display-4 text-gray-light mb-4">
        <%= image_tag("usp_secure.png", :alt => "visit") %>
      </span>

      <h5 class="h5 mb-2"><%= t 'usp.payment' %></h5>
      <p class="text-muted text-xxxs  mb-0"><%= t 'usp.payment_details' %></p>
    </div>
  </div>
</section>

<% content_for :canonical do %><%= carts_url %><% end %>
<% content_for :body_class do %>calendar_section<% end %>
<% content_for :site_menu_class do %>d-none<% end %>

<% content_for :js_init do %>
  Cart.init();
<% end %>
