<div class="container padding-bottom-3x mb-2">
  <div class="row">
    <!-- Checkout Address-->
    <div class="col-xl-9 col-lg-8">
      <h4>Billing Information</h4>
      <hr class="padding-bottom-1x">
      <%= form_for @user, url: carts_en_path, method: :put do |f| %>
        <%= render 'shared/errors', resource: @user %>

        <fieldset <%= 'disabled' if user_signed_in? %>>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, class: "form-control" %>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, class: "form-control disabled" %>
              </div>
            </div>
          </div>
        </fieldset>

        <% if user_signed_in? %>
          <hr class="padding-bottom-1x">
        <% else %>
          <div class="row password-fields d-none">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control" %>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>
            </div>
          </div>
          <hr class="padding-bottom-1x">

          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <%= check_box_tag :create_account, nil, show_password_fields?(@user), class: "custom-control-input" %>
              <label class="custom-control-label" for="create_account">Do you want to create an account?</label>
            </div>
          </div>
        <% end %>

        <div class="d-flex justify-content-between">
          <%= link_to 'Back To Cart', carts_en_path, class: "btn btn-outline-secondary m-0" %>
          <%= f.submit 'Complete Order', class: "btn btn-primary m-0" %>
        </div>
      </div>
    <% end %>
    <!-- Sidebar -->
    <%= render 'order_summary', reservations: @reservations %>
  </div>
</div>

<% content_for :js_init do %>
  Cart.init();
<% end %>
