<div class="page-title">
  <div class="container">
    <h1>Checkout</h1>

    <ul class="breadcrumbs">
      <li>bookings & options requests</li>
      <li class="separator">&nbsp;/&nbsp;</li>
      <li>contact details</li>
    </ul>
  </div>
</div>

<div class="container homepage padding-top-1x padding-bottom-3x mb-2">
  <div class="row">
    <!-- Checkout Address-->
    <div class="col-md-12">
      <div class="steps flex-sm-nowrap mb-5">
        <a class="step active"><h4 class="step-title">Contact Details</h4></a>
        <a class="step"><h4 class="step-title">Details Sent</h4></a>
        <a class="step"><h4 class="step-title">Confirmation</h4></a>
        <a class="step"><h4 class="step-title">Payment</h4></a>
      </div>

      <% if @booking.reservations.present? %>
        <h5>Your bookings & options requests</h5>
        <hr class="padding-bottom-1x">
        <div class="table-responsive shopping-cart">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Checkin</th>
                <th class="text-center">Checkout</th>
                <th class="text-center">Adults</th>
                <th class="text-center">Children</th>
                <th class="text-center">Infants</th>
                <th class="text-center">Subtotal</th>
                <th class="text-center">Cleaning</th>
                <th class="text-center">Total</th>
                <th class="text-center">Type</th>
                <th class="text-center">
                  <%= link_to 'Clear Cart', carts_path, class: 'btn btn-sm btn-outline-danger', method: :DELETE %>
                </th>
              </tr>
            </thead>

            <tbody id="cart-body">
              <%= render partial: 'reservation', collection: @booking.reservations %>
            </tbody>
          </table>
        </div>

        <div class="shopping-cart-footer">
          <div class="column text-lg">Subtotal: <span class="text-medium text-dark cart-subtotal">€<%= cart_sub_total(@booking.reservations) %></span></div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <% if user_signed_in? %>
              <p>Hi <%= current_user.full_name %>!, you are logon. Your details are automaticly filled in the form</p>
            <% else %>
              <h5>U bent niet ingelogd</h5>
              <p>Log in met uw account. Al eerder geboekt bij nice2stay?  Activeer dan uw account. </p>

              <div class="col-md-5 mx-auto">
                <input type="button" name="cart-login-form" value="Login" class="btn btn-primary btn-sm w-100 mr-5" data-toggle="modal" data-target="#login-form-modal">
              </div>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h5>Guest Information</h5>
            <hr class="padding-bottom-1x">
            <%= form_for @booking, url: carts_path do |f| %>
              <%= render 'shared/errors', resource: @booking %>

              <%= f.hidden_field :in_cart, value: false %>
              <%= f.fields_for :user do |user_fields| %>
                <fieldset <%= 'disabled' if user_signed_in? %>>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= user_fields.label :first_name %>
                        <%= user_fields.text_field :first_name, class: "form-control", required: true %>
                        <%= user_fields.hidden_field :skip_validations, value: true %>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= user_fields.label :last_name %>
                        <%= user_fields.text_field :last_name, class: "form-control", required: true %>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= user_fields.label :email %>
                        <%= user_fields.email_field :email, class: "form-control disabled", required: true %>
                        <%= user_fields.hidden_field :creation_status, id: :user_creation_status %>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= user_fields.label :phone %>
                        <%= user_fields.text_field :phone, class: "form-control" %>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= user_fields.label :city %>
                        <%= user_fields.text_field :city, class: "form-control" %>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= user_fields.label :zipcode %>
                        <%= user_fields.number_field :zipcode, step: 1, min: 0, class: "form-control" %>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= user_fields.label :country %>
                        <%= user_fields.select :country_id, @countries.collect{ |country| [country.name, country.id] }, { include_blank: 'Select Country' }, class: 'form-control', id: rendom_id(resource, :country) %>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= user_fields.label :address %>
                        <%= user_fields.text_field :address, class: "form-control" %>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <% if user_signed_in? %>
                  <hr class="padding-bottom-1x">
                <% else %>
                  <div class="row password-fields d-none">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= user_fields.label :password %>
                        <%= user_fields.password_field :password, class: "form-control" %>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-group">
                        <%= user_fields.label :password_confirmation %>
                        <%= user_fields.password_field :password_confirmation, class: "form-control" %>
                      </div>
                    </div>
                  </div>
                  <hr class="padding-bottom-1x">

                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <%= check_box_tag :create_account, nil, show_password_fields?(@booking.user), class: "custom-control-input" %>
                      <label class="custom-control-label" for="create_account">Do you want to create an account?</label>
                    </div>
                  </div>
                <% end %>
              <% end %>

              <%= f.fields_for :reservations do |reservation_fields| %>
                <%= reservation_fields.hidden_field :id %>
                <%= reservation_fields.hidden_field :booking_id %>
                <%= reservation_fields.hidden_field :in_cart, value: false %>
              <% end %>

              <div class="d-flex justify-content-between">
                <%= link_to lodgings_path, class: 'btn btn-outline-secondary' do %>
                  <i class="icon-arrow-left material-icons">keyboard_arrow_left</i>&nbsp;Back to Shopping
                <% end %>

                <%= f.submit 'Complete Order', class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="shopping-cart-footer">
          <div class="text-center">
            <p>CART IS EMPTY.</p>

            <%= link_to lodgings_path, class: 'btn btn-outline-secondary' do %>
              <i class="icon-arrow-left material-icons">keyboard_arrow_left</i>&nbsp;Back to Shopping
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<section class="container padding-top-2x padding-bottom-2x">
  <div class="row pt-2">
    <div class="col-md-4 col-sm-4 col-xs-6 text-center mb-30">
      <span class="d-block display-4 text-gray-light mb-4">
        <%= image_tag("usp_visit.png", :alt => "visit") %>
      </span>

      <h4 class="h6 mb-2"><%= t 'usp.inspect' %></h4>
      <p class="text-sm text-muted mb-0"><%= t 'usp.inspect_details' %></p>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6 text-center mb-30">
      <span class="d-block display-4 text-gray-light mb-4">
         <%= image_tag("usp_support.png", :alt => "visit") %>
      </span>

      <h4 class="h6 mb-2"><%= t 'usp.price' %></h4>
      <p class="text-sm text-muted mb-0"><%= t 'usp.price_details' %></p>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6 text-center mb-30">
      <span class="d-block display-4 text-gray-light mb-4">
        <%= image_tag("usp_support.png", :alt => "visit") %>
      </span>

      <h4 class="h6 mb-2"><%= t 'usp.advice' %></h4>
      <p class="text-sm text-muted mb-0"><%= t 'usp.advice_details' %></p>
    </div>
  </div>
</section>

<div class="modal fade" id="login-form-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-white pb-0">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <div id="modal-flash-messages">
          <%= render 'shared/notices' %>
        </div>

        <div class="cart-login-form">
          <%= render 'devise/sessions/form', remote: true %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :js_init do %>
  Cart.init();
<% end %>
