<!-- Page Content-->
<div class="container padding-bottom-3x mb-1">
  <!-- Shopping Cart-->
  <% if @reservations.present? %>
    <div class="table-responsive shopping-cart">
      <table class="table">
        <thead>
          <tr>
            <th>Lodging</th>
            <th class="text-center">Nights</th>
            <th class="text-center">Dates</th>
            <th class="text-center">Adults</th>
            <th class="text-center">Children</th>
            <th class="text-center">Subtotal</th>
            <th class="text-center">Discount</th>
            <th class="text-center">
              <%= link_to 'Clear Cart', carts_en_path, class: 'btn btn-sm btn-outline-danger', method: :DELETE %>
            </th>
          </tr>
        </thead>

        <tbody id="cart-body">
          <%= render partial: 'reservation', collection: @reservations %>
        </tbody>
      </table>
    </div>

    <div class="shopping-cart-footer">
      <div class="column">
        <form class="coupon-form" method="post">
          <input class="form-control form-control-sm" type="text" placeholder="Coupon code" required>
          <button class="btn btn-outline-primary btn-sm" type="submit">Apply Coupon</button>
        </form>
      </div>

      <div class="column text-lg">Subtotal: <span class="text-medium text-dark cart-subtotal"><%= cart_sub_total(@reservations) %></span></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4>Billing Information</h4>
        <hr class="padding-bottom-1x">
        <%= form_for @user, url: carts_en_path, method: :put do |f| %>
          <%= render 'shared/errors', resource: @user %>

          <fieldset <%= 'disabled' if user_signed_in? %>>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label :first_name %>
                  <%= f.text_field :first_name, class: "form-control" %>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: "form-control disabled" %>
                </div>
              </div>
            </div>
          </fieldset>

          <% if user_signed_in? %>
            <hr class="padding-bottom-1x">
          <% else %>
            <div class="row password-fields d-none">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label :password %>
                  <%= f.password_field :password, class: "form-control" %>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, class: "form-control" %>
                </div>
              </div>
            </div>
            <hr class="padding-bottom-1x">

            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <%= check_box_tag :create_account, nil, show_password_fields?(@user), class: "custom-control-input" %>
                <label class="custom-control-label" for="create_account">Do you want to create an account?</label>
              </div>
            </div>
          <% end %>

          <div class="d-flex justify-content-between">
            <%= link_to lodgings_en_path, class: 'btn btn-outline-secondary' do %>
              <i class="icon-arrow-left material-icons">keyboard_arrow_left</i>&nbsp;Back to Shopping
            <% end %>

            <%= f.submit 'Complete Order', class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="shopping-cart-footer">
      <div class="text-center">
        <p>CART IS EMPTY.</p>

        <%= link_to lodgings_en_path, class: 'btn btn-outline-secondary' do %>
          <i class="icon-arrow-left material-icons">keyboard_arrow_left</i>&nbsp;Back to Shopping
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% content_for :js_init do %>
  Cart.init();
<% end %>
