<%= form_for review, url: feedbacks_path do |f| %>
  <%= render 'shared/errors', resource: review %>

  <div class="form-group row">
    <div class="col-12">
      <p class="text-sm margin-top-1x">
        <%= t('feedback.welcome_context', user_name: current_user.first_name, accommodation_name: accommodation_name).html_safe %><br>
      </p>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :setting, t('feedback.form.setting'), class: 'col-12 col-form-label text-muted' %>

    <div class="col-12">
      <%= f.hidden_field :setting, id: "setting_field" %>
      <div id="setting" class='starrr'></div>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :quality, t('feedback.form.quality'), class: 'col-12 col-form-label text-muted' %>

    <div class="col-12">
      <%= f.hidden_field :quality, id: "quality_field" %>
      <div id='quality' class='starrr'></div>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :interior, t('feedback.form.interior'), class: 'col-12 col-form-label text-muted' %>

    <div class="col-12">
      <%= f.hidden_field :interior, id: "interior_field" %>
      <div id='interior' class='starrr'></div>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :communication, t('feedback.form.communication'), class: 'col-12 col-form-label text-muted' %>

    <div class="col-12">
      <%= f.hidden_field :communication, id: "communication_field" %>
      <div id='communication' class='starrr'></div>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :description, t('feedback.form.description'), class: 'col-12 col-form-label text-muted' %>

    <div class="col-12">
      <%= f.text_area :description, class: 'form-control', rows: 8 %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :suggetion, t('feedback.form.suggetion'), class: 'col-12 col-form-label text-muted' %>

    <div class="col-12">
      <%= f.text_area :suggetion, class: 'form-control', rows: 8 %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :nice2stay_feedback, t('feedback.form.service'), class: 'col-12 col-form-label text-muted' %>

    <div class="col-12">
      <%= f.text_area :nice2stay_feedback, class: 'form-control', rows: 8 %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :client_published, t('feedback.form.client_published'), class: 'col-12 col-form-label text-muted' %>

    <div class="col-12">
      <%= f.label :client_published, t('feedback.form.listing') %>
      <%= f.radio_button :client_published, true, checked: f.object.client_published, class: "published" %>
      <%= f.label :client_published, t('feedback.form.no_listing') %>
      <%= f.radio_button :client_published, false, checked: !f.object.client_published, class: "published" %>
      <%= f.label :anonymous, t('feedback.form.anonymous') %>
      <%= f.radio_button :anonymous, true, checked: f.object.anonymous, class: "published" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :images, t('feedback.form.images'), class: 'col-12 col-form-label text-muted' %>
    <div class="col-12 custom-file">
      <div class="custom-file">
        <%= f.file_field :images, multiple: true, class: 'custom-file-input image_field' %>
        <%= f.label :images, 'Update profile picture', class: 'custom-file-label'%>
      </div>
    </div>
  </div>

  <%= hidden_field_tag :id, params[:id] %>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary btn-block" %>
  </div>
<% end %>

<% content_for :js_init do %>
  Review.init();
  $('.starrr').starrr()

  $('#setting').on('starrr:change', function(e, value){
    $("#setting_field").val(value);
  })

  $('#quality').on('starrr:change', function(e, value){
    $("#quality_field").val(value);
  })

  $('#interior').on('starrr:change', function(e, value){
    $("#interior_field").val(value);
  })

  $('#communication').on('starrr:change', function(e, value){
    $("#communication_field").val(value);
  })
<% end %>
