<%= render 'shared/photoswipe' %>
<%= render 'navbar' %>

<div id="loader">
  <%= image_tag 'loader.gif', class: 'w-50' %>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-12 margin-top-1x">
        <div class="row target-section" id="home-container">
          <div class="col-md-8 col-xs-12">
            <div class="gallery-control">
              <figure itemprop="associatedMedia" itemscope>
                <a itemprop="contentUrl">
                  <img src="<%= @lodging.image %>" itemprop="thumbnail" alt="<%= @lodging.name %>" class="w-100 max-image" />
                </a>

                <figcaption itemprop="caption description">
                  <input type="button" name="view-photos" value="view photos" class="btn btn-white btn-sm">
                </figcaption>
              </figure>
            </div>
            <div class="lodging-gallery margin-top-1x" itemscope>
              <% @lodging.images.each_with_index do |image_url, index| %>
                <figure itemprop="associatedMedia" itemscope class="d-none">
                  <a href="<%= image_url %>" itemprop="contentUrl">
                    <img src="<%= image_url %>" itemprop="thumbnail" alt="<%= @lodging.name %>" class="img-fluid img-thumbnail" />
                  </a>
                  <figcaption itemprop="caption description"><%= index %></figcaption>
                </figure>
              <% end %>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <h4>Vanaf 200,- per nacht</h4>
            <br>
            <ul class="list-icon">
              <h6>
                <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_1 %><br>
                <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_2 %><br>
                <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_3 %>
              </h6>
              <br>

              <%= link_to 'Check Availability', '#', class: "btn btn-primary w-100" %>
            </ul>

            <span class="d-block display-2 text-gray-light">
              <h6><%= image_tag("usp_visit.png", :class => 'w-40', alt: "visit") %><%= t 'usp.inspect' %></h6>

              <h6><%= image_tag("usp_support.png", :class => 'w-40', alt: "visit") %><%= t 'usp.inspect' %></h6>

              <h6><%= image_tag("usp_visit.png", :class => 'w-40', alt: "visit") %><%= t 'usp.inspect' %></h6>

              <h6><%= image_tag("usp_support.png", :class => 'w-40', alt: "visit") %><%= t 'usp.inspect' %></h6>
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <h3><%= @lodging.h1 %></h3>
            <p><%= @lodging.summary.try(:html_safe) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="price_box col-md-12 margin-bottom-2x margin-top-1x">
  <div class="container">
    <div class="col-sm-12">
      <%= render 'reservations/guest_centric_form', lodging: @lodging, reservation: @reservation, lodging_children: @lodging_children, id_sufix: '_modal' %>
    </div>

    <div id="guest_centric_offers" class="col-md-12 margin-top-1x padding-bottom-2x row">
      <%= render 'guest_centric', lodging: @lodging, guest_centric: @guest_centric %>
    </div>
  </div>
</div>

<div class="container">
  <div id="questions" class="col-md-12 margin-bottom-1x p-0">
    <div class="infobox">
      <div class="infobox-header bg-secondary">
        <h5 class="mb-3">
          <%= t 'cart.price' %>
        </h5>
      </div>

      <div class="infobox-content">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-12 mt-1">

              <div class="bg-white mt-3">
                <%= render 'shared/alert', title: 'Important:', type: 'info', description: render_price_notice(@lodging) if @lodging.display_price_notice? || !@lodging.checked? %>
              </div>

              <p class="margin-top-1x">
                <%= t 'usp.vragen_show_header' %> <%= @lodging.name %> ?
              </p>

              <p><%= t 'email.contact_text' %></p>
              <p> Calendar Legenda</p>
            </div>

            <div class="text-xxs mt-3 row">
              <div class="col-3 text-center">
                <p class="asd__day--enabled bg-white color-box mb-1 mx-auto"></p>
                <span>Available</span>
              </div>

              <div class="col-3 text-center">
                <p class="asd__day--disabled color-box mb-1 mx-auto"></p>
                <span>Not available</span>
              </div>

              <div class="col-3 text-center">
                <p class="asd__day--discount color-box mb-1 mx-auto"></p>
                <span>Special offer</span>
              </div>

              <div class="col-3 text-center">
                <p class="asd__day--option color-box mb-1 mx-auto"></p>
                <span>Under option</span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="accordion" id="accordion2" role="tablist">
              <div class="card-header" role="tab">
                <h6>
                  <a href="#collapseFour" data-toggle="collapse">
                    <i class="material-icons check_circle"></i>
                    <%= t 'information.included_header' %>
                  </a>
                </h6>
              </div>

              <div class="collapse" id="collapseFour" data-parent="#accordion2" role="tabpanel">
                <div class="card-body">
                  <%= @lodging.including_text.try(:html_safe) %>
                </div>
              </div>

              <div class="card-header" role="tab">
                <h6>
                  <a class="collapsed" href="#collapseFive" data-toggle="collapse">
                    <i class="material-icons assignment"></i>
                    <%= t 'information.informatie_header' %>
                  </a>
                </h6>
              </div>

              <div class="collapse" id="collapseFive" data-parent="#accordion2" role="tabpanel">
                <div class="card-body">
                  <%= @lodging.particularities_text.try(:html_safe) %>
                </div>
              </div>

              <div class="card-header" role="tab">
                <h6>
                  <a class="collapsed" href="#collapseSeven" data-toggle="collapse">
                    <i class="material-icons room_service"></i>
                    <%= t 'information.extra_service' %>
                  </a>
                </h6>
              </div>

              <div class="collapse" id="collapseSeven" data-parent="#accordion2" role="tabpanel">
                <div class="card-body">
                  <%= @lodging.options_text.try(:html_safe) %>
                </div>
              </div>

              <div class="card-header" role="tab">
                <h6>
                  <a class="collapsed" href="#collapseSix" data-toggle="collapse">
                    <i class="material-icons monetization_on"></i>
                    <%= t 'information.payment_conditions' %>
                  </a>
                </h6>
              </div>

              <div class="collapse" id="collapseSix" data-parent="#accordion2" role="tabpanel">
                <div class="card-body">
                  <%= @lodging.payment_terms_text.try(:html_safe) %>
                </div>
              </div>

              <div class="card-header" role="tab">
                <h6>
                  <a class="collapsed" href="#collapseTen" data-toggle="collapse">
                   <i class="material-icons monetization_on"></i>
                    <%= t 'information.deposit' %>
                  </a>
                </h6>
              </div>

              <div class="collapse" id="collapseTen" data-parent="#accordion2" role="tabpanel">
                <div class="card-body">
                  <%= @lodging.deposit_text.try(:html_safe) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'shared_content', lodging: @lodging %>
</div>

<%= render 'shared/meta_tags', resource: @lodging %>

<% content_for :canonical do %><%= lodging_url(@lodging) %><% end %>

<%= content_for :js_init do %>
  Lodging.read_more()
  initPhotoSwipeFromDOM('.lodging-gallery');
  initDatePicker();
  OwlCarousel.init();
  Map.init_with('<%= @lodging.to_json(methods: [:feature], only: []) %>', 'lodging-map-location');
  GuestCentric.init();
  $('#loader').hide();
<% end %>
