<%= render 'shared/photoswipe' %>
<%= render 'navbar' %>

<div id="loader">
  <%= image_tag 'loader.gif', class: 'w-50' %>
</div>

<div class="home-container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12 margin-top-1x">
        <div class="row target-section" id="home-container">
          <div class="col-md-12 col-xs-12">
            <div class="owl-carousel-full">
              <% @lodging.images.each_with_index do |image_url, index| %>
                <div class="mr-4"><%= image_tag image_url, class: "card-img-top item", alt: '' %></div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row container-fluid mt-4">
          <div class="col-md-6">
            <h2><%= @lodging.h1 %></h2>
            <p><%= @lodging.summary.try(:html_safe) %></p>
          </div>

          <div class="col-md-6">
            <ul class="list-icon">
              <%= link_to 'Check Availability', '#', class: "btn btn-primary w-100 scroll-to-btn", data: { target: '.form-heading' } %>

              <% if @reviews.present? %>
                <div class="align-baseline text-xlg mb-4 text-primary mr-1">
                  <%= render_stars_tag @lodging.average_rating %> <p class="d-inline">(<%= pluralize(@lodging.all_reviews.count, 'review', 'reviews') %>)</p>
                </div>
              <% end %>

               <h6>
                <%= image_tag("guest.png", alt: "Guest", class: 'img-small' ) %> <%= @lodging.minimum_adults %> - <%= pluralize @lodging.adults, t('search.guest'), t('search.guests') %> 

                <% if @lodging.children.present? %>
                  <%= image_tag("guest.png", alt: "Child", class: 'img-small') %> <%= @lodging.minimum_children %> - <%= pluralize @lodging.children, t('search.child'), t('search.children_1') %><br>
                <% end %>

                <%= image_tag("bedroom.png", alt: "Bedroom", class: 'img-small') %> <%= pluralize @lodging.beds, t('search.bedroom'), t('search.bedrooms') %>
                <%= image_tag("bathroom.png", alt: "Bathroom", class: 'img-small') %> <%= pluralize @lodging.baths, t('search.bathroom'), t('search.bathrooms') %>
              </h6>

              <div class="mt-4"></div>

              <h6>
                <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_1 %><br>
                <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_2 %><br>
                <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_3 %>
              </h6>

              <div class="mb-4"></div>
            </ul>

            <div class="mt-4"></div>

            <span class="d-block display-2 text-gray-light">
              <h6><%= image_tag("usp_visit.png", class: 'w-40', alt: "visit") %> <%= t 'usp.inspect' %>
              
              <%= image_tag("usp_support.png", alt: "visit", class: 'w-40') %> <%= t 'usp.price' %></h6>

              <h6><%= image_tag("usp_helpdesk.png", alt: "visit", class: 'w-40') %> <%= t 'usp.advice' %>
              <%= image_tag("usp_secure.png", alt: "visit", class: 'w-40') %> <%= t 'usp.payment' %></h6>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12 margin-top-1x price_box">
  <%= render 'reservations/standalone_form', lodging: @lodging, reservation: @reservation, id_sufix: '' %>
</div>

<div class="container">
  <div id="questions" class="col-md-12 margin-bottom-1x p-2">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-12 mt-1">
          <div class="bg-white mt-3">
            <%= render 'shared/alert', title: 'Important:', type: 'info', description: render_price_notice(@lodging) if @lodging.display_price_notice? || !@lodging.checked? %>
          </div>

          <p class="margin-top-1x">
            <%= t 'usp.vragen_show_header' %> <%= @lodging.name %> ?
          </p>

          <p><%= t 'email.contact_text' %></p>
          <p><%= t('calendar.legenda') %></p>
        </div>

        <div class="text-xxs mt-3 row">
          <div class="col-3 text-center">
            <p class="asd__day--enabled bg-white color-box mb-1 mx-auto"></p>
            <span><%= t('calendar.available') %></span>
          </div>

          <div class="col-3 text-center">
            <p class="asd__day--disabled color-box mb-1 mx-auto"></p>
            <span><%= t('calendar.not_available') %></span>
          </div>

          <div class="col-3 text-center">
            <p class="asd__day--discount color-box mb-1 mx-auto"></p>
            <span><%= t('calendar.special_offer') %></span>
          </div>

          <div class="col-3 text-center">
            <p class="asd__day--option color-box mb-1 mx-auto"></p>
            <span><%= t('calendar.under_option') %></span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="accordion" id="accordion2" role="tablist">
          <div class="card-header" role="tab">
            <h6>
              <a href="#collapseFour" data-toggle="collapse">
                <i class="material-icons check_circle"></i>
                <%= t 'information.included_header' %>
              </a>
            </h6>
          </div>

          <div class="collapse" id="collapseFour" data-parent="#accordion2" role="tabpanel">
            <div class="card-body">
              <%= @lodging.including_text.try(:html_safe) %>
            </div>
          </div>

          <div class="card-header" role="tab">
            <h6>
              <a class="collapsed" href="#collapseFive" data-toggle="collapse">
                <i class="material-icons assignment"></i>
                <%= t 'information.informatie_header' %>
              </a>
            </h6>
          </div>

          <div class="collapse" id="collapseFive" data-parent="#accordion2" role="tabpanel">
            <div class="card-body">
              <%= @lodging.particularities_text.try(:html_safe) %>
            </div>
          </div>

          <div class="card-header" role="tab">
            <h6>
              <a class="collapsed" href="#collapseSeven" data-toggle="collapse">
                <i class="material-icons room_service"></i>
                <%= t 'information.extra_service' %>
              </a>
            </h6>
          </div>

          <div class="collapse" id="collapseSeven" data-parent="#accordion2" role="tabpanel">
            <div class="card-body">
              <%= @lodging.options_text.try(:html_safe) %>
            </div>
          </div>

          <div class="card-header" role="tab">
            <h6>
              <a class="collapsed" href="#collapseSix" data-toggle="collapse">
                <i class="material-icons monetization_on"></i>
                <%= t 'information.payment_conditions' %>
              </a>
            </h6>
          </div>

          <div class="collapse" id="collapseSix" data-parent="#accordion2" role="tabpanel">
            <div class="card-body">
              <%= @lodging.payment_terms_text.try(:html_safe) %>
            </div>
          </div>

          <div class="card-header" role="tab">
            <h6>
              <a class="collapsed" href="#collapseTen" data-toggle="collapse">
               <i class="material-icons monetization_on"></i>
                <%= t 'information.deposit' %>
              </a>
            </h6>
          </div>

          <div class="collapse" id="collapseTen" data-parent="#accordion2" role="tabpanel">
            <div class="card-body">
              <%= @lodging.deposit_text.try(:html_safe) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared_content', lodging: @lodging %>
<%= render 'shared/meta_tags', resource: @lodging %>

<% content_for :canonical do %><%= lodging_url(@lodging) %><% end %>

<%= content_for :js_init do %>
  Lodging.read_more()
  initPhotoSwipeFromDOM('.lodging-gallery');
  initDatePicker();
  OwlCarousel.init();
  Map.init_with('<%= @lodging.to_json(methods: [:feature], only: []) %>', 'lodging-map-location');
  Invoice.calculate(<%= calculation_ids @lodging %>);
  Invoice.init();
  Lodging.child_form();
  Lodging.highlight_menu();
  $('#loader').hide();
  $('.price-loader').hide();
<% end %>
