<div class="modal fade be-modal" id="be-lodging-modal-<%= be_availability['id'] %>" tabindex="-1">
  <div class="modal-dialog modal-xlg">
    <div class="modal-content">
      <div class="modal-body p-0 pl-3">
        <div class="row">
          <div class="col-md-6">
            <p class="text-sm">
              <div>
                <h4 class="modal-title"><%= child_lodging.h1.try(:capitalize) %></h4>
                <hr class="mt-2 mb-3">
              </div>

              <ul class="nav nav-tabs justify-content-start ml-0" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#photos-tab-<%= be_availability['id'] %>" data-toggle="tab" role="tab"><%= t('guest_centric.photos') %></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#description-tab-<%= be_availability['id'] %>" data-toggle="tab" role="tab"><%= t('guest_centric.description') %></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#policy-tab-<%= be_availability['id'] %>" data-toggle="tab" role="tab"><%= t('guest_centric.policy') %></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#terms-tab-<%= be_availability['id'] %>" data-toggle="tab" role="tab"><%= t('guest_centric.payment') %></a>
                </li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane fade show active" id="photos-tab-<%= be_availability['id'] %>" role="tabpanel">
                  <div class="owl-carousel">
                    <%= render_modal_slider_images child_lodging, class: "card-img-top item" %>
                  </div>
                </div>

                <div class="tab-pane fade show" id="description-tab-<%= be_availability['id'] %>" role="tabpanel">
                  <div id="guest-centric-child-description">
                    <% if child_lodging.short_desc.present? %>
                      <p><%= child_lodging.short_desc.try(:html_safe) %></p>
                    <% else %>
                      <p><%= child_lodging.description.try(:html_safe) %></p>
                    <% end %>
                  </div>
                </div>

                <div class="tab-pane fade show" id="policy-tab-<%= be_availability['id'] %>" role="tabpanel">
                  <%= "cancel_policy" %>
                </div>

                <div class="tab-pane fade show" id="terms-tab-<%= be_availability['id'] %>" role="tabpanel">
                  <% if child_lodging.present? %>
                    <p><%= child_lodging.payment_terms_text.try(:html_safe) %></p>
                  <% end %>
                </div>
              </div>
            </p>
          </div>

          <div class="col-md-6 price_box bg-white">
            <h5><%= t('guest_centric.reservation_summary') %></h5>
            <div class="row pl-2 mb-3">
              <%= render "booking_expert_lodgings/rate", reservation: @reservation, be_availability: be_availability %>
            </div>

            <div class="row p-2 mt-5">
              <span class="col-md-8 text-left border-bottom border-black p-0">
                <%= t('guest_centric.total_for_stay') %>
              </span>

              <span class="col-md-4 text-right border-bottom border-black">
                € <%= be_availability['attributes']['original_rent_price'].round(2) %>
              </span>
            </div>

            <div class="row row pl-2 pr-2 pt-0">
              <span class="col-md-8 text-left border-bottom border-black p-0">
                Additional Fees (Inc. Taxes)
              </span>

              <span class="col-md-4 text-right border-bottom border-black">
                € <%= (be_availability['attributes']['original_price'].to_f - be_availability['attributes']['original_rent_price'].to_f).round(2) %>
              </span>
            </div>

            <div class="row p-2 mb-5">
              <span class="col-md-8 text-left p-0">
                <%= t('guest_centric.total') %>
              </span>

              <span class="col-md-4 text-right price">
                € <%= be_availability['attributes']['original_price'].round(2) %>
              </span>
            </div>

            <div class="row">
              <div class="col-md-12 p-0">
                <%= button_tag class: "btn btn-primary btn-booking btn-md float-right", id: "cart-#{child_lodging.id}", data: { form_id: "#new_reservation_#{child_lodging.id}#{index}" }, value: "cart" do %>
                  <i class="material-icons add_shopping_cart"></i>&nbsp; Add To Cart
                <% end %>

                <button class="close float-right btn btn-secondary" type="button" data-dismiss="modal" aria-label="Close">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
