<div class="col-md-12 mt-2 row">
  <span class="col-md-6">
    Check-in: <b><%= render_date reservation.check_in %></b>
  </span>

  <span class="col-md-6 pr-0">
    Check-out: <b><%= render_date reservation.check_out %></b>
  </span>
</div>

<div class="col-md-12 mt-2 row">
  <span class="col-md-6">
    Rooms: <b><%= reservation.rooms %></b>
  </span>

  <span class="col-md-6">
    Nr. of nights: <b><%= reservation.total_nights %></b>
  </span>
</div>

<div class="col-md-12 mt-2 row">
  <span class="col-md-6">
    <%= t('guest_centric.adults_per_room') %>: <b><%= reservation.adults %></b>
  </span>

  <span class="col-md-6">
    <%= t('guest_centric.children_per_room') %>: <b><%= reservation.children %></b>
  </span>
</div>

<div class="row col-md-12 mt-2">
  <span class="col-md-6 border-bottom border-black pb-2">
    <%= t('guest_centric.avg_rate') %>
  </span>

  <span class="col-md-6 border-bottom border-black">
    <b>€<%= (be_availability['attributes']['original_rent_price'] / reservation.total_nights).round(2) if reservation.total_nights.to_i > 0 %></b>
  </span>
</div>
