<div class="container-fluid">
  <div class="row">
    
    <div class="col-sm-12 margin-top-1x col-xs-12 col-md-6 margin-top-1x ">
      <h1 class="mb-3"><%= @country.title %></h3>

      <hr class="mt-1"></hr>

      <div class="col-md-12 padding-top-1x padding-bottom-3x homepage">
        <%= form_tag lodgings_path, method: :get, data: { check_in: params[:check_in], check_out: params[:check_out] }, id: 'homepage_search_form' do %>
          <div class="row">
            <div class="col-md-12 col-sm-12 pt-2">
              <%= text_field_tag :query, params[:query], placeholder: t('usp.search'), class: 'h6 form-control autocomplete autocomplete-field' %>
            </div>

            <div class="col-md-12 col-sm-12">
              <div class="row homepage-actions-row pt-0">
                <div id='datepicker'></div>

                <div class="dropdown guests-dropdown">
                  <button class="btn btn-outline-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="title"><%= t 'search.guests' %></span>
                  </button>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <div class="dropdown-item">
                      <label><%= t 'search.adults' %></label>
                      <%= number_field_tag :adults, params[:adults], min: 0, class: 'input-spinner adults' %>
                    </div>

                    <div class="dropdown-item">
                      <label><%= t 'search.children' %></label>
                      <%= number_field_tag :children, params[:children], min: 0, class: 'input-spinner children' %>
                    </div>

                    <div class="dropdown-item">
                      <label><%= t 'search.babies' %></label>
                      <%= number_field_tag :infants, params[:infants], min: 0, class: 'input-spinner infants' %>
                    </div>
                  </div>
                </div>
                <%= hidden_field_tag :standalone, true %>
                <%= hidden_field_tag :country, params[:country], class: 'autocomplete-country' %>
                <%= hidden_field_tag :region, params[:region], class: 'autocomplete-region' %>

                <%= submit_tag :submit, value: t('search.search_button'), class: 'btn btn-primary btn' , data: { disable_with: t('search.search_button') }
                %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <p class="text-sm margin-top-1x"><%= @country.content.try(:html_safe) %></p>

      </div>
      
      <div class="col-sm-12 margin-top-1x col-xs-12 col-md-6 margin-top-1x ">
        <section>
        <%= image_tag @country.image %>
      </section>
      <section class="widget-links">
            <h5 class="mt-4 mb-10">Regions in <%= @country.name.capitalize %></h5>
            <hr class="mt-0"></hr>
            <ul>
              <% @country.regions.each do | region | %>
                <%= link_to region.name, country_region_path(@country, region, locale: locale) ,class: 'tag' %>
              <% end %>
            </ul>
          </section>
           <section class="widget-tags">
        <h5 class="mt-1 mb-10"><%= t 'collection.normal' %></h5>

        <% @menu_custom_texts.each do |custom_text| %>
          <%= link_to "#{custom_text.menu_title}", seo_url(custom_text.seo_path), class: 'tag' %>
        <% end %>

        <% @custom_texts.each do |custom_text| %>
          <%= link_to "#{custom_text.menu_title}", seo_url(custom_text.seo_path), class: 'tag' %>
        <% end %>
      </section>
      </div>
      
      </div>


      <div class="row">
        <div class="col-sm-6 margin-top-1x">
          
          
          <% if @custom_texts.present? %>
        <section class="padding-top-1x pb-5">
          <h3 class="mb-30"><%= t 'collection.populair' %> in <%= @country.name.capitalize %></h3>
          <hr class="mt-3"></hr>

         

          <div class="isotope-grid cols-2">
            <div class="gutter-sizer"></div>
            <div class="grid-sizer"></div>

            <% @custom_texts.each do |custom_text| %>
              <div class="grid-item gallery-item">
                <%= link_to seo_url custom_text.seo_path do %>
                  <%= image_tag custom_text.image if custom_text.image.present? %>
                  <h2 class="image-title-box"><%= custom_text.menu_title %></h2>
                  <span class="caption"><%= custom_text.h1_text %></span>
                <% end %>
              </div>
            <% end %>

          </div>
        </section>
      <% end %>
      <h3 class="mb-30">In the spotlight</h3>
      <%= render @lodgings %> 

        </div>
       </div>
               </div>

         





  
 

  



<%= content_for :js_init do %>
  Autocomplete.init("<%= autocompletes_path(locale: locale) %>");
  initDatePicker();
  GuestDropdown.init();
  OwlCarousel.init();
<% end %>
