<section class="fw-section padding-top-7x padding-bottom-8x homepage-cover">
  <div class="container">
    <div class="col-md-12">
        <%= form_tag lodgings_path, method: :get, data: { check_in: params[:check_in], check_out: params[:check_out] }, id: 'homepage_search_form' do %>
          <div class="row">
            <div class="col-md-7 col-sm-12 pt-2">
              <%= text_field_tag :query, params[:query], :placeholder => t('usp.search'), class: 'h6 form-control autocomplete autocomplete-field' %>
            </div>

            <div class="col-md-5 col-sm-12">
              <div class="row homepage-actions-row pt-0">
                <div id='datepicker'></div>

                <div class="dropdown guests-dropdown">
                  <button class="btn btn-outline-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="title">Guest</span>
                  </button>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <div class="dropdown-item">
                      <label>Adults</label>
                      <%= number_field_tag :adults, params[:adults], min: 0, class: 'adults' %>
                      <%= hidden_field_tag :molie_api_key, ENV['MOLLIE_API_KEY'] %>
                    </div>

                    <div class="dropdown-item">
                      <label>Children</label>
                      <%= number_field_tag :children, params[:children], min: 0, class: 'children' %>
                    </div>

                    <div class="dropdown-item">
                      <label>Infants</label>
                      <%= number_field_tag :infants, params[:infants], min: 0, class: 'infants' %>
                    </div>
                  </div>
                </div>

                <%= submit_tag 'SEARCH', class: 'btn btn-primary btn-sm' %>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="container padding-top-3x pb-5">
  <h2 class="text-center mb-30"><%= @country.title %></h2>
  <p> <%= raw @country.content %></p>
</section>


<div class="container padding-top-1x pb-5 homepage">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <h3 class="mb-3"><%= t 'usp.intro' %></h3>

      <p><%= t 'usp.intro_details' %></p>

      <%= link_to 'more information', over_ons_pages_path(locale: locale), class: 'btn btn-outline-primary' %>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3"></div>
    <div class="col-xs-12 col-sm-6 col-md-3  homepage_image"></div>
  </div>
</div>



<section class="container padding-top-3x pb-5">
  <h2 class="text-center mb-30">Spotlight</h2>

</section>

<% if @homepage_campaigns.present? %>
  <section class="container padding-top-3x pb-5">
    <h2 class="text-center mb-30">Our collection in <%= @country.name %></h2>

    <div class="isotope-grid cols-2">
      <div class="gutter-sizer"></div>
      <div class="grid-sizer"></div>

      <% @homepage_campaigns.each do |campaign| %>
        <div class="grid-item gallery-item">
          <%= link_to campaign.url do %>
            <%= image_tag campaign.image if campaign.image.present? %>
            <h2 class="image-title-box"><%= campaign.title %></h2>
          <% end %>

          <span class="caption"><%= campaign.description.html_safe %></span>
        </div>
      <% end %>
    </div>
  </section>
<% end %>

<% if @all_reviews.present? %>
  <div class="leads_homepage">
    <section class="container padding-top-3x pb-5">
      <h2 class="text-center mb-30">Latest Customer Reviews in <%= @country.name %> </h2>
      <div class="row mt-30">
        <div class="col-md-4 mb-4">
          <%= render 'reviews/average_rating', reviews: @all_reviews %>
        </div>

        <div class="col-md-8">
          <div class="reviews-container">
            <%= render @reviews %>
          </div>

          <div class="homepage-review-paginator">
            <%= paginate @reviews, remote: true %>
          </div>
        </div>
      </div>
    </section>
  </div>
<% end %>

<div class="homepage padding-bottom-1x pt-5 mb-1">
  <div class="container">
    <div class="col-md-12 padding-top-1x">
      <h3 class="card-title text-center ">In the spotlight</h3>

      <div class="row mb-3 you-may-like-lodgings">
        

      </div>
    </div>
  </div>
</div>


<%= content_for :js_init do %>
  Autocomplete.init("<%= autocompletes_path(locale: locale) %>");
  initDatePicker();
  GuestDropdown.init();
<% end %>
