<section class="fw-section padding-top-2x padding-bottom-10x" style="background-image: url(https://imagesnice2stayeurope.s3.amazonaws.com/uploads/image/image/13486/IMG_9494.jpeg); background-position: center;">
  <div class="container">
    <div class="col-md-12">
      <h2 class="mb-3 homepage_header">Mooie verhalen beginnen hier...</h2>
        <%= form_tag lodgings_path, method: :get, data: { check_in: params[:check_in], check_out: params[:check_out] }, id: 'homepage_search_form' do %>
          <div class="row">
            <div class="col-md-7 col-sm-12 pt-2">
              <%= text_field_tag :query, params[:query], placeholder: "Zoek naar unieke vakantiehuizen, appartementen en ​boutique hotels en meer...", class: 'form-control autocomplete autocomplete-field' %>
            </div>

            <div class="col-md-5 col-sm-12">
              <div class="row homepage-actions-row pt-0">
                <div id='datepicker'></div>

                <div class="dropdown guests-dropdown">
                  <button class="btn btn-outline-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="title">Guest</span>
                  </button>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <div class="dropdown-item">
                      <label>Adults</label>
                      <%= number_field_tag :adults, params[:adults], min: 0, class: 'adults' %>
                    </div>

                    <div class="dropdown-item">
                      <label>Children</label>
                      <%= number_field_tag :children, params[:children], min: 0, class: 'children' %>
                    </div>

                    <div class="dropdown-item">
                      <label>Infants</label>
                      <%= number_field_tag :infants, params[:infants], min: 0, class: 'infants' %>
                    </div>
                  </div>
                </div>

                <%= submit_tag 'SEARCH', class: 'btn btn-primary btn-sm' %>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="container padding-top-3x pb-5">
  <h2 class="text-center mb-30"><%= @country.title %></h2>
  <p> <%= @country.content %></p>
</section>

<% if user_signed_in? %>
  <div class="container padding-top-1x pb-5 homepage">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-9">
        <h2 class="mb-3">New ? signup for nice2stay account......</h2>
        <p>Share you're favorites, get the latest deals, and much more...</p>
        <%= link_to 'GET STARTED WITH THE ACCOUNT', new_user_registration_path, class: 'btn btn-outline-primary' %>
        <a class="btn btn-white" href="#">Who is nice2stay?</a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2 homepage_image">
      </div>
    </div>
  </div>
<% else %>
  <div class="container padding-top-1x pb-5 homepage">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h3 class="mb-3">
          De villa's, appartenten en B&B's in <%= @country.name %> zijn door ons bezocht en geselecteert op kwaliteit, comfort & stijl 
        </h3>

        <p>
          Elke accommodatie in <%= @country.name %> is door Nice2stay bezocht, om ervoor te zorgen dat het voldoet aan de hoge standaarden voor comfort, kwaliteit en stijl.
        </p>

        <%= link_to 'more information', new_user_registration_path, class: 'btn btn-outline-primary' %>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3"></div>
      <div class="col-xs-12 col-sm-6 col-md-3  homepage_image"></div>
    </div>
  </div>
<% end %>

<section class="container padding-top-3x pb-5">
  <h2 class="text-center mb-30">Spotlight</h2>
<div class="owl-carousel owl-loaded owl-drag" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;loop&quot;: true, &quot;margin&quot;: 30, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;630&quot;:{&quot;items&quot;:2},&quot;991&quot;:{&quot;items&quot;:3},&quot;1200&quot;:{&quot;items&quot;:3}} }">
  <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2340px, 0px, 0px); transition: all 0.45s ease 0s; width: 3510px;"><div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;"><img src="../img/components/img10.jpg" alt="Image"></div><div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;"><img src="http://themes.rokaux.com/unishop/v3.0/template-2/img/components/img11.jpg" alt="Image"></div><div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;"><img src="../img/components/img12.jpg" alt="Image"></div><div class="owl-item" style="width: 262.5px; margin-right: 30px;"><img src="http://themes.rokaux.com/unishop/v3.0/template-2/img/components/img04.jpg" alt="Image"></div><div class="owl-item" style="width: 262.5px; margin-right: 30px;"><img src="http://themes.rokaux.com/unishop/v3.0/template-2/img/components/img05.jpg" alt="Image"></div><div class="owl-item" style="width: 262.5px; margin-right: 30px;"><img src="http://themes.rokaux.com/unishop/v3.0/template-2/img/components/img06.jpg" alt="Image"></div><div class="owl-item" style="width: 262.5px; margin-right: 30px;"><img src="http://themes.rokaux.com/unishop/v3.0/template-2/img/components/img10.jpg" alt="Image"></div><div class="owl-item" style="width: 262.5px; margin-right: 30px;"><img src="http://themes.rokaux.com/unishop/v3.0/template-2/img/components/img11.jpg" alt="Image"></div><div class="owl-item active" style="width: 262.5px; margin-right: 30px;"><img src="http://themes.rokaux.com/unishop/v3.0/template-2/img/components/img12.jpg" alt="Image"></div><div class="owl-item cloned active" style="width: 262.5px; margin-right: 30px;"><img src="http://themes.rokaux.com/unishop/v3.0/template-2/img/components/img04.jpg" alt="Image"></div><div class="owl-item cloned active" style="width: 262.5px; margin-right: 30px;"><img src="http://themes.rokaux.com/unishop/v3.0/template-2/img/components/img04.jpg" alt="Image"></div><div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;"><img src="http://themes.rokaux.com/unishop/v3.0/template-2/img/components/img06.jpg" alt="Image"></div></div></div><div class="owl-nav disabled"><div class="owl-prev"></div><div class="owl-next"></div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div></div>
</section>

<% if @homepage_campaigns.present? %>
  <section class="container padding-top-3x pb-5">
    <h2 class="text-center mb-30">Our collection in <%= @country.name %></h2>

    <div class="isotope-grid cols-2">
      <div class="gutter-sizer"></div>
      <div class="grid-sizer"></div>

      <% @homepage_campaigns.each do |campaign| %>
        <div class="grid-item gallery-item">
          <%= link_to campaign.url do %>
            <%= image_tag campaign.image if campaign.image.present? %>
            <h2 class="image-title-box"><%= campaign.title %></h2>
          <% end %>

          <span class="caption"><%= campaign.description.html_safe %></span>
        </div>
      <% end %>
    </div>
  </section>
<% end %>

<% if @all_reviews.present? %>
  <div class="leads_homepage">
    <section class="container padding-top-3x pb-5">
       <h2 class="text-center mb-30">Rating & Latest Customer Reviews</h2>
      <div class="row mt-30">
        <div class="col-md-4 mb-4">
          <%= render 'reviews/average_rating', reviews: @all_reviews %>
        </div>

        <div class="col-md-8">
          <div class="reviews-container">
            <%= render @reviews %>
          </div>

          <div class="homepage-review-paginator">
            <%= paginate @reviews, remote: true %>
          </div>
        </div>
      </div>
    </section>
  </div>
<% end %>

<%= content_for :js_init do %>
  Autocomplete.init("<%= autocompletes_path(locale: locale) %>");
  initDatePicker();
  GuestDropdown.init();
<% end %>
