<div class="container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-7 pt-4">
        <section>
          <%= image_tag @country.image %>
        </section>

        <section class="padding-top-2x">
          <h2><%= @country.title %></h2>

          <h5 class="card-title text-muted margin-bottom-1x">
            <%= t 'holiday' %> <%= @country.name.capitalize %>
          </h5>

          <p><%= @country.content.try(:html_safe) %></p>
        </section>

        <div class="row">
          <div class="p-3 margin-top-2x leads_homepage">
            <div class="col-md-12 ml-2 padding-top-1x">
              <h3 class="mb-3">
                "<%= @country.name.capitalize %> is het hele jaar een heerlijk vakantieland door het fijne klimaat"
              </h3>

              <div class="row">
                <div class="col-md-3 col-lg-2">
                  <div class="d-table">
                    <img class="d-block w-150 mx-auto img-thumbnail rounded d-table-cell align-middle" src="https://imagesnice2stayeurope.s3.amazonaws.com/uploads/image/image/5478/chirsta.jpg" alt="Team">
                  </div>
                </div>

                <div class="col-sm-9 mb-9">
                  <p>Elke villa, vakantiewoning of bed and breakfast in <%= @country.name.capitalize %> heeft een persoonlijke kwaliteitsinspectie doorstaan, om ervoor te zorgen dat het voldoet aan de hoge standaarden voor comfort, kwaliteit en stijl.  Christa Linders is verantwoordelijk voor portefolio <%= @country.name.capitalize %> </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <section class="padding-top-3x p-0 pb-5">
          <h3>In the spotlight</h3>
          <hr class="mt-3"></hr>

          <div class="row mb-3 you-may-like-lodgings">
            <%= render @lodgings %>
          </div>
        </section>

         <section class="padding-top-2x">
          <h2>Waarom kiezen voor een vakantie in <%= @country.name.capitalize %></h2>
        
          <ul class="list-icon">
                <p class="text-xxs">
                  <i class="material-icons md-24 check text-success"></i>Spanje telt zo’n beetje de meeste zonne-uren per jaar van Europa!
<br>
                  <i class="material-icons md-24 check text-success"></i>Met 44 UNESCO Werelderfgoed Monumenten of parken is Spanje het 3e land op de lijst van landen met het meeste aantal UNESCO Werelderfgoed Monumenten monumenten.
  <br>
                  <i class="material-icons md-24 check text-success"></i>Fantastische keuken met onder anderen Paella, Tapas, Pintxos of visgerechten.
                </p>
              </ul>
         
        </section>

        <% if @custom_texts.present? %>
          <section class="padding-top-1x pb-5">
            <h3 class="mb-30">Our collection in <%= @country.name.capitalize %></h3>
              <hr class="mt-3"></hr>

            <div class="isotope-grid cols-2">
              <div class="gutter-sizer"></div>
              <div class="grid-sizer"></div>

              <% @custom_texts.each do |custom_text| %>
                <div class="grid-item gallery-item">
                  <%= link_to seo_url custom_text.seo_path do %>
                    <%= image_tag custom_text.image if custom_text.image.present? %>
                    <h2 class="image-title-box"><%= custom_text.menu_title %></h2>
                    <span class="caption"><%= custom_text.h1_text %></span>
                  <% end %>
                </div>
              <% end %>
            </div>
          </section>
        <% end %>
      </div>

      <div class="col-md-5">
        <div class="menu sticky-top p-3 bg-light">

           <h3 class="mb-20"><%= @country.name.capitalize %></h3>
          <hr class="mt-1 mb-2"></hr>
          
            <div class="col-md-12 padding-top-1x padding-bottom-2x homepage">
                    <%= form_tag lodgings_path, method: :get, data: { check_in: params[:check_in], check_out: params[:check_out] }, id: 'homepage_search_form' do %>
                      <div class="row">
                        <div class="col-md-12 col-sm-12 pt-2">
                          <%= text_field_tag :query, params[:query], placeholder: t('usp.search'), class: 'h6 form-control autocomplete autocomplete-field' %>
                        </div>

                        <div class="col-md-12 col-sm-12">
                          <div class="row homepage-actions-row pt-0">
                            <div id='datepicker'></div>

                            <div class="dropdown guests-dropdown">
                              <button class="btn btn-outline-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="title"><%= t 'search.guests' %></span>
                              </button>

                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <div class="dropdown-item">
                                  <label><%= t 'search.adults' %></label>
                                  <%= number_field_tag :adults, params[:adults], min: 0, class: 'input-spinner adults' %>
                                </div>

                                <div class="dropdown-item">
                                  <label><%= t 'search.children' %></label>
                                  <%= number_field_tag :children, params[:children], min: 0, class: 'input-spinner children' %>
                                </div>

                                <div class="dropdown-item">
                                  <label><%= t 'search.babies' %></label>
                                  <%= number_field_tag :infants, params[:infants], min: 0, class: 'input-spinner infants' %>
                                </div>
                              </div>
                            </div>
                            <%= hidden_field_tag :standalone, true %>
                            <%= submit_tag :submit, value: t('search.search_button'), class: 'btn btn-primary btn' , data: { disable_with: t('search.search_button') }
                            %>
                          </div>
                        </div>
                      </div>
                    <% end %>

                </div>
             
       <section class="widget-tags">
          <h5 class="mt-4 mb-10"><%= t 'collections' %> in <%= @country.name.capitalize %></h5>

          <% @menu_custom_texts.each do |custom_text| %>
            <%= link_to "#{custom_text.menu_title}", seo_url(custom_text.seo_path), class: 'tag' %>
          <% end %>

          <% @custom_texts.each do |custom_text| %>
            <%= link_to "#{custom_text.menu_title}", seo_url(custom_text.seo_path), class: 'tag' %>
          <% end %>
        </section>

        


        <section class="widget-links">
          <h5 class="mt-4 mb-10">Regions in <%= @country.name.capitalize %></h5>
          <hr class="mt-0"></hr>
          <ul>
            <% @country.regions.each do | region | %>
              <li><%= link_to region.name, country_region_path(@country, region, locale: locale) %></li>
            <% end %>
          </ul>
        </section>


         <section class="widget-tags">
          <h5 class="mt-4 mb-10"><%= t 'nav.landen' %></h5>

          <% @countries_enabled.each do |country| %>
            <%= link_to country.name, country_path(country, locale: locale), class: "tag" %>
          <% end %>
        </section>





        </div>
       
      </div>
    </div>
  </div>
</div>



<%= render 'shared/meta_tags', resource: @country %>

<%= content_for :js_init do %>
  Autocomplete.init("<%= autocompletes_path(locale: locale) %>");
  initDatePicker();
  GuestDropdown.init();
  OwlCarousel.init();
<% end %>
