<tr>
  <% if parent %>
    <th><%= discount.lodging_name %></th>
  <% end %>
  <th scope="row"><%= discount.value %></th>
  <td><%= render_date discount.start_date %></td>
  <td><%= render_date discount.end_date %></td>
  <td><%= render_date discount.valid_to %></td>
  <td><%= discount.description %></td>
</tr>
