<div class="table-responsive shopping-cart mb-0">
  <table class="table">
    <thead>
      <tr>
        <th colspan="2">
          <div class="d-flex justify-content-between align-items-center">Select Your Trips
          </div>
        </th>
      </tr>
    </thead>

    <tbody id="navbar-wishlist-body">
      <%= render 'wishlists/navbar_trips', trips: trips %>
    </tbody>

    <tfoot>
      <tr>
        <td>
          <%= form_for wishlist, remote: true, html: { id: "navbar_new_wishlist" } do |f| %>
            <%= f.hidden_field :check_in, id: "wishlist_check_in", class: 'check_in' %>
            <%= f.hidden_field :check_out, id: "wishlist_check_out", class: 'check_out' %>
            <%= f.hidden_field :adults, id: "wishlist_adults", class: 'adults' %>
            <%= f.hidden_field :children, id: "wishlist_children", class: 'children' %>
            <%= f.hidden_field :lodging_id, id: "wishlist_lodging" %>
            <%= f.hidden_field :trip_id, class: 'navbar-trip-id' %>

            <%= f.button :submit, class: "btn btn-primary btn-sm ml-0 form-control" do %>
              Add to selected trip
            <% end %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td>
          <%= link_to new_trip_path, class: "navi-link text-uppercase" do %>
            <span class="text-xxs">Create New Trip</span>
            <i class="material-icons keyboard_arrow_right"></i>
          <% end%>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
