<% if trips.present? %>
  <% trips.each do |trip| %>
    <tr>
      <td>
        <div>
          <div class="product-info col-md-12">
            <h4 class="product-title">
              <%= radio_button_tag :trip_id, trip.id, true, class: 'trip-id-radio' %> <%= label_tag :trip_id, trip.name, for: "trip_id_#{trip.id}" %>
            </h4>

            <span>
              <%= "#{trip.adults} #{'Adult'.pluralize trip.adults}" %>, <%= "#{trip.children} #{'Child'.pluralize trip.children}" %>
            </span> -
            <span><%= "#{render_date trip.check_in} - #{render_date trip.check_out}" %></span> -
            <span><%= render_rounded_price(trip.budget) %></span>
          </div>

          <div class="mt-2 col-md-12">
            <span class="text-bold">Members:&nbsp;</span> <%= trip.users.uniq.pluck(:first_name).join(', ') %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td>Wishlist is empty.</td>
  </tr>
<% end %>
