<% if wishlists.present? %>
  <% wishlists.each do |wishlist| %>
    <tr>
      <td>
        <div class="product-item">
          <%= link_to wishlist.lodging, class: 'product-thumb' do %>
            <%= image_tag wishlist.lodging_image %>
          <% end %>

          <div class="product-info">
            <h4 class="product-title">
              <%= link_to wishlist.lodging_name, wishlist.lodging %>
            </h4>
            <span><em>Adults:</em><%= wishlist.adults.to_i %></span>
            <span><em>Children:</em><%= wishlist.children.to_i %></span>
            <span><em>From:</em><%= wishlist.check_in %></span>
            <span><em>To:</em><%= wishlist.check_out %></span>
          </div>
        </div>
      </td>

      <td class="text-center">
        <%= link_to remove_wishlists_path(wishlist_id: wishlist), class: 'remove-from-cart', remote: true do %>
          <i class="material-icons">close</i>
        <% end %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td>Wishlist is empty.</td>
  </tr>
<% end %>
