<!-- Page Content-->
<div class="container padding-bottom-3x mb-1">
  <!-- Shopping Cart-->
  <% if @wishlists.present? %>
    <div class="table-responsive shopping-cart">
      <table class="table">
        <thead>
          <tr>
            <th>Lodging</th>
            <th class="text-center">Check in</th>
            <th class="text-center">Check out</th>
            <th class="text-center">Adults</th>
            <th class="text-center">Children</th>
            <th class="text-center">
              <%= link_to 'Clear Wishlist', wishlists_path, class: 'btn btn-sm btn-outline-danger', method: :DELETE %>
            </th>
          </tr>
        </thead>

        <tbody id="wishlist-body">
          <%= render partial: 'wishlist', collection: @wishlists %>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h4>Personal Details</h4>
        <hr class="padding-bottom-1x">
        <%= form_for current_user, url: checkout_wishlists_path, method: :post do |f| %>
          <%= render 'shared/errors', resource: current_user %>

          <fieldset disabled>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label :first_name %>
                  <%= f.text_field :first_name, class: "form-control" %>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: "form-control disabled", required: true %>
                </div>
              </div>
            </div>
          </fieldset>

          <hr class="padding-bottom-1x">

          <div class="d-flex justify-content-between">
            <%= link_to lodgings_path, class: 'btn btn-outline-secondary' do %>
              <i class="icon-arrow-left material-icons">keyboard_arrow_left</i>&nbsp;Back to Shopping
            <% end %>

            <%= f.submit 'Checkout', class: "btn btn-success m-0" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="shopping-cart-footer">
      <div class="text-center">
        <p>WISH LIST IS EMPTY.</p>

        <%= link_to lodgings_path, class: 'btn btn-outline-secondary' do %>
          <i class="icon-arrow-left material-icons">keyboard_arrow_left</i>&nbsp;Back to Listings
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% content_for :canonical do %><%= wishlists_url(@wishlist) %><% end %>

<% content_for :js_init do %>
  Cart.init();
<% end %>
