



<%= form_with(url: transactions_path, class: "form-inline my-lg-2 mr-auto", local: true, method: :get) do |f| %>
	
	
	<%= f.check_box :beds%>
	<%= f.submit "Search", class: "btn btn-outline-secondary my-2 my-sm-0" %>
 <% end %>


<h6> Found: <b><%= @transactions.total_count %></b></h6>
<br>
<% if @transactions.aggs.present? %>
      <% if @transactions.aggs["baths"]["buckets"].count > 0 %>
        <div class="widget">
          <p>Filter by beds</p>
          <% @transactions.aggs["baths"]["buckets"].each do |filter| %>

              <div class="list-group">


                <%= link_to "/transactions?baths=#{filter["key"]}", :class => "list-group-item d-flex justify-content-between align-items-center " do %>
                    <%= filter["key"] %>
                   <span class="badge badge-primary badge-pill">
                   	<%= filter["doc_count"] %>
                   		
                   	</span>
                
                  </span>
                <% end %>
              </div>

          <% end %>
        </div>
      <% end %>
    <% end %>

  <br>  
  <% if @transactions.aggs.present? %>
      <% if @transactions.aggs["beds"]["buckets"].count > 0 %>
        <div class="widget">
          <p>Filter by persons</p>
          <% @transactions.aggs["beds"]["buckets"].each do |filter| %>

              <div class="list-group">


                <%= link_to "/transactions?beds=#{filter["key"]}", :class => "list-group-item d-flex justify-content-between align-items-center " do %>
                    <%= filter["key"] %>
                   <span class="badge badge-primary badge-pill">
                   	<%= filter["doc_count"] %>
                   		
                   	</span>
                
                  </span>
                <% end %>
              </div>

          <% end %>
        </div>
      <% end %>
    <% end %>




<%= tag.div id: "transactions-list", data: { transactions: @transactions.to_json(methods: [:address]), l: params[:l] } do %>
  <% @transactions.each do |transaction| %>
    <div>
    	<%= image_tag(transaction.image_url(:middle).to_s) %>
    	<br>
      <h7><%= link_to transaction.address, transaction %></h7>
      <div><%= pluralize transaction.beds, "bed" %> <%= pluralize transaction.baths, "bath" %> <%= transaction.sq__ft %> sqft</div>
      <div>Sold: <%= l transaction.sale_date.to_date %> for <%= number_to_currency transaction.price %></div>
    </div>
    <hr />
  <% end %>

  <%= paginate @transactions, theme: 'twitter-bootstrap-4', remote: true %>
<% end %>
