<!-- Review-->
<div class="comment">
  <div class="comment-body">
    <div class="comment-header d-flex flex-wrap justify-content-between">
      <h3 class="comment-title default-font-family"><%= review.title %></h3>
      <div class="mb-2">
        <div class="product-rating text-warning">
          <% review.average_stars.times do |star| %>
            <i class="material-icons star"></i>
          <% end %>
        </div>
      </div>
    </div>

    <p class="comment-text" id="review-<%= review.id %>"><%= truncated_description(review.description, 100) %></p>

    <p class="text-right mb-0 m-0">
      <button class="btn btn-sm btn-read-more text-info m-0" data-target="#review-<%= review.id %>" data-actual="<%= review.description %>" data-truncated="<%= truncated_description(review.description, 100) %>">Read more</button>
    </p>

    <div class="comment-footer">
      <span class="comment-meta">
        <%= review.user_full_name unless review.anonymous? %>
      </span></br>

      <span class="comment-meta">
        Review of <%= link_to "#{review.lodging_name}", review.lodging, class: 'text-decoration-none' %>
      </span>

      <span class="comment-meta float-right"><%= render_date review.check_in %></span>
    </div>
  </div>
</div>
