<% if child_lodging.present? %>
  <%= form_for @reservation, url: rates_lodging_booking_expert_lodgings_path(child_lodging), remote: true, html: { id: "new_reservation_#{child_lodging.id}_#{be_availability['id']}_#{index}" } do |f| %>
    <div class="booking-expert-lodging" data-offer-filter="">
      <h4 class="mt-4"><%= child_lodging.h1.try(:capitalize) %></h4>

      <div class="row mt-3 children-scroll-section">
        <div class="col-md-5 col-border bg-white">
          <div class="owl-carousel">
            <%= render_modal_slider_images child_lodging, class: "card-img-top item" %>
          </div>
        </div>

        <div class="col-md-3 bg-white col-border">
          <p class="mb-0 mt-2"><span class="text-bold"><%= child_lodging.h1.try(:capitalize) %></span></p>

          <p class="mb-0">
            Start From: <span><%= be_availability['attributes']['start_date'] %></span>
          </p>

          <% if be_availability['attributes']['stock'].to_i <= 5 %>
            <div class="row mt-2">
              <span class="col-md-12 text-left text-danger">
                <%= t('guest_centric.only') %> <%= be_availability['attributes']['stock'] %> <%= t('guest_centric.left') %>!
              </span>
            </div>
          <% end %>

          <i class="fal fa-calendar-alt text-info text-xs"></i> <%= link_to 'Details & policy', '#', data: { target: "#be-lodging-modal-#{be_availability['id']}", toggle: 'modal', parent: ".parent-#{be_availability['id']}" }, class: 'be-modal-btn text-xs text-info' %>

          <p class="text-info mb-2 cursor-pointer" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= t('bookings.instant') %>"><i class="fal fa-calendar-alt"></i> <span class="text-dotted text-xxs"><%= t('bookings.direct') %></span></p>
        </div>

        <div class="col-md-4 col-border bg-white text-sm border-right">
          <%= render 'booking_expert_lodgings/modal', be_availability: be_availability, reservation: @reservation, child_lodging: child_lodging, index: index %>

          <div class="col-md-12">
            <div class="mt-3">
              <span class="">
                <%= "#{be_availability['attributes']['los']} #{be_availability['attributes']['los'] > 1 ? 'nights' : 'night'}" %>
              </span>

              <span class="float-right"><%= "€ #{be_availability['attributes']['rent_price'].round(2)}" %></span>
            </div>

            <div class="row">
              <span class="col-8">
                Additional Fees (Inc. Taxes)
              </span>

              <span class="col-md-4 text-right">
                € <%= (be_availability['attributes']['original_price'].to_f - be_availability['attributes']['original_rent_price'].to_f).round(2) %>
              </span>
            </div>

            <div class="mt-3">
              <span class="text-bold">Total</span> <%= link_to "(#{t('guest_centric.price_details')})", '#', data: { target: "#be-lodging-modal-#{be_availability['id']}", toggle: 'modal' }, class: 'be-modal-btn text-xs text-info' %>

              <span class="float-right text-bold"><%= "€ #{be_availability['attributes']['original_price'].round(2)}" %></span>
            </div>

            <%= link_to new_wishlist_path({ wishlist: { lodging_id: child_lodging.id } }), remote: true, class: 'col-md-2 my-auto pl-0 no-decoration' do %>
              <i class="fal fa-heart fa-1x"></i>
            <% end %>

            <%= button_tag class: "btn btn-primary col-md-9 btn-booking", id: "cart-#{child_lodging.id}", data: { form_id: "#new_reservation_#{child_lodging.id}_#{be_availability['id']}_#{index}" }, value: "cart" do %>
              <i class="material-icons add_shopping_cart"></i>&nbsp; Add to Cart
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= f.hidden_field :check_in, value: get_booking_expert_param(:check_in), id: "check_in_#{child_lodging.id}", class: 'check_in' %>
    <%= f.hidden_field :check_out, value: get_booking_expert_param(:check_out), id: "check_out_#{child_lodging.id}", class: 'check_out' %>
    <%= f.hidden_field :adults, value: no_of_adults(get_booking_expert_param(:adults) || f.object.adults), id: "adults_#{child_lodging.id}", class: 'adults' %>
    <%= f.hidden_field :children, value: (get_booking_expert_param(:children) || f.object.children), id: "children_#{child_lodging.id}", class: 'children' %>
    <%= f.hidden_field :infants, value: (get_booking_expert_param(:infants) || f.object.infants), id: "infants_#{child_lodging.id}", class: 'infants' %>
    <%= f.hidden_field :rooms, value: get_booking_expert_param(:rooms), id: "rooms_#{child_lodging.id}", class: 'rooms' %>
    <%= f.hidden_field :lodging_id, value: child_lodging.id, id: "lodging_id_#{child_lodging.id}", class: 'gc-child-id' %>
    <%= f.hidden_field :rent, class: 'offer-rent' %>
    <%= f.hidden_field :meal_price, class: 'meal-price' %>
    <%= f.hidden_field :meal_tax, class: 'meal-tax' %>
    <%= f.hidden_field :tax, class: 'total-tax' %>
    <%= f.hidden_field :additional_fee, class: 'additional-fee' %>
    <%= f.hidden_field :room_type, class: 'room-type' %>
    <%= hidden_field_tag :target_modal %>
  <% end %>
<% end %>
