<div class="modal fade" id="child-details-modal-<%= lodging.id %>" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= lodging.child_name %></h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <div class="owl-carousel">
          <%= render_modal_slider_images lodging, class: "modal-slider-img" %>
        </div>

        <p class="text-sm">
          <div id="lodging-description">
            <%= lodging.short_desc.try(:html_safe) %>
          </div>

          <div class="row">
            <div class="col-md-5 vue-app">
              <reservation-datepicker
              :check-in="'<%= params[:check_in]%>'"
              :check-out="'<%= params[:check_out]%>'"
              :check-in-title="'<%= t('search.check_in') %>'"
              :check-out-title="'<%= t('search.check_out') %>'"
              :months="1"
              :min-date="'<%= Date.yesterday %>'"
              :lodging-id="<%= lodging.id %>"
              :disabled-dates="<%= lodging.not_available_on %>"
              :customized-dates="<%= lodging.customized_dates %>"
              :invoice-on-apply= "true" />
            </div>

            <div class="col-md-7 bg-white col-border">
              <div class="reservation-form-errors-<%= lodging.id %> child-form-errors">
                 <%= render 'reservations/errors', resource: lodging.reservations.build %>
              </div>
              <%= form_for lodging.reservations.build, url: reservations_path, remote: true, html: { id: "#{id_sufix}new_reservation_#{lodging.id}" } do |f| %>

                <p class="mb-1 mt-2 text-xxxs text-dark anternative-heading anternative-heading-<%= lodging.id %>" id="<%= id_sufix %>anternative-heading-<%= lodging.id %>">
                </p>

                <div id="<%= id_sufix %>flexible-search-<%= lodging.id %>" class="text-xxxs flexible-search-data flexible-search-<%= lodging.id %>"></div>

                <p class="text-xxs lbl-error-<%= lodging.id %>" id="<%= id_sufix %>lbl-error-<%= lodging.id %>"></p>

                <div class="bg-white">
                  <p class="text-xxxs bg-secondary-2">
                    <% [:prebooking, :option].each do |status| %>
                      <%= f.radio_button :booking_status, status, id: "#{id_sufix}booking_status_#{status}_#{lodging.id}" %>
                      <label><%= t("reservations.#{status}") %></label>
                    <% end %>
                  </p>

                  <%= hidden_field_tag "#{id_sufix}calculate_bill-#{lodging.id}", true %>
                  <%= f.hidden_field :check_in, value: params[:check_in], id: "#{id_sufix}check_in_#{lodging.id}", class: 'check_in' %>
                  <%= f.hidden_field :check_out, value: params[:check_out], id: "#{id_sufix}check_out_#{lodging.id}", class: 'check_out' %>
                  <%= f.hidden_field :adults, value: no_of_adults(params[:adults] || f.object.adults), id: "#{id_sufix}adults_#{lodging.id}", class: 'adults' %>
                  <%= f.hidden_field :children, value: (params[:children] || f.object.children), id: "#{id_sufix}children_#{lodging.id}", class: 'children' %>
                  <%= f.hidden_field :infants, value: (params[:infants] || f.object.infants), id: "#{id_sufix}infants_#{lodging.id}", class: 'infants' %>
                  <%= f.hidden_field :lodging_id, value: lodging.id, id: "#{id_sufix}lodging_id_#{lodging.id}" %>
                  <%= f.hidden_field :cleaning_cost, id: "#{id_sufix}cleaning_cost_#{lodging.id}", class: 'cleaning-cost' %>
                  <%= f.hidden_field :discount, id: "#{id_sufix}discount_#{lodging.id}", class: 'discount' %>
                </div>
              <% end %>

              <p class="text-sm text-dark" id="<%= id_sufix %>bill-<%= lodging.id %>"></p>
                <%= button_tag class: "btn btn-primary col-md-12 btn-booking disabled", id: "#{id_sufix}cart-#{lodging.id}", data: { form_id: "##{id_sufix}new_reservation_#{lodging.id}" } do %>
                  <i class="material-icons add_shopping_cart"></i>&nbsp; Cart
                <% end %>
              <p class="text-xxxs text-center"><%= t 'cart.nice2stay' %></p>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>

<% content_for :js_init do %>
  OwlCarousel.init();
<% end %>
