<%= form_tag lodgings_path, method: :get, class: 'lodgings-filters form-inline', data: { check_in: params[:check_in], check_out: params[:check_out] }, remote: true do %>

  <div class="col-lg-12 col-md-12">
    <div class="sidebar-toggle position-left">
      <i class="material-icons filter_list"></i>
    </div>

    <aside class="sidebar sidebar-offcanvas position-left">
      <span class="sidebar-close"><i class="material-icons icon_close"></i></span>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 p-0">
            <div class="pt-3 pb-1 pb-sm-3 text-sm">
              <span class="text-muted mr-2 lodgings-heading">
                <%= page_entries_info(lodgings, entry_name: 'Lodging' ) %>
              </span>
            </div>
          </div>

          <section class="widget widget-categories col-md-12 p-0">
            <div class="price-dropdown dropdown">
              <button class="btn btn-sm btn btn-outline-primary dropdown-toggle" type="button" id="PriceSortFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="title"><%= render_sort_text %></span>
              </button>

              <div class="dropdown-menu sorting-dropdown-menu" aria-labelledby="PriceSortFilter">
                <a class="dropdown-item lowest-price" href="#">Lowest Price</a>
                <a class="dropdown-item highest-price" href="#">Highest Price</a>
                <a class="dropdown-item highest-rating" href="#">Highest Rating</a>
                <a class="dropdown-item newest" href="#">Newest</a>
                <a class="dropdown-item default" href="#">Default</a>
                <%= hidden_field_tag :order, params[:order] %>
              </div>
            </div>
          </section>

          <section class="widget widget-categories col-md-12 p-0 pb-2 mb-2">
            <p class="widget-title"><%= "#{t('search.date_filter')}" %></h3>
            <div id="datepicker"></div>

            <div class="custom-control custom-checkbox">
              <%= check_box_tag :flexible_arrival, true, params[:flexible_arrival], class: "custom-control-input amenities" %>
              <%= label_tag :flexible_arrival, t('search.flexibility_text'), class: 'text-xxxs custom-control-label' %>
            </div>
          </section>

          <p class="widget-title"><%= t 'filters.guests' %></p>
          <section class="widget widget-categories col-md-12 p-0">
            <div class="dropdown guests-dropdown">
              <button class="btn btn-outline-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="title"><%= t('search.guests') %></span>
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <div class="dropdown-item">
                  <label><%= t "search.adults" %></label>
                  <%= number_field_tag :adults, params[:adults], min: 0, class: 'adults' %>
                </div>

                <div class="dropdown-item">
                  <label><%= t "search.children" %></label>
                  <%= number_field_tag :children, params[:children], min: 0, class: 'children' %>
                </div>

                <div class="dropdown-item">
                  <label><%= t "search.babies" %></label>
                  <%= number_field_tag :infants, params[:infants], min: 0, class: 'infants' %>
                </div>

                <div class="dropdown-item">
                  <%= submit_tag 'Done', class: 'btn btn-sm btn-secondary submit-filters float-right' %>
                </div>
              </div>
            </div>
          </section>

          <p class="widget-title"><%= t 'filters.price' %></p>
          <section class="widget widget-categories mr-1 col-md-12">
            <div class="price-range-slider p-1" data-start-min="<%= render_min_price params[:min_price] %>" data-start-max="<%= render_max_price params[:max_price] %>" data-min="0" data-max="1500" data-step="1">
              <div class="ui-range-slider"></div>
              <footer class="ui-range-slider-footer pt-3">
                <div class="column">
                  <div class="ui-range-values">
                    <div class="ui-range-value-min">€<span></span>
                      <%= hidden_field_tag :min_price, render_min_price(params[:min_price]) %>
                    </div>&nbsp;-&nbsp;

                    <div class="ui-range-value-max">€<span></span>
                      <%= hidden_field_tag :max_price, render_max_price(params[:max_price]) %>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
          </section>

          <section class="widget">
            <p class="widget-title"><%= t 'filters.type' %></p>
            <% Lodging.lodging_types.each do |key, value| %>
              <div class="custom-control custom-checkbox">
                <%= check_box_tag "lodging_type_in[]", key, is_checked?(key, :lodging_type_in), id: "lodging_type_#{key}", class: "custom-control-input lodging_type" %>

                <label class="custom-control-label" for="lodging_type_<%= key %>">
                  <%= key %>&nbsp; <span class="text-muted">(<%= render_lodgings_count_for(lodgings, key, 'lodging_type') %>)</span>
                </label>
              </div>
            <% end %>
          </section>

          <section class="widget">
            <p class="widget-title"><%= t 'filters.theme' %> </p>
            <% experiences.each do |experience| %>
              <div class="custom-control custom-checkbox">
                <%= check_box_tag "experiences_in[]", experience.name, is_checked?(experience.name, :experiences_in), id: "experience_#{experience.id}", class: "custom-control-input experiences" %>

                <label class="custom-control-label" for="experience_<%= experience.id %>">
                  <%= experience.name %>&nbsp; <span class="text-muted">(<%= render_lodgings_count_for(lodgings, experience.id, 'experiences') %>)</span>
                </label>
              </div>
            <% end %>
          </section>

          <section class="widget">
            <p class="widget-title"><%= t 'filters.amentities_pop' %></p>
            <% amenities.hot.each do |amenity| %>
              <div class="custom-control custom-checkbox">
                <%= check_box_tag "amenities_in[]", amenity.name, is_checked?(amenity.name, :amenities_in), id: "amenity_#{amenity.id}", class: "custom-control-input amenities" %>

                <label class="custom-control-label" for="amenity_<%= amenity.id %>">
                  <%= amenity.name %>&nbsp; <span class="text-muted">(<%= render_lodgings_count_for(lodgings, amenity.id, 'amenities') %>)</span>
                </label>
              </div>
            <% end %>
          </section>

          <section class="widget">
            <p class="widget-title"><%= t 'filters.amentities' %></p>
            <div class="filters-show-less amenities-list">
              <% amenities.regular.each do |amenity| %>
                <div class="custom-control custom-checkbox">
                  <%= check_box_tag "amenities_in[]", amenity.name, is_checked?(amenity.name, :amenities_in), id: "amenity_#{amenity.id}", class: "custom-control-input amenities" %>

                  <label class="custom-control-label" for="amenity_<%= amenity.id %>">
                    <%= amenity.name %>&nbsp; <span class="text-muted">(<%= render_lodgings_count_for(lodgings, amenity.id, 'amenities') %>)</span>
                  </label>
                </div>
              <% end %>
            </div>

             <a href="#" class="show-all-filters text-decoration-none" data-target=".amenities-list" data-name="amenities">show all amenities</a><i class="amenities-list-icon material-icons text-primary">keyboard_arrow_down</i>
          </section>
        </div>
      </div>
    </aside>
  </div>

  <%= hidden_field_tag :region, params[:region] unless params[:bounds].present? %>
  <%= hidden_field_tag :country, params[:country] unless params[:bounds].present? %>
  <%= hidden_field_tag :bounds, params[:bounds] %>
<% end %>
