<%= form_for lodging.reservations.build, url: rates_lodging_guest_centric_offers_en_path(lodging), remote: true, html: { id: "new_reservation_#{lodging.id}" } do |f| %>

  <% offers = [] %>
  <div class="row mt-3 children-scroll-section">
    <div class="col-md-2 col-border bg-white">
      <% if child['isPromotion'] %>
        <% if child['type'] == 'percentage' %>
          <span class="text-info"><%= child['percentage'] %>% off</span>
        <% else %>
          <span class="text-info">€<%= child['promotionValue'] %> off</span>
        <% end %>
      <% end %>

      <%= image_tag child['defaultImage'], class: 'w-100 max-height-230' if child['defaultImage'].present? %>
    </div>

    <div class="col-md-4 col-border bg-white text-sm">
      <b><%= child['name'] %></b>
      <p><%= child['description'].try(:html_safe) %></p>

      <% if child['restrictions'].present? %>
        Restrictions:

        <ul class="text-xxs">
          <%= child['restrictions'].html_safe %>
        </ul>
      <% end %>
    </div>

    <div class="col-md-4 col-border bg-white text-sm group-toggle">
      <% if child['isPromotion'] %>
        <% child['offers'].each do |offer| %>
          <%= link_to offer['name'].try(:capitalize), '#', data: { target: "#offers-modal-#{offer['offer'].gsub('.', '-')}", toggle: 'modal' }, class: 'text-bold guest-centric-modal-btn' %>
          <%= render 'guest_centric_offers/modal', child: offer, meal_plans: child['mealPlans'] %>

          <% offers << offer['offer'].gsub('.', '-') %>
          <label class="col-border col-md-12 border-dark border-right group-toggle-radio" data-submit="#new_reservation_<%= lodging.id %>">
            <%= f.radio_button(:offer_id, offer['offer'], class: "offers-select-radio") %> <%= "Adults: #{offer['MaxAdults']} - Children: #{offer['MaxChildren']}" %><br>

            <%= "Price: #{offer['avgPrice']}" %><br>
          </label><br>
        <% end %>
      <% else %>
        <% offers << child['offer'].gsub('.', '-') %>
        <%= link_to child['name'].try(:capitalize), '#', data: { target: "#offers-modal-#{child['offer'].gsub('.', '-')}", toggle: 'modal' }, class: 'text-bold guest-centric-modal-btn' %>
        <%= render 'guest_centric_offers/modal', child: child, meal_plans: child['mealPlans'] %>

        <label class="col-border col-md-12 border-dark border-right group-toggle-radio" data-submit="#new_reservation_<%= lodging.id %>">
          <%= f.radio_button(:offer_id, child['offer'], class: "offers-select-radio") %>  <%= "Adults: #{child['MaxAdults']} - Children: #{child['MaxChildren']}" %><br>

          <%= "Price: #{child['avgPrice']}" %><br>
        </label>
      <% end %>
    </div>

    <div class="col-md-2 bg-white col-border">
        <p class="<%= offers.join(' ') %> text-center text-bold mb-0"></p>
        <%= button_tag class: "btn btn-primary col-md-12 btn-booking disabled", id: "cart-#{lodging.id}", data: { form_id: "#new_reservation_#{lodging.id}" } do %>
          <i class="material-icons add_shopping_cart"></i>&nbsp; Cart
        <% end %>

      <p class="text-xxxs text-center"><b><%= "#{child['cancelPolicy']['type']}: #{child['cancelPolicy']['name']}" %></b></p>
      <p class="text-xxxs text-center"><%= t 'cart.nice2stay' %></p>
    </div>
  </div>

  <%= f.hidden_field :check_in, value: get_centric_param(:check_in), id: "check_in_#{lodging.id}", class: 'check_in' %>
  <%= f.hidden_field :check_out, value: get_centric_param(:check_out), id: "check_out_#{lodging.id}", class: 'check_out' %>
  <%= f.hidden_field :adults, value: no_of_adults(get_centric_param(:adults) || f.object.adults), id: "adults_#{lodging.id}", class: 'adults' %>
  <%= f.hidden_field :children, value: (get_centric_param(:children) || f.object.children), id: "children_#{lodging.id}", class: 'children' %>
  <%= f.hidden_field :infants, value: (get_centric_param(:infants) || f.object.infants), id: "infants_#{lodging.id}", class: 'infants' %>
  <%= f.hidden_field :lodging_id, value: lodging.id, id: "lodging_id_#{lodging.id}" %>
  <%= f.hidden_field :offer_id, class: 'offer-id' %>
  <%= hidden_field_tag :target_modal %>
<% end %>
