<%= form_for @reservation, url: rates_lodging_guest_centric_offers_path(lodging), remote: true, html: { id: "new_reservation_#{lodging.id}#{child['id_offer']}#{index}" } do |f| %>

  <% if child['isPromotion'] %>
    <% offers = [] %>
    <div class="guest-centric-offer" data-offer-filter="<%= child['promotionId'] %>">
      <h4 class="mt-4"><%= child['name'] %></h4>
      <p><%= child['description'].try(:html_safe) %></p>

      <% child['offers'].each do |offer| %>
        <% lodging_child = lodging.lodging_children.find_by(guest_centric_id: offer['roomOffer'].split('.')[0]) %>

        <div class="row mt-3 children-scroll-section">
          <div class="col-md-5 col-border bg-white">
            <% if lodging_child.present? %>
              <div class="owl-carousel">
                <%= render_modal_slider_images lodging_child, class: "card-img-top item" %>
              </div>
            <% else %>
              <div class="owl-carousel">
                <%= render_guest_centric_images offer, class: "modal-slider-img" %>
              </div>
            <% end %>
          </div>

          <div class="col-md-3 bg-white col-border">
            <p class="mb-0 mt-2"><b><%= offer['name'].try(:capitalize) %></b></p>

            <p class="mb-0">
              <span><%= t "pdf_document.adults" %> <b> <%= offer['MaxAdults'] %> (max)</b></span><br>
              <% if offer['MaxChildren'].to_i > 0 %>
                <span><%= t "pdf_document.children" %> <b> <%= offer['MaxChildren'] %> (max)</b></span>
              <% end %>
            </p>

            <% if offer['availability'].to_i <= 5 %>
              <div class="row mt-2">
                <span class="col-md-12 text-left text-danger">
                  <%= t('guest_centric.only') %> <%= offer['availability'] %> <%= t('guest_centric.left') %>!
                </span>
              </div>
            <% end %>

            <i class="fal fa-calendar-alt text-info text-xs"></i> <%= link_to 'Details & policy', '#', data: { target: "#offers-modal-#{offer['offer'].gsub('.', '-')}", toggle: 'modal', parent: ".parent-#{offer['offer'].gsub('.', '-')}" }, class: 'guest-centric-modal-btn text-xs text-info' %>

            <p class="text-info mb-2 cursor-pointer" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= t('bookings.instant') %>"><i class="fal fa-calendar-alt"></i> <span class="text-dotted text-xxs"><%= t('bookings.direct') %></span></p>
          </div>

          <div class="col-md-4 col-border bg-white text-sm group-toggle">
            <%= render 'guest_centric_offers/modal', child: offer, meal_plans: child['mealPlans'], reservation: @reservation, lodging: @lodging, index: index, lodging_child: lodging_child, cancel_policy: gc_cancel_policy(child['cancelPolicy']) %>

            <label
              class="col-border col-md-12 border-dark border-right offer-item parent-<%= offer['offer'].gsub('.', '-') %>"
              data-submit="#new_reservation_<%= "#{lodging.id}#{child['id_offer']}#{index}" %>"
              data-bookable="<%= child["isBookable"] %>"
              data-price="<%= money_string_to_float offer['total'] %>"
              data-tax="<%= money_string_to_float offer['tax'] %>"
              data-fee="<%= offer['additionalFees'] %>"
              data-type="<%= offer['name'].try(:capitalize) %>"
              data-child="<%= lodging_child.try(:id) %>"
              data-policy="<%= gc_cancel_policy(child['cancelPolicy']) %>"
            >

              <p>
                <%= f.radio_button(:offer_id, offer['offer'], class: "offers-select-radio") %> <span class="text-bold"><%= offer['name'].try(:capitalize) %></span>
              </p>

              <% child['mealPlans'].each do |meal| %>
                <% next if meal['id'] == 1 || meal['total'] > 0 %>
                <div class="row">
                  <span class="col-md-12 text-left text-green text-dotted" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= t("guest_centric.meal_tooltip_#{meal['id']}") %>">
                    <i class="material-icons free_breakfast text-dark"></i> <%= t("guest_centric.meal_#{meal['id']}") %>
                  </span>
                </div>
              <% end if child['mealPlans'].present? %>

              <% child['mealPlans'].each do |meal| %>
                <% next if meal['id'] == 1 || meal['total'] <= 0 %>
                <div class="row">
                  <span class="col-8 text-left">
                    <%= f.check_box :meal_id, { class: 'meal_check_box', data: { price: meal['net'], tax: meal['taxes'] }, id: "meal-id-#{offer['offer'].gsub('.', '-')}#{meal['id']}" }, meal['id'], nil %>
                    <label for="<%= "meal-id-#{offer['offer'].gsub('.', '-')}#{meal['id']}" %>" class="mb-0 text-dotted" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= t("guest_centric.meal_tooltip_#{meal['id']}") %>"><%= t("guest_centric.meal_#{meal['id']}") %></label>
                  </span>

                  <span class="col-4 text-right">
                    <%= "€#{render_meal_price meal['net'], params}" %>
                  </span>
                </div>
              <% end if child['mealPlans'].present? %>

              <div class="mt-3">
               <span class="text-bold">
                  <%= render_reservation_guests(@reservation) %>
                </span>

                <span class="float-right text-bold">
                  <%= "€#{offer['netValue']}" %>
                </span>
              </div>

              <div class="row offer-meal-details meal-<%= offer['offer'].gsub('.', '-') %> d-none">
                <span class="col-md-8 text-left meal-title-<%= offer['offer'].gsub('.', '-') %>">
                  <%= render_meal_title(@reservation.meal_id) %>
                </span>

                <span class="col-md-4 text-right meal-price-<%= offer['offer'].gsub('.', '-') %>">
                  €<%= @reservation.meal_price %>
                </span>
              </div>

              <div class="row">
                <span class="col-8 text-left">
                  <%= t('guest_centric.tax') %>
                </span>

                <span class="col-4 text-right tax-price taxes-<%= offer['offer'].gsub('.', '-') %>">
                  €<%= offer['tax'] %>
                </span>
              </div>

              <div class="row">
                <span class="col-8">
                  <%= t('guest_centric.additional_fee') %>
                </span>

                <span class="col-md-4 text-right">
                  €<%= offer['additionalFees'] %>
                </span>
              </div>

              <div class="mt-3">
                <span class="text-bold">Total</span> <%= link_to "(#{t('guest_centric.price_details')})", '#', data: { target: "#offers-modal-#{offer['offer'].gsub('.', '-')}", toggle: 'modal' }, class: 'guest-centric-modal-btn text-xs text-info' %>

                <span class="float-right offer-price text-bold <%= offer['offer'].gsub('.', '-') %>"><%= "€#{offer['total']}" %></span>
              </div>

              <%= link_to new_wishlist_path({ wishlist: { lodging_id: lodging_child.id } }), remote: true, class: 'col-md-2 my-auto pl-0 no-decoration' do %>
                <i class="fal fa-heart fa-1x"></i>
              <% end if lodging_child.present? %>

              <%= button_tag class: "btn btn-primary col-md-9 #{lodging_child.present? ? 'col-md-9' : 'col-md-12'} btn-booking disabled btn-#{offer['offer'].gsub('.', '-')}", id: "cart-#{lodging.id}", data: { form_id: "#new_reservation_#{lodging.id}#{child['id_offer']}#{index}" }, value: "cart" do %>
                <i class="material-icons add_shopping_cart"></i>&nbsp; Add to Cart
              <% end %>
            </label><br>
          </div>
        </div>
      <% end if child['offers'].present? %>
    </div>
  <% else %>
    <% offers = [] %>
    <% lodging_child = lodging.lodging_children.find_by(guest_centric_id: child['id_package']) %>

    <div class="guest-centric-offer" data-offer-filter="">
      <h4 class="mt-4"><%= child['name'] %></h4>

      <div class="row mt-3 children-scroll-section">
        <div class="col-md-5 col-border bg-white">
          <% if lodging_child.present? %>
            <div class="owl-carousel">
              <%= render_modal_slider_images lodging_child, class: "card-img-top item" %>
            </div>
          <% else %>
            <div class="owl-carousel">
              <%= render_guest_centric_images child, class: "modal-slider-img" %>
            </div>
          <% end %>
        </div>

        <div class="col-md-3 bg-white col-border">
          <p class="mb-0 mt-2"><span class="text-bold"><%= child['name'].try(:capitalize) %></span></p>
            <p class="mb-0">
              <span><%= t "pdf_document.adults" %> <b> <%= child['MaxAdults'] %> (max)</b></span><br>
              <% if child['MaxChildren'].to_i > 0 %>
                <span><%= t "pdf_document.children" %> <b> <%= child['MaxChildren'] %> (max)</b></span>
              <% end %>
            </p>

          <% if child['availability'].to_i <= 5 %>
            <div class="row mt-2">
              <span class="col-md-12 text-left text-danger">
                <%= t('guest_centric.only') %> <%= child['availability'] %> <%= t('guest_centric.left') %>!
              </span>
            </div>
          <% end %>

          <i class="fal fa-calendar-alt text-info text-xs"></i> <%= link_to 'Details & policy', '#', data: { target: "#offers-modal-#{child['offer'].gsub('.', '-')}", toggle: 'modal', parent: ".parent-#{child['offer'].gsub('.', '-')}" }, class: 'guest-centric-modal-btn text-xs text-info' %>

          <p class="text-info mb-2 cursor-pointer" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= t('bookings.instant') %>"><i class="fal fa-calendar-alt"></i> <span class="text-dotted text-xxs"><%= t('bookings.direct') %></span></p>
        </div>

        <div class="col-md-4 col-border bg-white text-sm group-toggle">
          <%= render 'guest_centric_offers/modal', child: child, meal_plans: child['mealPlans'], reservation: @reservation, lodging: lodging, index: index, lodging_child: lodging_child, cancel_policy: gc_cancel_policy(child['cancelPolicy']) %>

          <label
            class="col-border col-md-12 border-dark border-right offer-item parent-<%= child['offer'].gsub('.', '-') %>"
            data-submit="#new_reservation_<%= "#{lodging.id}#{child['id_offer']}#{index}" %>"
            data-bookable="<%= child["isBookable"] %>"
            data-price="<%= money_string_to_float child['total'] %>"
            data-tax="<%= money_string_to_float child['tax'] %>"
            data-fee="<%= child['additionalFees'] %>"
            data-type="<%= child['name'].try(:capitalize) %>"
            data-child="<%= lodging_child.try(:id) %>"
            data-policy="<%= gc_cancel_policy(child['cancelPolicy']) %>"
          >

            <p>
              <%= f.radio_button(:offer_id, child['offer'], class: "offers-select-radio") %> <span class="text-bold"><%= child['name'].try(:capitalize) %></span>
            </p>

            <% child['mealPlans'].each do |meal| %>
              <% next if meal['id'] == 1 || meal['total'] > 0 %>
              <div class="row">
                <span class="col-md-12 text-left text-green text-dotted" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= t("guest_centric.meal_tooltip_#{meal['id']}") %>">
                  <i class="material-icons free_breakfast text-dark"></i> <%= t("guest_centric.meal_#{meal['id']}") %>
                </span>
              </div>
            <% end if child['mealPlans'].present? %>

            <% child['mealPlans'].each do |meal| %>
              <% next if meal['id'] == 1 || meal['total'] <= 0 %>
              <div class="row">
                <span class="col-8 text-left">
                  <%= f.check_box :meal_id, { class: 'meal_check_box', data: { price: meal['net'], tax: meal['taxes'] }, id: "meal-id-#{child['offer'].gsub('.', '-')}#{meal['id']}" }, meal['id'], nil %>
                  <label for="<%= "meal-id-#{child['offer'].gsub('.', '-')}#{meal['id']}" %>" class="mb-0 text-dotted" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= t("guest_centric.meal_tooltip_#{meal['id']}") %>"><%= t("guest_centric.meal_#{meal['id']}") %></label>
                </span>

                <span class="col-4 text-right">
                  <%= "€#{render_meal_price meal['net'], params}" %>
                </span>
              </div>
            <% end if child['mealPlans'].present? %>

            <div class="mt-3">
              <span class="text-bold">
                <%= render_reservation_guests(@reservation) %>
              </span>

              <span class="float-right text-bold"><%= "€#{child['netValue']}" %></span>
            </div>

            <div class="row offer-meal-details meal-<%= child['offer'].gsub('.', '-') %> d-none">
              <span class="col-md-8 text-left meal-title-<%= child['offer'].gsub('.', '-') %>">
                <%= render_meal_title(@reservation.meal_id) %>
              </span>

              <span class="col-md-4 text-right meal-price-<%= child['offer'].gsub('.', '-') %>">
                €<%= @reservation.meal_price %>
              </span>
            </div>

            <div class="row">
              <span class="col-8 text-left">
                Taxes
              </span>

              <span class="col-4 text-right tax-price taxes-<%= child['offer'].gsub('.', '-') %>">
                €<%= child['tax'] %>
              </span>
            </div>

            <div class="row">
              <span class="col-8">
                Additional Fees
              </span>

              <span class="col-md-4 text-right">
                €<%= child['additionalFees'] %>
              </span>
            </div>

            <div class="mt-3">
              <span class="text-bold">Total</span> <%= link_to "(#{t('guest_centric.price_details')})", '#', data: { target: "#offers-modal-#{child['offer'].gsub('.', '-')}", toggle: 'modal' }, class: 'guest-centric-modal-btn text-xs text-info' %>

              <span class="float-right offer-price text-bold <%= child['offer'].gsub('.', '-') %>"><%= "€#{child['total']}" %></span>
            </div>

            <%= link_to new_wishlist_path({ wishlist: { lodging_id: lodging_child.id } }), remote: true, class: 'col-md-2 my-auto pl-0 no-decoration' do %>
              <i class="fal fa-heart fa-1x"></i>
            <% end if lodging_child.present? %>

            <%= button_tag class: "btn btn-primary #{lodging_child.present? ? 'col-md-9' : 'col-md-12'} btn-booking disabled btn-#{child['offer'].gsub('.', '-')}", id: "cart-#{lodging.id}", data: { form_id: "#new_reservation_#{lodging.id}#{child['id_offer']}#{index}" }, value: "cart" do %>
              <i class="material-icons add_shopping_cart"></i>&nbsp; Add to Cart
            <% end %>
          </label>
        </div>
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :check_in, value: get_centric_param(:check_in), id: "check_in_#{lodging.id}", class: 'check_in' %>
  <%= f.hidden_field :check_out, value: get_centric_param(:check_out), id: "check_out_#{lodging.id}", class: 'check_out' %>
  <%= f.hidden_field :adults, value: no_of_adults(get_centric_param(:adults) || f.object.adults), id: "adults_#{lodging.id}", class: 'adults' %>
  <%= f.hidden_field :children, value: (get_centric_param(:children) || f.object.children), id: "children_#{lodging.id}", class: 'children' %>
  <%= f.hidden_field :infants, value: (get_centric_param(:infants) || f.object.infants), id: "infants_#{lodging.id}", class: 'infants' %>
  <%= f.hidden_field :rooms, value: get_centric_param(:rooms), id: "rooms_#{lodging.id}", class: 'rooms' %>
  <%= f.hidden_field :lodging_id, value: lodging.id, id: "lodging_id_#{lodging.id}", class: 'gc-child-id' %>
  <%= f.hidden_field :offer_id, class: 'offer-id' %>
  <%= f.hidden_field :gc_policy, class: 'guest-centric-policy' %>
  <%= f.hidden_field :rent, class: 'offer-rent' %>
  <%= f.hidden_field :meal_price, class: 'meal-price' %>
  <%= f.hidden_field :meal_tax, class: 'meal-tax' %>
  <%= f.hidden_field :tax, class: 'total-tax' %>
  <%= f.hidden_field :additional_fee, class: 'additional-fee' %>
  <%= f.hidden_field :room_type, class: 'room-type' %>
  <%= hidden_field_tag :target_modal %>
<% end %>
