<%= form_for @reservation, url: rates_lodging_guest_centric_offers_en_path(lodging), remote: true, html: { id: "new_reservation_#{lodging.id}#{child['id_offer']}#{index}" } do |f| %>

  <% offers = [] %>
  <div class="row mt-3 children-scroll-section">
    <div class="col-md-2 col-border bg-white">
      <% if child['isPromotion'] %>
        <% if child['type'] == 'percentage' %>
          <span class="text-info"><%= child['percentage'] %>% off</span>
        <% else %>
          <span class="text-info">€<%= child['promotionValue'] %> off</span>
        <% end %>
      <% end %>

      <%= image_tag child['defaultImage'], class: 'w-100 max-height-230' if child['defaultImage'].present? %>
    </div>

    <div class="col-md-4 col-border bg-white text-sm">
      <b><%= child['name'] %></b>
      <p><%= child['description'].try(:html_safe) %></p>

      <% if child['restrictions'].present? %>
        Restrictions:

        <ul class="text-xxs restrictions">
          <%= child['restrictions'].html_safe %>
        </ul>
      <% end %>
    </div>

    <div class="col-md-4 col-border bg-white text-sm group-toggle">
      <% if child['isPromotion'] %>
        <% child['offers'].each do |offer| %>
          <%= render 'guest_centric_offers/modal', child: offer, meal_plans: child['mealPlans'], reservation: @reservation, lodging: @lodging, index: index %>

          <% offers << offer['offer'].gsub('.', '-') %>
          <label class="col-border col-md-12 border-dark border-right offer-item" data-submit="#new_reservation_<%= "#{lodging.id}#{child['id_offer']}#{index}" %>" data-bookable="<%= child["isBookable"] %> " data-price="<%= money_string_to_float offer['total'] %>">

            <p>
              <%= f.radio_button(:offer_id, offer['offer'], class: "offers-select-radio") %> <%= link_to "#{offer['name'].try(:capitalize)}", '#', data: { target: "#offers-modal-#{offer['offer'].gsub('.', '-')}", toggle: 'modal' }, class: 'guest-centric-modal-btn text-bold' %>
              <span class="float-right">Max: <%= "Adults #{offer['MaxAdults']} - Children #{offer['MaxChildren']}" %></span>
            </p>

            <% child['mealPlans'].each do |meal| %>
              <% next if meal['id'] == 1 || meal['total'] > 0 %>
              <div class="row">
                <span class="col-md-12 text-left text-green">
                  <i class="material-icons free_breakfast text-dark"></i> <%= meal['label'] %>
                </span>
              </div>
            <% end if child['mealPlans'].present? %>

            <% if child['mealPlans'].present? && child['mealPlans'].count > 1 %>
              <span class="mt-3">Extra:</span>
            <% end %>

            <% child['mealPlans'].each do |meal| %>
              <% next if meal['id'] == 1 || meal['total'] <= 0 %>
              <div class="row">
                <span class="col-md-8 text-left">
                  <%= f.check_box :meal_id, { class: 'meal_check_box', data: { price: meal['total'] } }, meal['id'], nil %>
                  <%= meal['label'] %>
                </span>

                <span class="col-md-4 text-right">
                  <%= "€#{render_meal_price meal['total'], params}" %>
                </span>
              </div>
            <% end if child['mealPlans'].present? %>

            <div class="mt-3">
             <span class="text-bold">
                <%= render_reservation_guests(@reservation) %>
              </span>

              <span class="float-right text-bold offer-<%= offer['offer'].gsub('.', '-') %>">
                <%= "€#{offer['total']}" %>
              </span>
            </div>
          </label><br>
        <% end %>
      <% else %>
        <% offers << child['offer'].gsub('.', '-') %>
        <%= render 'guest_centric_offers/modal', child: child, meal_plans: child['mealPlans'], reservation: @reservation, lodging: @lodging, index: index %>

        <label class="col-border col-md-12 border-dark border-right offer-item" data-submit="#new_reservation_<%= "#{lodging.id}#{child['id_offer']}#{index}" %>" data-bookable="<%= child["isBookable"] %>" data-price="<%= money_string_to_float child['total'] %>">
          <p>
            <%= f.radio_button(:offer_id, child['offer'], class: "offers-select-radio") %> <%= link_to "#{child['name'].try(:capitalize)}", '#', data: { target: "#offers-modal-#{child['offer'].gsub('.', '-')}", toggle: 'modal' }, class: 'guest-centric-modal-btn text-bold' %>
            <span class="float-right">Max: <%= "Adults #{child['MaxAdults']} - Children #{child['MaxChildren']}" %></span>
          </p>

          <% child['mealPlans'].each do |meal| %>
            <% next if meal['id'] == 1 || meal['total'] > 0 %>
            <div class="row">
              <span class="col-md-12 text-left text-green">
                <i class="material-icons free_breakfast text-dark"></i> <%= meal['label'] %>
              </span>
            </div>
          <% end if child['mealPlans'].present? %>


          <% if child['mealPlans'].present? && child['mealPlans'].count > 1 %>
            <span class="mt-3">Extra:</span>
          <% end %>

          <% child['mealPlans'].each do |meal| %>
            <% next if meal['id'] == 1 || meal['total'] <= 0 %>
            <div class="row">
              <span class="col-md-8 text-left">
                <%= f.check_box :meal_id, { class: 'meal_check_box', data: { price: meal['total'] } }, meal['id'], nil %>
                <%= meal['label'] %>
              </span>

              <span class="col-md-4 text-right">
                <%= "€#{render_meal_price meal['total'], params}" %>
              </span>
            </div>
          <% end if child['mealPlans'].present? %>

          <div class="mt-3">
            <span class="text-bold">
              <%= render_reservation_guests(@reservation) %>
            </span>

            <span class="float-right text-bold <%= offers.join(' ') %>"><%= "€#{child['total']}" %></span>
          </div>
        </label>
      <% end %>
    </div>

    <div class="col-md-2 bg-white col-border">
      <h4 class="<%= offers.join(' ') %> text-center text-bold mb-0 offer-price"></h4>
      <%= button_tag class: "btn btn-primary col-md-12 btn-booking disabled", id: "cart-#{lodging.id}", data: { form_id: "#new_reservation_#{lodging.id}#{child['id_offer']}#{index}" }, value: "cart" do %>
        <i class="material-icons add_shopping_cart"></i>&nbsp; Cart
      <% end %>

      <p class="text-green text-center text-bold" data-toggle="tooltip" data-placement="bottom" data-original-title="Instant reservation is a type of online booking that automatically confirms the booking. It allows you to book the property immediately and receive an instant confirmation.">- Instant reservation</p>
      <p class="text-xxxs text-center"><%= t 'cart.nice2stay' %></p>
    </div>
  </div>

  <%= f.hidden_field :check_in, value: get_centric_param(:check_in), id: "check_in_#{lodging.id}", class: 'check_in' %>
  <%= f.hidden_field :check_out, value: get_centric_param(:check_out), id: "check_out_#{lodging.id}", class: 'check_out' %>
  <%= f.hidden_field :adults, value: no_of_adults(get_centric_param(:adults) || f.object.adults), id: "adults_#{lodging.id}", class: 'adults' %>
  <%= f.hidden_field :children, value: (get_centric_param(:children) || f.object.children), id: "children_#{lodging.id}", class: 'children' %>
  <%= f.hidden_field :infants, value: (get_centric_param(:infants) || f.object.infants), id: "infants_#{lodging.id}", class: 'infants' %>
  <%= f.hidden_field :lodging_id, value: lodging.id, id: "lodging_id_#{lodging.id}" %>
  <%= f.hidden_field :offer_id, class: 'offer-id' %>
  <%= f.hidden_field :rent, class: 'offer-rent' %>
  <%= f.hidden_field :meal_price, class: 'meal-price' %>
  <%= hidden_field_tag :target_modal %>
<% end %>
