<div class="col-md-4 pr-0 lodging-container" data-lodging-id="<%= lodging.id %>" id="lodging-<%= lodging.id %>">
  <div class="card">
    <div class="owl-carousel">
      <%= render_image_tags lodging, class: "card-img-top" %>
    </div>

    <%= link_to lodging_path(lodging, check_in: params[:check_in], check_out: params[:check_out]), class: "text-decoration-none" do %>
      <div class="card-body">
          <h6 class="card-title"><%= lodging.name %></h6>
          <p class="card-text">
            <%= pluralize lodging.beds, "bed" %> <%= pluralize lodging.baths, "bath" %><br>
            <%= lodging.cumulative_price(params) %>
          </p>
      </div>
    <% end %>
  </div>
</div>
