<div class="col-md-12 lodging-container" data-lodging-id="<%= lodging.id %>" id="lodging-<%= lodging.id %>">
  <div class="card">
    <div class="card-body bg-white">
      <div class="row">
        <div class="col-md-12 col-xs-12">
        <h5 class="card-title"><%= lodging.name %></h5>
      </div>

        <div class="col-md-5 col-lg-5 col-xs-12">
          <div class="owl-carousel">
            <%= render_image_tags lodging, class: "card-img-top" %>
          </div>
        </div>

        <div class="col-md-7 col-lg-7 col-xs-12">
          <%= link_to lodging_path(lodging, check_in: params[:check_in], check_out: params[:check_out], adults: params[:adults], children: params[:children]), class: "text-decoration-none row" do %>
            <div class="col-md-9 col-xs-12">
              <p class="card-text"><%= truncate(lodging.short_desc, length: 200) %></p>
               <p class="card-text">
                <%= pluralize lodging.beds, "bedroons" %> <%= pluralize lodging.baths, "bathrooms" %>
              </p>

              <ul class="list-icon">
                <p class="card-text">
                  <i class="material-icons md-24 check text-success"></i><%= lodging.highlight_1 %><br>
                  <i class="material-icons md-24 check text-success"></i><%= lodging.highlight_2 %><br>
                  <i class="material-icons md-24 check text-success"></i><%= lodging.highlight_3 %>
                </p>
              </ul>
            </div>

            <div class="col-md-3 col-xs-12 text-center">
              <%= lodging.cumulative_price(params) %>

              <% if lodging.average_rating > 0 %>
                <%= render_stars_tag lodging.average_rating %>
                <p class="text-xs"><%= pluralize( lodging.all_reviews.count, 'reviews' ) %></p>
              <% else %>
                <p class="text-xs">no reviews yet.</p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
