<div class="col-md-12 lodging-container" data-lodging-id="<%= lodging.id %>" id="lodging-<%= lodging.id %>">
  <div class="card">
    <div class="card-body bg-white">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h5 class="card-title"><%= lodging.name %></h5>
        </div>

        <div class="col-md-6 col-lg-5 col-xs-12">
          <% if hits[lodging_counter]['_source']['discounts'] %>
            <span class="product-badge text-danger">Special offer</span>
          <% end %>

          <div class="owl-carousel">
            <%= render_image_tags lodging, class: "card-img-top item" %>
          </div>
        </div>

        <div class="col-md-6 col-lg-7 col-xs-12">
          <%= link_to render_lodging_path(lodging), class: "text-decoration-none row" do %>
            <div class="col-md-9 col-xs-12">
              <p class="text-xxs">
                <% if lodging.as_child? %>
                  <%= truncate(lodging.parent.short_desc, length: 100) %>
                <% else %>
                  <%= truncate(lodging.short_desc, length: 100) %>
                <% end %>
              </p>

              <p class="text-xxs">
                <%= lodging.minimum_adults %> - <%= pluralize lodging.adults, t('search.guest'), t('search.guests') %>
                <% if lodging.children.present? %>
                  / <%= lodging.minimum_children %> - <%= pluralize lodging.children, t('search.child'), t('search.children_1') %>
                <% end %>
                <br>
                <%= pluralize lodging.beds, t('search.bedroom'), t('search.bedrooms') %> - <%= pluralize lodging.baths, t('search.bathroom'), t('search.bathrooms') %>
              </p>

              <ul class="list-icon">
                <p class="text-xxs">
                  <i class="material-icons md-18 done text-gray-dark"></i> <%= render_highlight lodging, 'highlight_1' %><br>
                  <i class="material-icons md-18 done text-gray-dark"></i> <%= render_highlight lodging, 'highlight_2' %><br>
                  <i class="material-icons md-18 done text-gray-dark"></i> <%= render_highlight lodging, 'highlight_3' %>
                </p>
              </ul>
            </div>

            <div class="col-md-3 col-xs-12 text-center p-0 price-review-box-<%= lodging.id %>">
              <%= render_price lodging.calculated_price, lodging.dynamic_price %>
              <div class="review-box">
                <% if lodging.average_rating > 0 %>
                  <%= render_stars_tag lodging.average_rating %>
                  <p class="text-xs"><%= pluralize( hits[lodging_counter]['_source']['total_reviews'], 'review' ) %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
