<div class="<%= item_columns %> lodging-container" data-lodging-id="<%= lodging.id %>" id="lodging-<%= lodging.id %>" data-cumulative-url="<%= cumulative_price_lodgings_path %>" >
  <div class="persisted-data" data-url="<%= price_details_lodging_path(lodging) %>" data-quick-view="<%= quick_view_lodging_path(lodging) %>" data-validate-url="<%= validate_reservations_path %>"></div>

  <div class="card">
    <div class="card-body bg-white">
      <div class="row">
        <div class="col-md-12 lodging-images">
          <div class="owl-carousel">
            <%= render_image_tags lodging, class: "card-img-top item" %>
          </div>
        </div>

        <%= link_to render_lodging_path(lodging), class: "text-decoration-none col-md-12 lodging-info" do %>
          <div class="d-flex flex-column justify-content-between h-100">
              <div>
                <h6 class="card-title text-bold mb-1"><%= lodging.h1.presence || lodging.parent_h1 %></h6>

              <p class="text-xxs"><i class="fal fa-map-marker-alt mr-1 text-primary"></i><%= lodging.region_name %>, <%= lodging.country_name %></p>

              <p class="text-xxs">
                <%= lodging.minimum_adults %> - <%= pluralize lodging.adults, t('search.guest'), t('search.guests') %>
                <% if lodging.children.present? %>
                  / <%= lodging.minimum_children %> - <%= pluralize lodging.children, t('search.child'), t('search.children_1') %>
                <% end %>
                <br>
                <%= pluralize lodging.beds, t('search.bedroom'), t('search.bedrooms') %> - <%= pluralize lodging.baths, t('search.bathroom'), t('search.bathrooms') %>
              </p>

              <ul class="list-icon">
                <p class="text-xxs">
                  <i class="material-icons md-18 done text-primary"></i> <%= render_highlight lodging, 'highlight_1' %><br>
                  <i class="material-icons md-18 done text-primary"></i> <%= render_highlight lodging, 'highlight_2' %><br>
                  <i class="material-icons md-18 done text-primary"></i> <%= render_highlight lodging, 'highlight_3' %>
                </p>
              </ul>
            </div>

            <hr class="mt-1">
          </div>
        <% end %>

        <div class="col-md-12 p-0 price-review-box-<%= lodging.id %> lodging-links">
          <div class="row">
            <div class="col-md-12 text-left pl-4">
              <div class="row">
                <div class="for-list-view">
                  <div class="price-details-box-<%= lodging.id %>">
                    <div id="price-loader-<%= lodging.id %>" class="price-loader"><%= image_tag 'loader.gif', class: 'w-25' %></div>
                    <%= render_price(lodging.calculated_price, lodging.dynamic_price) if lodging.calculated_price.present? %>
                  </div>

                  <div class="review-box mb-2">
                    <% if lodging.average_rating > 0 %>
                      <%= render_stars_tag lodging.average_rating %>
                      <p class="text-xs"><%= pluralize( hits[lodging_counter]['_source']['total_reviews'], 'review', 'reviews' ) %></p>
                    <% end %>
                  </div>
                </div>

                <div class="for-list-and-grid-view">
                  <div class="mb-2 d-none">
                    <% if (params['check_in'].present? && params['check_out'].present?) || params['adults'].present? || params['children'].present? %>
                      <p class="green-tag"><%= t('calendar.available') %></p>
                    <% end %>

                    <% if hits[lodging_counter]['_source']['discounts'] && hits[lodging_counter]['_source']['free_cancelation'] %>
                      <p class="green-tag">Special offer & <%= t 'filters.free_cancelation' %></p>
                    <% elsif hits[lodging_counter]['_source']['discounts'] %>
                      <p class="green-tag">Special offer</p>
                    <% elsif hits[lodging_counter]['_source']['free_cancelation'] %>
                      <p class="green-tag"><%= t 'filters.free_cancelation' %></p>
                    <% end %>
                  </div>

                  <div class="d-flex mb-2 text-xxxs">
                    <% if lodging.including_text.present? %>
                      <p class="text-info mb-1 cursor-pointer" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= lodging.including_text %>" data-html="true"><span class="text-dotted text-xxs"><%= t('included') %></span></p>
                    <% end %>

                    <% if lodging.realtime_availability %>
                      <p class="text-info ml-2 cursor-pointer" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= t('bookings.instant') %>"><span class="text-dotted text-xxs"><%= t('bookings.direct') %></span></p>
                    <% else %>
                      <p class="text-info ml-2 cursor-pointer" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= t('bookings.listing_on_request') %>"><span class="text-dotted text-xxs"><%= t('bookings.booking_or_option') %></span></p>
                    <% end %>
                  </div>

                  <div class="d-flex">
                    <%= link_to t('view'), render_lodging_path(lodging), class: 'btn btn-sm btn-primary d-block' %>

                    <%= link_to new_wishlist_path({ wishlist: { lodging_id: lodging.id } }), remote: true, class: 'btn btn-secondary btn-sm' do %>
                      <i class="fal fa-heart"></i>
                    <% end %>
                  </div>
                </div>

                <div class="for-grid-view d-none">
                  <div class="price-details-box-<%= lodging.id %>">
                    <div id="price-loader-<%= lodging.id %>" class="price-loader"><%= image_tag 'loader.gif', class: 'w-25' %></div>
                    <%= render_price(lodging.calculated_price, lodging.dynamic_price) if lodging.calculated_price.present? %>
                  </div>

                  <div class="review-box mb-2">
                    <% if lodging.average_rating > 0 %>
                      <%= render_stars_tag lodging.average_rating %>
                      <p class="text-xs"><%= pluralize( hits[lodging_counter]['_source']['total_reviews'], 'review', 'reviews' ) %></p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
