<div id="show-page-submenu">
  <nav class="container-fluid">
    <ul class="navbar-nav p-0">
      <li class="nav-item">
        <a class="btn-link btn-outline-primary btn-sm scroll-to-btn" data-target="#home-container">
          <span> <%= t 'nav_mobile.overview' %></span>
        </a>
      </li>

      <li class="nav-item">
        <a class="btn-link btn-outline-primary btn-sm scroll-to-btn" data-target=".price_box">
          <span><%= t 'nav_mobile.availability' %></span>
        </a>
      </li>

      <li class="nav-item">
        <a class="btn-link btn-outline-primary btn-sm scroll-to-btn" data-target="#gallery-container">
          <span><%= t 'nav_mobile.photo' %></span>
        </a>
      </li>

      <li class="nav-item">
        <a class="btn-link btn-outline-primary btn-sm scroll-to-btn" data-target="#location-container">
          <span><%= t 'nav_mobile.location' %></span>
        </a>
      </li>

      <li class="nav-item">
        <a class="btn-link btn-outline-primary btn-sm scroll-to-btn" data-target="#infobox">
          <span><%= t 'nav_mobile.description' %></span>
        </a>
      </li>

      <li class="nav-item">
        <a class="btn-link btn-outline-primary btn-sm scroll-to-btn" data-target="#reviews-container">
          <span><%= t 'nav_mobile.reviews' %></span>
        </a>
      </li>

      <li class="nav-item">
        <a class="btn-link btn-outline-primary btn-sm scroll-to-btn" data-target="#like-container">
        <span><%= t 'nav_mobile.alternative' %></span>
        </a>
      </li>
    </ul>
  </nav>
</div>
