<div class="col-md-12 bg-secondary-dark w-100 search-information">
  <div class="card">
    <div class="card-body bg-white p-0">
      <div class="row">
        <div class="col-8">
          <div class="pagination-info pl-2 pt-1">
            <%= page_entries_info(@lodgings, entry_name: 'Lodging' ) %>
          </div>

          <div class="filters-information pl-2 pb-2">
            <%= render 'selected_filters' %>
          </div>
        </div>

        <div class="col-4">
          <section class="float-right">
            <span class="text-bold">View: </span>
            <div class="view-dropdown dropdown d-inline">
              <button class="dropdown-toggle btn btn-link-secondary" id="change-view-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="title">GRID</span>
              </button>

              <div class="dropdown-menu view-dropdown-menu" aria-labelledby="change-view-dropdown">
                <a class="dropdown-item list-view layout-btn" href="#">GRID</a>
                <a class="dropdown-item list-and-map layout-btn d-none d-sm-block" href="#">Grid & Map</a>
                <a class="dropdown-item map-view layout-btn" href="#">Large Map</a>
              </div>
            </div>

            <span class="text-bold">Sort: </span>
            <div class="price-dropdown dropdown d-inline">
              <button class="dropdown-toggle btn btn-link-secondary" id="PriceSortFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="title"><%= render_sort_text %></span>
              </button>

              <div class="dropdown-menu sorting-dropdown-menu" aria-labelledby="PriceSortFilter">
                <a class="dropdown-item lowest-price" href="#"><%= t 'sorting.low_high' %></a>
                <a class="dropdown-item highest-price" href="#"><%= t 'sorting.high_low' %></a>
                <a class="dropdown-item highest-rating" href="#"><%= t 'sorting.high_rating' %></a>
                <a class="dropdown-item newest" href="#"><%= t 'sorting.new' %></a>
                <a class="dropdown-item default" href="#"><%= t 'sorting.default' %></a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
