<% if some_filter_selected? %>
  <span class="mr-1">Selected Filters:</span>

  <% params[:lodging_type_in].each do |type| %>
    <span class="badge badge-pill badge-info">
      <%= type %>
      <button type="button" class="close text-white pr-0 close-filter-pill" aria-label="Close" data-id="#lodging_type_<%= type %>"><span aria-hidden="true">&times;</span></button>
    </span>
  <% end if params[:lodging_type_in].present? %>

  <% params[:experiences_in].each do |type| %>
    <span class="badge badge-pill badge-info">
      <% experience = @experiences.friendly.find(type) %>
      <%= experience.name %>
      <button type="button" class="close text-white pr-0 close-filter-pill" aria-label="Close" data-id="#experience_<%= experience.id %>"><span aria-hidden="true">&times;</span></button>
    </span>
  <% end if params[:experiences_in].present? %>

  <% params[:amenities_in].each do |type| %>
    <span class="badge badge-pill badge-info">
      <%= @amenities.friendly.find(type).name %>
      <button type="button" class="close text-white pr-0 close-filter-pill" aria-label="Close" data-id="#amenity_<%= type %>"><span aria-hidden="true">&times;</span></button>
    </span>
  <% end if params[:amenities_in].present? %>

  <% params[:countries_in].each do |type| %>
    <% next unless type.present? %>
    <span class="badge badge-pill badge-info">
      <% country = @countries_enabled.friendly.find(type) %>
      <%= country.name %>
      <button type="button" class="close text-white pr-0 close-filter-pill" aria-label="Close" data-id="#countries_<%= country.id %>"><span aria-hidden="true">&times;</span></button>
    </span>
  <% end if params[:countries_in].present? && params[:bounds].blank? %>

  <% params[:regions_in].each do |type| %>
    <% next unless type.present? %>
    <span class="badge badge-pill badge-info">
      <% region = @regions.friendly.find(type) %>
      <%= region.name %>
      <button type="button" class="close text-white pr-0 close-filter-pill" aria-label="Close" data-id="#regions_<%= region.id %>"><span aria-hidden="true">&times;</span></button>
    </span>
  <% end if params[:regions_in].present? && params[:bounds].blank? %>

  <% if params[:check_in].present? && params[:check_out].present? %>
    <span class="badge badge-pill badge-info">
      <%= "#{params[:check_in]} - #{params[:check_out]}" %>
      <button type="button" class="close text-white pr-0 close-filter-pill" aria-label="Close" data-id=".check-in, .check-out"><span aria-hidden="true">&times;</span></button>
    </span>
  <% end %>

  <% if params[:adults].present? %>
    <span class="badge badge-pill badge-info">
      <%= "#{params[:adults]} Adults" %>

      <button type="button" class="close text-white pr-0 close-filter-pill" aria-label="Close" data-id="#adults"><span aria-hidden="true">&times;</span></button>
    </span>
  <% end %>

  <% if params[:children].present? %>
    <span class="badge badge-pill badge-info">
      <%= "#{params[:children]} Children" %>

      <button type="button" class="close text-white pr-0 close-filter-pill" aria-label="Close" data-id="#children"><span aria-hidden="true">&times;</span></button>
    </span>
  <% end %>

  <%= link_to 'Remove all filters', lodgings_path, class: 'text-info ml-2' %>
<% end %>
