<div class="col-md-12 p-0">
  <div class="row bg-white pt-5 target-section gallery-container-minimized" id="gallery-container">
    <div class="col-md-12">
      <div class="gallery-wrapper">
        <div class="isotope-grid cols-3">
          <div class="gutter-sizer"></div>
          <div class="grid-sizer"></div>

          <% lodging.images.each do |image| %>
            <div class="grid-item gallery-item">
              <a href="<%= image %>">
                <img src="<%= image %>" itemprop="thumbnail" alt="<%= lodging.name %>" />
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 leads_homepage mt-2 pt-3">
  <h4 class="mb-3">
    <%= t 'usp.acco_show_header', lodging_name: lodging.name, admin_name: lodging.admin_user.try(:first_name) || 'Christa' %>
  </h4>

  <div class="row">
    <div class="col-md-2 col-lg-2">
      <div class="d-table">
        <img class="d-block w-150 mx-auto img-thumbnail rounded-circle mb-3" src="<%= lodging.admin_user.try(:image) || 'https://imagesnice2stayeurope.s3.amazonaws.com/uploads/image/image/5478/chirsta.jpg' %>" alt="Team">
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <p>
        <%= t 'usp.acco_show_p' %><br>
        <%= t('usp.acco_show_visit', lodging_name: lodging.name, admin_name: lodging.admin_user.try(:first_name) || 'Christa').html_safe %>
      </p>
    </div>

    <div class="col-md-3 col-sm-4 col-xs-6 text-center mb-30" >
      <span class="d-block display-4 text-gray-light mb-4">
        <%= image_tag("usp_visit.png", alt: "visit") %>
      </span>

      <h4 class="h5 mb-2"><%= t 'usp.inspect' %></h4>
      <p class="text-muted text-xxxs mb-0">
        <%= @lodging.name %>  <%= t 'usp.inspect_details' %>
      </p>
    </div>

    <div class="col-md-3 col-sm-4 col-xs-6 text-center mb-30">
      <span class="d-block display-4 text-gray-light mb-4">
        <%= image_tag("usp_support.png", alt: "visit") %>
      </span>

      <h5 class="h5 mb-2"><%= t 'usp.price' %></h5>
      <p class="text-muted text-xxxs  mb-0"><%= t 'usp.price_details' %></p>
    </div>
  </div>
</div>

<div class="bg-white col-md-12 p-0 padding-top-1x" id="location-container">
  <div id="infobox" class="row">
    <div class="col-md-12">
      <div class="infobox">
        <div class="infobox-header bg-secondary">
          <h3><%= t 'nav.location' %> <%= @lodging.name %></h3>
        </div>

        <div class="infobox-content p-3">
          <%= lodging.location_description.try(:html_safe) %>
          <div class="address-mark" id="lodging-map-location"></div>
          <%= render_show_page_map lodging, @places %>

          <h5 class="nearby-places-title">
            Nearby Places Within <%= params[:places_within].presence || '100km' %>
          </h5>
        </div>

         <div class="col-md-12 nearby-places mt-3">
          <%= render 'places/index', grouped_places: @places.group_by(&:place_category), lodging: lodging %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" id="description-container">
      <h3 class="card-title"><%= @lodging.h3 %></h3>
      <ul class="list-icon">
        <h5>
          <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_1 %>
          <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_2 %>
          <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_3 %>
        </h5>
      </ul>

      <div id="lodging-full-description">
        <%= truncated_description(lodging.description, 1000) %>
      </div>

      <button class="btn btn-read-more float-right d-block d-sm-none" data-target="#lodging-full-description" data-actual="<%= lodging.description %>" data-truncated="<%= truncated_description(lodging.description, 1000) %>">Read more</button>
    </div>

    <div class="col-md-12 col-xs-12">
      <h3 class="card-title"><%= t 'nav.amentities' %></h3>
      <hr class="margin-bottom-1x">
      <ul class="list-icon">
        <% @lodging.amenities.each do |amenity| %>
          <i class="material-icons md-14 check_circle text-success"></i> <%= amenity.name %>
        <% end %>
       </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn float-right btn-gallery-container d-block d-sm-none m-0 pr-0">
        Show All
      </button>
    </div>
  </div>

  <div class="margin-top-2x leads_homepage pt-3 pl-3" id="reviews-container">
    <div class="row">
      <% if @reviews.present? %>
        <div class="col-md-12">
          <h3 class="card-title"><%= t 'nav.reviews' %></h3>
        </div>

        <div class="card-body col-md-5">
          <hr class="margin-bottom-1x">
          <%= render 'reviews/rating', lodging: lodging %>
        </div>

        <div class="col-md-6 padding-top-2x">
          <div class="reviews-container">
            <%= render @reviews %>
          </div>

          <div class="review-paginator padding-bottom-2x">
            <%= paginate @reviews, remote: true, window: 0 %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="card-body col-md-12 pl-4">
            <h3 class="card-title"><%= t 'nav.reviews' %></h3>
            <p>Accommodation does not have any review yet.</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="padding-bottom-1x pt-2 mb-1 row">
    <div class="col-md-12 padding-top-1x target-section" id="like-container">
      <h3 class="card-title"><%= t 'nav.also_like' %></h3>
      <hr class="margin-bottom-1x">

      <div class="row">
        <%= render partial: 'lodging', collection: @lodgings, locals: { hits: @lodgings.hits } %>
      </div>
    </div>
  </div>

  <%= form_tag lodging_path(lodging), method: :get, class: 'you-may-like-form', remote: true do %>
    <%= hidden_field_tag :adults, params[:adults], class: 'adults' %>
    <%= hidden_field_tag :children, params[:children], class: 'children' %>
    <%= hidden_field_tag :infants, params[:infants], class: 'infants' %>
    <%= hidden_field_tag :check_in, params[:check_in], class: 'check_in' %>
    <%= hidden_field_tag :check_out, params[:check_out], class: 'check_out' %>
    <%= hidden_field_tag :places_within, params[:places_within], class: 'within-radius' %>
    <%= hidden_field_tag :places_categories, params[:places_within], class: 'within-categories' %>
  <% end %>
</div>
