<div class="padding-bottom-3x pt-5 mb-1">
  <!-- Details-->
  <div class="row pt-2">
    <div class="col-md-8">
      <h3>Specifications</h3>
      <% if lodging.specifications.present? %>
        <ul class="text-sm mb-4">
          <%= render lodging.specifications %>
        </ul>
      <% else %>
        <p>No specifications were provided.</p>
      <% end %>

      <h5><%= lodging.owner_full_name %></h5>
      <div class="col-sm-4">
      </div>
    </div>

    <div class="col-md-12 margin-bottom-2x">
      <h6 class="text-muted text-normal text-uppercase">Default Map</h6>
      <hr class="margin-bottom-1x">
      <div class="google-map" data-height="670" data-address="<%= lodging.address %>" data-zoom="9" data-disable-controls="true" data-scrollwheel="false" data-marker-title="We are here!" style="height: 270px; position: relative; overflow: hidden;"></div>
    </div>

    <div class="row mt-30">
      <div class="col-md-8 mb-4">
        <%= render 'reviews/rating', lodging: lodging %>
      </div>

      <div class="col-md-8">
        <h3 class="padding-bottom-1x">Latest Reviews</h3>

        <% if @reviews.present? %>
          <%= render @reviews %>
          <%= paginate @reviews %>
        <% else %>
          <p>Lodging does not have any review yet.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
