<div class="padding-top-1x pb-5 homepage">
  <div class="container">
    <div class="col-md-8 padding-top-2x mb-30">
      <h3 class="mb-3">
      <%= lodging.name %> is door ons geselecteert, bezocht en geverifieerd op kwaliteit & stijl</h2>
      <p>Elke woning van Nice2stay moet een persoonlijke kwaliteitsinspectie doorstaan, om ervoor te zorgen dat het voldoet aan de hoge standaarden voor comfort, kwaliteit en stijl. <%= lodging.name %> is bezocht door Christa Linders.</p>
    </div>

    <div class="col-sm-6 mb-4">
      <div class="d-table">
        <img class="d-block w-150 mx-auto img-thumbnail rounded d-table-cell align-middle" src="https://imagesnice2stayeurope.s3.amazonaws.com/uploads/image/image/5478/chirsta.jpg" alt="Team">
        <div class="pl-3 d-table-cell align-middle">
          <h6 class="mb-1">Christa Linders</h6>
          <p class="text-muted text-sm mb-3">Countrymanager</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white padding-bottom-3x pt-5 mb-1 target-section" id="gallery-container">
  <div class="container">
    <div class="col-md-8 mb-30">
      <div class="col-md-12">
        <h3 class="card-title">Gallary</h3>
        <div class="gallery-wrapper">
          <div class="row">
            <% lodging.images.each do |image| %>
              <div class="col-sm-6">
                <div class="gallery-item">
                  <a href="<%= image %>" data-size="1000x667">
                    <img src="<%= image %>" alt="Image">
                  </a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white padding-bottom-3x pt-5 mb-1 target-section" id="location-contrainer">
  <div class="container">
    <div class="col-md-8 mb-30">
      <div class="col-md-12">
        <h3 class="card-title">Location</h3>

        <hr class="margin-bottom-1x">
        <%= lodging.location_description.try(:html_safe) %>
      </div>
    </div>
  </div>
</div>

<div class="google-map" data-height="670" data-address="<%= lodging.address %>" data-zoom="9" data-disable-controls="true" data-scrollwheel="false" data-marker-title="We are here!" style="height: 270px; position: relative; overflow: hidden;"></div>

<div class="leads_homepage padding-bottom-1x pt-5 mb-1">
  <div class="container target-section" id="reviews-container">
    <% if @review.present? %>
      <div class="row">
        <div class="card-body col-md-3">
          <h3 class="card-title">Rating & Reviews</h3>
           <hr class="margin-bottom-1x">
          <%= render 'reviews/rating', lodging: lodging %>
        </div>

        <div class="col-md-5 padding-top-3x">
          <%= render @reviews %>
          <%= paginate @reviews %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="card-body col-md-12">
          <h3 class="card-title">Rating & Reviews</h3>
          <p>Accommodation does not have any review yet.</p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="bg-white padding-bottom-1x pt-5 mb-1">
  <div class="container target-section" id="description-container">
    <div class="row">
      <div class="card-body col-md-8">
        <h3 class="card-title">Description</h3>
        <div id="lodging-description">
          <%= lodging.description.try(:html_safe) %>
          <a class="btn btn-outline-secondary btn-block" href="#">More information</a>
        </div>
      </div>

      <div class="padding-top-2x"></div>
    </div>
  </div>
</div>
