<div class="container">
  <div class="row">
    <!-- Product Gallery-->
    <div class="col-md-8 mb-30">
      <div class="gallery-control">
        <figure itemprop="associatedMedia" itemscope>
          <a itemprop="contentUrl">
            <img src="<%= lodging.image %>" itemprop="thumbnail" alt="<%= lodging.name %>" class="w-100" />
          </a>
          <figcaption itemprop="caption description">
            <input type="button" name="view-photos" value="view photos" class="btn btn-white btn-sm">
          </figcaption>
        </figure>
      </div>

      <div class="lodging-gallery scrollable-gallery" itemscope>
        <% lodging.images.each_with_index do |image_url, index| %>
          <figure itemprop="associatedMedia" itemscope class="<%= 'd-none' if index >= 4 %>">
            <a href="<%= image_url %>" itemprop="contentUrl">
              <img src="<%= image_url %>" itemprop="thumbnail" alt="<%= lodging.name %>" class="img-fluid img-thumbnail" />
            </a>
            <figcaption itemprop="caption description"><%= index %></figcaption>
          </figure>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="bg-white padding-bottom-3x pt-5 mb-1">
  <div class="container">
    <div class="card-body col-md-8">
      <h3 class="card-title"><%= lodging.h1 %></h3>
     
      <p class="text-sm col-md-4">
        <div id="lodging-description">
          <%= lodging.summary.try(:html_safe) %>
          
        </div>
      </p>
    </div>
  </div>
</div>

<%= render 'shared_content', lodging: lodging %>

<div class="col-md-4 d-none d-md-block fixed">
  <div class="reservation-standalone-form">
    <%= render 'reservations/standalone_form', lodging: lodging, reservation: reservation %>
  </div>
</div>

<div class="col-md-12 d-block d-md-none p-0 fixed-bottom">
  <div class="card bg-white p-1">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <label class="sm-check-in-out text-center text-dark w-100"></label>
          <label class="sm-total text-center text-dark w-100"></label>
        </div>
        <div class="col-md-12">
          <input type="button" name="view-more-info" value="Check Availability" class="btn btn-primary btn-sm w-100 mr-5 standalone-modal-btn" data-toggle="modal" data-target="#standalone-form-modal">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="standalone-form-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-white pb-0">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <div class="reservation-standalone-form-modal">
          <%= render 'reservations/standalone_form', lodging: lodging, reservation: reservation %>
        </div>
      </div>
    </div>
  </div>
</div>
