<div class="container">
  <div class="row">
    <!-- Product Gallery-->
    <div class="col-md-8 mb-30">
      <div class="gallery-control">
        <figure itemprop="associatedMedia" itemscope>
          <a itemprop="contentUrl">
            <img src="<%= lodging.image %>" itemprop="thumbnail" alt="<%= lodging.name %>" class="w-100" />
          </a>
          <figcaption itemprop="caption description">
            <input type="button" name="view-photos" value="view photos" class="btn btn-white btn-sm">
          </figcaption>
        </figure>
      </div>

      <div class="lodging-gallery scrollable-gallery" itemscope>
        <% lodging.images.each_with_index do |image_url, index| %>
          <figure itemprop="associatedMedia" itemscope class="<%= 'd-none' if index >= 4 %>">
            <a href="<%= image_url %>" itemprop="contentUrl">
              <img src="<%= image_url %>" itemprop="thumbnail" alt="<%= lodging.name %>" class="img-fluid img-thumbnail" />
            </a>
            <figcaption itemprop="caption description"><%= index %></figcaption>
          </figure>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="bg-white padding-bottom-3x pt-5 mb-1">
  <div class="container">
    <div class="card-body col-md-8">
      <h3 class="card-title"><%= lodging.h1 %></h3>
      <h6 class="card-title"><%= lodging.h2 %></h6>
      <p class="text-sm col-md-4">
        <div id="lodging-description">
          <%= lodging.summary.try(:html_safe) %>
        </div>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-8 padding-top-2x mb-30">
    <%= render 'shared_content', lodging: lodging %>
  </div>

  <div class="col-md-4 fixed">
    <div class="reservation-standalone-form">
      <%= render 'reservations/standalone_form', lodging: lodging, reservation: reservation %>
    </div>
  </div>
</div>
