<div class="row">
  <!-- Product Gallery-->
  <div class="col-md-6 mb-30">
    <div class="lodging-gallery" itemscope>
      <% @lodging.images.each_with_index do |image_url, index| %>
        <figure itemprop="associatedMedia" itemscope>
          <a href="<%= image_url %>" itemprop="contentUrl">
            <img src="<%= image_url %>" itemprop="thumbnail" alt="<%= @lodging.name %>" class="img-fluid img-thumbnail" />
          </a>
          <figcaption itemprop="caption description"><%= index %></figcaption>
        </figure>
      <% end %>
    </div>
  </div>

  <div class="col-md-6 mb-30">
    <div class="reservation-standalone-form">
      <%= render 'reservations/standalone_form', lodging: @lodging, reservation: @reservation %>
    </div>
  </div>
</div>
