<div class="row mb-5">
  <div class="dropdown col-sm-1">
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
      Type
    </button>

    <div class="dropdown-menu">
      <%= form_tag lodgings_path, method: :get do %>
        <% Lodging.lodging_types.each do |key, value| %>
          <label>
            <%= check_box_tag "lodging_type_in[]", key, is_checked?(key) %>
            <span><%= key %></span>
          </label>
          <br>
        <% end %>

        <%= hidden_field_tag :check_in, params[:check_in] if params[:check_in].present? %>
        <%= hidden_field_tag :check_out, params[:check_out] if params[:check_out].present? %>
        <%= hidden_field_tag :adults, params[:adults] if params[:adults].present? %>
        <%= hidden_field_tag :children, params[:children] if params[:children].present? %>
        <%= hidden_field_tag :infants, params[:infants] if params[:infants].present? %>

        <%= submit_tag 'Apply', class: 'float-right' %>
      <% end %>
    </div>
  </div>

  <div class="dropdown col-sm-1">
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
      Guests
    </button>

    <div class="dropdown-menu">
      <%= form_tag lodgings_path, method: :get do %>
        <label>Adults</label>
        <%= number_field_tag :adults, params[:adults], min: 0 %>
        <label>Children</label>
        <%= number_field_tag :children, params[:children], min: 0 %>
        <label>Infants</label>
        <%= number_field_tag :infants, params[:infants], min: 0 %>

        <%= hidden_field_tag :check_in, params[:check_in] if params[:check_in].present? %>
        <%= hidden_field_tag :check_out, params[:check_out] if params[:check_out].present? %>

        <% if params[:lodging_type_in].present? %>
          <% params[:lodging_type_in].each do |lodging_type| %>
            <%= hidden_field_tag 'lodging_type_in[]', lodging_type %>
          <% end %>
        <% end %>

        <%= submit_tag 'Apply', class: 'float-right' %>
      <% end %>
    </div>
  </div>

  <div class="dropdown col-sm-1">
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
      Guests
    </button>

    <div class="dropdown-menu">
      <%= form_tag lodgings_path, method: :get do %>
        <label>Check In</label>
        <%= date_field_tag :check_in, params[:check_in] %>
        <label>Check Out</label>
        <%= date_field_tag :check_out, params[:check_out] %>

        <%= hidden_field_tag :adults, params[:adults] if params[:adults].present? %>
        <%= hidden_field_tag :children, params[:children] if params[:children].present? %>
        <%= hidden_field_tag :infants, params[:infants] if params[:infants].present? %>

        <% if params[:lodging_type_in].present? %>
          <% params[:lodging_type_in].each do |lodging_type| %>
            <%= hidden_field_tag 'lodging_type_in[]', lodging_type %>
          <% end %>
        <% end %>

        <%= submit_tag 'Apply', class: 'float-right' %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-sm-12">
    <%= render partial: "list" %>
  </div>

  <div class="col-lg-6 col-sm-4">
    <%= tag.div nil, id: 'map' %>
  </div>
</div>
