<% content_for :body_class, "pr-3" %>

<div class="row">
</div>

<div class="row bg-secondary">
  <div id="loader">
    <%= image_tag 'loader.gif', class: 'w-50' %>
  </div>

  <div class="col-md-3 bg-secondary-dark" id="filters-container">
    <%= render 'filters', lodgings: @lodgings, amenities: @amenities, experiences: @experiences, countries: @countries_enabled, total_lodgings: @total_lodgings %>
  </div>

  <div class="col-md-9">
    <div class="row">
      <%= render 'search_information', collection: @collection, lodgings: @lodgings, lead: nil %>
    </div>

    <div class="row">
      <div class="col-md-12" id="lodgings-container">
        <div class="row">
          <div class="seo-data w-100">
            <%= render 'seo_data', custom_text: @custom_text %>
          </div>

          <div class="col-md-12">
            <div class="row lodgings-list" id="lodgings-list">
              <%= render 'lodgings_list', lodgings: @lodgings %>
            </div>
          </div>

          <%= render 'login_info_alert' %>

          <div class="col-lg-12 mb-5">
            <div class="card bg-white">
              <div class="card-body">
                <div class="pagination-info text-right">
                  <%= page_entries_info(@lodgings, entry_name: 'Lodging' ) %>
                </div>

                <div class="pagination">
                  <%= paginate @lodgings, remote: true, window: 3 %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 fixed-map d-none" id="map-container">
        <%= tag.div nil, id: 'map', class: 'lodgings-map' %>

        <div id="pagination-container" class="col-md-12">
          <div class="pagination pagination bg-white col-md-2 mx-auto">
            <%= paginate @lodgings, remote: true, window: 0 %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="lodging-quick-view"></div>

<%= content_for :js_init do %>
  Url.update("");
  Lodging.init();
  <% unless params[:layout_view] == 'list-view' %>
    Map.init();
  <% end %>

  $('#loader').hide();
  InfiniteScroll.pagination('<%= lodgings_path(locale: locale) %>');
  Filters.switch_view('<%= params[:layout_view].presence || 'list-view' %>');
  Lodging.calculate_price();
  Invoice.init();
  Filters.remove_pill();
  Autocomplete.init_search("<%= autocompletes_path(locale: locale) %>");
<% end %>

<%= content_for :footer_class do 'd-none' end %>
