<div class="row ml-1">
  <div id="loader">
    <%= image_tag 'loader.gif', class: 'w-50' %>
  </div>

  <div class="col-lg-8 col-sm-8 lodgings-list scrollable-content">
    <%= render "lodgings_list", lodgings: @lodgings, regions: @regions %>
  </div>

  <div class="col-lg-4 col-sm-4">
    <%= tag.div nil, id: 'map' %>
  </div>
</div>

<%= content_for :js_init do %>
  Lodging.init();
  Map.init();
  GuestDropdown.init();
  initDatePicker();
  $('#loader').hide();
<% end %>

<%= content_for :footer_class do 'd-none' end %>
