<% content_for :body_class, "pr-3" %>

<div class="row bg-secondary">
  <div id="loader">
    <%= image_tag 'loader.gif', class: 'w-50' %>
  </div>

  <div class="col-md-2 pt-3 price_box" id="filters-container">
    <%= render 'filters', lodgings: @lodgings, amenities: @amenities, experiences: @experiences, countries: @countries_enabled, total_lodgings: @total_lodgings %>
  </div>

  <div class="col-md-6" id="lodgings-container">
    <div class="row">
      <div class="seo-data bg-secondary w-100">
        <%= render 'seo_data', custom_text: @custom_text %>
      </div>

      <div class="map-info-data pl-3 bg-secondary w-100">
        <%= render 'map_info_alert', collection: @collection %>
      </div>

      <div class="col-md-12">
        <div class="row pl-3 lodgings-list bg-secondary" id="lodgings-list">
          <%= render 'lodgings_list', lodgings: @lodgings %>
        </div>
      </div>

      <%= render 'login_info_alert' %>

      <div class="col-lg-12 mb-5 bg-secondary">
        <div class="card ml-3 bg-white">
          <div class="card-body">
            <div class="pagination-info text-right">
              <%= page_entries_info(@lodgings, entry_name: 'Lodging' ) %>
            </div>

            <div class="pagination">
              <%= paginate @lodgings, remote: true, window: 3 %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 fixed-map d-none d-sm-block" id="map-container">
    <%= tag.div nil, id: 'map', class: 'lodgings-map' %>

    <div class="col-md-6 offset-md-3 d-none" id="pagination-container">
      <div class="card bg-white">
        <div class="card-body p-2">
          <div class="pagination">
            <%= paginate @lodgings, remote: true, window: 1 %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :js_init do %>
  Lodging.init();
  Map.init();
  $('#loader').hide();
  InfiniteScroll.pagination('<%= lodgings_path(locale: locale) %>');
  Autocomplete.init_search("<%= autocompletes_path(locale: locale) %>");
  Filters.switch_view('<%= params[:layout_view] %>');
  Lodging.calculate_price();
<% end %>

<%= content_for :footer_class do 'd-none' end %>
