<div class="row ml-1">
  <div id="loader">
    <%= image_tag 'loader.gif', class: 'w-50' %>
  </div>

  <div class="col-lg-8 col-sm-8">
    <div class="row">
      <!-- Content-->
      <%= render 'filters', regions: @regions, lodgings: @lodgings %>

      <div class="col-lg-9 col-md-8">
        <div class="d-flex flex-wrap-reverse flex-md-nowrap justify-content-center justify-content-sm-between align-items-center mb-30">

          <div class="pt-3 pb-1 pb-sm-3 text-sm text-center text-sm-left">
          <span class="text-muted mr-2 lodgings-heading"><%= page_entries_info(@lodgings, entry_name: 'Lodging' ) %></span>
          </div>
        </div>

        <div class="row mb-2 lodgings-list scrollable-content" id="lodgings-list">
          <%= render 'lodgings_list', lodgings: @lodgings %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-sm-4">
    <%= tag.div nil, id: 'map' %>
  </div>
</div>

<div class="pagination d-none">
  <%= paginate @lodgings, remote: true %>
</div>

<%= content_for :js_init do %>
  Lodging.init();
  Map.init();
  GuestDropdown.init();
  initDatePicker();
  $('#loader').hide();
  InfiniteScroll.init();
  ChosenSelect.init();
<% end %>

<%= content_for :footer_class do 'd-none' end %>
