<%= render 'shared/photoswipe' %>
<%= render 'navbar' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9 col-md-12">
      <div class="col-md-12 margin-top-1x">
        <div class="row target-section" id="home-container">
          <div class="col-md-12 col-xs-12">
            <div class="gallery-control">
              <figure itemprop="associatedMedia" itemscope>
                <a itemprop="contentUrl">
                  <img src="<%= @lodging.image %>" itemprop="thumbnail" alt="<%= @lodging.name %>" class="w-100 max-image" />
                </a>

                <figcaption itemprop="caption description">
                  <input type="button" name="view-photos" value="view photos" class="btn btn-white btn-sm">
                </figcaption>
              </figure>
            </div>
            <div class="lodging-gallery margin-top-1x" itemscope>
              <% @lodging.images.each_with_index do |image_url, index| %>
                <figure itemprop="associatedMedia" itemscope class="d-none">
                  <a href="<%= image_url %>" itemprop="contentUrl">
                    <img src="<%= image_url %>" itemprop="thumbnail" alt="<%= @lodging.name %>" class="img-fluid img-thumbnail" />
                  </a>
                  <figcaption itemprop="caption description"><%= index %></figcaption>
                </figure>
              <% end %>
            </div>
          </div>
        </div>

        <h2><%= @lodging.h1 %></h2>
        <p><%= @lodging.summary.try(:html_safe) %></p>

        <% if @lodging.as_parent? %>
          <div class="col-sm-12 margin-top-1x price_box d-lg-none">
            <%= render 'parent', lodging: @lodging, reservation: @reservation, lodging_children: @lodging_children, id_sufix: '_modal' %>
          </div>

          <%= render partial: 'reservations/child_form_table', collection: @lodging_children, as: :lodging %>
          <%= render partial: 'child_details_modal', collection: @lodging_children, as: :lodging, locals: { id_sufix: 'modal_' }  %>
        <% end %>
      </div>

      <div class="col-sm-12 margin-top-1x price_box d-lg-none">
        <% if @lodging.as_standalone? %>
          <%= render 'standalone', lodging: @lodging, reservation: @reservation, id_sufix: '_modal' %>
        <% end %>
      </div>

      <div id="questions" class="col-md-12 margin-bottom-1x p-0">
        <div class="infobox">
          <div class="infobox-header bg-secondary">
            <h4 class="mb-3">
              Prices, Inclusief, optioneel & voorwaarden
            </h4>
          </div>

          <div class="infobox-content">
            <div class="row">
              <div class="col-md-6">
                <div class="col-md-12">
                  <div class="text-xxs mt-3 row">
                    <div class="col-3 text-center">
                      <p class="asd__day--enabled bg-white color-box mb-1 mx-auto"></p>
                      <span>Available</span>
                    </div>
                    <div class="col-3 text-center">
                      <p class="asd__day--disabled color-box mb-1 mx-auto"></p>
                      <span>Not available</span>
                    </div>
                    <div class="col-3 text-center">
                      <p class="asd__day--discount color-box mb-1 mx-auto"></p>
                      <span>Special offer</span>
                    </div>
                    <div class="col-3 text-center">
                      <p class="asd__day--option color-box mb-1 mx-auto"></p>
                      <span>Under option</span>
                    </div>
                  </div>

                  <p class="margin-top-1x">
                    <%= t 'usp.vragen_show_header' %> <%= @lodging.name %> ?
                  </p>

                  <p><%= t 'email.contact_text' %></p>
                </div>
              </div>

              <div class="col-md-6">
                <div class="accordion" id="accordion2" role="tablist">
                  <div class="card-header" role="tab">
                    <h6>
                      <a href="#collapseFour" data-toggle="collapse">
                        <i class="material-icons check_circle"></i>
                        <%= t 'information.included_header' %>
                      </a>
                    </h6>
                  </div>

                  <div class="collapse" id="collapseFour" data-parent="#accordion2" role="tabpanel">
                    <div class="card-body">
                      <%= @lodging.including_text.try(:html_safe) %>
                    </div>
                  </div>

                  <div class="card-header" role="tab">
                    <h6>
                      <a class="collapsed" href="#collapseFive" data-toggle="collapse">
                        <i class="material-icons assignment"></i>
                        <%= t 'information.informatie_header' %>
                      </a>
                    </h6>
                  </div>

                  <div class="collapse" id="collapseFive" data-parent="#accordion2" role="tabpanel">
                    <div class="card-body">
                      <%= @lodging.particularities_text.try(:html_safe) %>
                    </div>
                  </div>

                  <div class="card-header" role="tab">
                    <h6>
                      <a class="collapsed" href="#collapseSeven" data-toggle="collapse">
                        <i class="material-icons room_service"></i>
                        <%= t 'information.extra_service' %>
                      </a>
                    </h6>
                  </div>

                  <div class="collapse" id="collapseSeven" data-parent="#accordion2" role="tabpanel">
                    <div class="card-body">
                      <%= @lodging.options_text.try(:html_safe) %>
                    </div>
                  </div>

                  <div class="card-header" role="tab">
                    <h6>
                      <a class="collapsed" href="#collapseSix" data-toggle="collapse">
                        <i class="material-icons monetization_on"></i>
                        <%= t 'information.payment_conditions' %>
                      </a>
                    </h6>
                  </div>

                  <div class="collapse" id="collapseSix" data-parent="#accordion2" role="tabpanel">
                    <div class="card-body">
                      <%= @lodging.payment_terms_text.try(:html_safe) %>
                    </div>
                  </div>

                  <div class="card-header" role="tab">
                    <h6>
                      <a class="collapsed" href="#collapseTen" data-toggle="collapse">
                       <i class="material-icons monetization_on"></i>
                        <%= t 'information.deposit' %>
                      </a>
                    </h6>
                  </div>

                  <div class="collapse" id="collapseTen" data-parent="#accordion2" role="tabpanel">
                    <div class="card-body">
                      <%= @lodging.deposit_text.try(:html_safe) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= render 'shared_content', lodging: @lodging %>
    </div>

    <div class="col-md-3 sticky-top margin-top-1x price_box pr-0 d-none d-lg-block">
      <% if @lodging.as_standalone? %>
        <%= render 'standalone', lodging: @lodging, reservation: @reservation, id_sufix: '' %>
      <% else %>
        <%= render 'parent', lodging: @lodging, reservation: @reservation, lodging_children: @lodging_children, id_sufix: '' %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/meta_tags', resource: @lodging %>

<% content_for :canonical do %><%= lodging_url(@lodging) %><% end %>

<%= content_for :js_init do %>
  GuestDropdown.init();
  Lodging.read_more()
  initPhotoSwipeFromDOM('.lodging-gallery');
  initDatePicker();
  Invoice.init();
  Lodging.child_form();
  Lodging.highlight_menu();
  OwlCarousel.init();
  Map.init_with('<%= @lodging.to_json(methods: [:feature], only: []) %>', 'lodging-map-location');
  Invoice.calculate(<%= calculation_ids @lodging %>);
<% end %>
