<%= render 'shared/photoswipe' %>

<div class="container-fluid">
  <div class="col-md-12">
    <div class="row target-section" id="home-container">
      <div class="col-md-8 col-xs-12 margin-top-1x">
        <div class="gallery-control ">
        <figure itemprop="associatedMedia" itemscope>
          <a itemprop="contentUrl">
            <img src="<%= @lodging.image %>" itemprop="thumbnail" alt="<%= @lodging.name %>" class="w-100 max-image" />
          </a>

          <figcaption itemprop="caption description">
            <input type="button" name="view-photos" value="view photos" class="btn btn-white btn-sm">
          </figcaption>
        </figure>
      </div>

      <div class="lodging-gallery margin-top-1x" itemscope>
        <% @lodging.images.each_with_index do |image_url, index| %>
          <figure itemprop="associatedMedia" itemscope class="d-none">
            <a href="<%= image_url %>" itemprop="contentUrl">
              <img src="<%= image_url %>" itemprop="thumbnail" alt="<%= @lodging.name %>" class="img-fluid img-thumbnail" />
            </a>
            <figcaption itemprop="caption description"><%= index %></figcaption>
          </figure>
        <% end %>
       </div>
     
        <h2 class="margin-top-1x card-title"><%= @lodging.h1 %></h2>
        <h4 class="card-title text-muted"><%= @lodging.h2 %></h4>
        <div class="row padding-top-1x">
          <div class="col-md-3">
            <h6>
              <%= @lodging.minimum_adults %> - <%= pluralize @lodging.adults, t('search.guest'), t('search.guests') %>
              <br>
              <% if @lodging.children.present? %>
                <%= @lodging.minimum_children %> - <%= pluralize @lodging.children, t('search.child'), t('search.children_1') %>
                <br>
              <% end %>

              <%= pluralize @lodging.beds, t('search.bedroom'), t('search.bedrooms') %><br>
              <%= pluralize @lodging.baths, t('search.bathroom'), t('search.bathrooms') %>
            </h6>
          </div>

          <% if @reviews.present? %>
            <div class="col-md-3 col-xs-6">
              <div class="text-center">
                <div class="d-inline align-baseline display-3 mr-1"><%= @lodging.average_rating %></div>
                <br>
                <div class="d-inline align-baseline text-sm text-warning mr-1">
                  <%= render_stars_tag @lodging.average_rating %>
                  <p>(<%= pluralize(@lodging.all_reviews.count, 'review', 'reviews') %>)</p>
                </div>
              </div>
            </div>
          <% end %>

          <div class="col-md-6">
            <ul class="list-icon">
              <h6>
                <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_1 %><br>
                <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_2 %><br>
                <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_3 %>
              </h6>
            </ul>
          </div>
        </div>

        <p class="text-sm col-md-5">
          <div id="lodging-summary">
            <%= @lodging.summary.try(:html_safe) %>
          </div>
        </p>
        <%= render 'shared_content', lodging: @lodging %>
      </div>

      <div class="col-md-4">
        <% if @lodging.as_standalone? %>
          <%= render 'standalone', lodging: @lodging, reservation: @reservation %>
        <% else %>
          <%= render 'parent', lodging: @lodging, reservation: @reservation, lodging_children: @lodging_children %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/meta_tags', resource: @lodging %>

<%= content_for :js_init do %>
  GuestDropdown.init();
  Lodging.read_more()
  initPhotoSwipeFromDOM('.lodging-gallery');
  initDatePicker();
  Invoice.init();
  Lodging.child_form();
  Lodging.highlight_menu();
  OwlCarousel.init();
  Map.init_with('<%= @lodging.to_json(methods: [:feature], only: []) %>', 'lodging-map-location');
  Invoice.calculate(<%= calculation_ids @lodging %>);
<% end %>
