<%= render 'shared/photoswipe' %>

<div class="bg-secondary pb-4 padding-top-1x">
  <div class="container">
    <div class="row">
      <!-- Product Gallery-->
      <div class="col-md-8 margin-bottom-1x target-section">
        <div class="gallery-control">
          <figure itemprop="associatedMedia" itemscope>
            <a itemprop="contentUrl">
              <img src="<%= @lodging.image %>" itemprop="thumbnail" alt="<%= @lodging.name %>" class="w-100" />
            </a>
            <figcaption itemprop="caption description">
              <input type="button" name="view-photos" value="view photos" class="btn btn-white btn-sm">
            </figcaption>
          </figure>
        </div>

        <div class="lodging-gallery" itemscope>
          <% @lodging.images.each_with_index do |image_url, index| %>
            <figure itemprop="associatedMedia" itemscope class="d-none">
              <a href="<%= image_url %>" itemprop="contentUrl">
                <img src="<%= image_url %>" itemprop="thumbnail" alt="<%= @lodging.name %>" class="img-fluid img-thumbnail" />
              </a>
              <figcaption itemprop="caption description"><%= index %></figcaption>
            </figure>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white padding-bottom-3x pt-5 mb-1">
    <div class="container">
      <div class="card-body col-md-8">
        <h3 class="card-title"><%= @lodging.h1 %></h3>

        <div class="margin-top-1x">
          <ul class="list-icon">
            <h6>
              <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_1 %>
              <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_2 %>
              <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_3 %>
            </h6>
          </ul>
        </div>

        <p class="text-sm col-md-4">
          <div id="lodging-description">
            <%= @lodging.summary.try(:html_safe) %>
          </div>
        </p>
      </div>
    </div>
    <div class="children-scroll-section"></div>
  </div>

  <% if @lodging.as_standalone? %>
    <%= render 'standalone', lodging: @lodging, reservation: @reservation %>
  <% else %>
    <%= render 'parent', lodging: @lodging, reservation: @reservation, lodging_children: @lodging_children %>
  <% end %>
</div>

<%= content_for :js_init do %>
  GuestDropdown.init();
  Lodging.read_more()
  initPhotoSwipeFromDOM('.lodging-gallery');
  initDatePicker();
  Invoice.init();
  Lodging.child_form();
  Lodging.highlight_menu();
<% end %>
