<p id="notice"><%= notice %></p>
<p>

  <strong>Street:</strong>
  <%= @lodging.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @lodging.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @lodging.zip %>
</p>

<p>
  <strong>State:</strong>
  <%= @lodging.state %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @lodging.beds %>
</p>

<p>
  <strong>Baths:</strong>
  <%= @lodging.baths %>
</p>

<p>
  <strong>Adults:</strong>
  <%= @lodging.adults %>
</p>

<p>
  <strong>Children:</strong>
  <%= @lodging.children %>
</p>

<p>
  <strong>Infants:</strong>
  <%= @lodging.infants %>
</p>

<p>
  <strong>Type:</strong>
  <%= @lodging.lodging_type %>
</p>

<p>
  <strong>Sq  ft:</strong>
  <%= @lodging.sq__ft %>
</p>

<p>
  <strong>Sale date:</strong>
  <%= @lodging.sale_date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @lodging.price %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @lodging.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @lodging.longitude %>
</p>

<%= link_to 'Edit', edit_lodging_path(@lodging) %> |
<%= link_to 'Back', lodgings_path %>
