<%= render 'shared/photoswipe' %>

 
  <!-- Product Gallery-->

  <div class="container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <div class="gallery-control ">
        <figure itemprop="associatedMedia" itemscope>
          <a itemprop="contentUrl">
            <img src="<%= @lodging.image %>" itemprop="thumbnail" alt="<%= @lodging.name %>" class="w-100 max-image" />
          </a>

          <figcaption itemprop="caption description">
            <input type="button" name="view-photos" value="view photos" class="btn btn-white btn-sm">
          </figcaption>
        </figure>
      </div>

      <div class="lodging-gallery margin-top-1x" itemscope>
        <% @lodging.images.each_with_index do |image_url, index| %>
          <figure itemprop="associatedMedia" itemscope class="d-none">
            <a href="<%= image_url %>" itemprop="contentUrl">
              <img src="<%= image_url %>" itemprop="thumbnail" alt="<%= @lodging.name %>" class="img-fluid img-thumbnail" />
            </a>
            <figcaption itemprop="caption description"><%= index %></figcaption>
          </figure>
        <% end %>
       </div>
     
        <h3 class="margin-top-1x card-title"><%= @lodging.h1 %></h3>
        <h5 class="card-title text-muted margin-bottom-1x"><%= @lodging.h2 %></h3>
         <div class="row padding-top-1x">
               <div class="col-md-3">
            <h6>
              <b><%= @lodging.minimum_adults %> - <%= pluralize @lodging.adults, "" %></b> <%= t 'search.adutls_1' %> <br>

              <% if @lodging.children.present? %>
                <b><%= @lodging.minimum_children %> - <%= pluralize @lodging.children, "" %></b> <%= t 'search.children_1' %><br>
              <% end %>

              <b><%= @lodging.beds %></b> <%= t 'search.bedrooms' %><br>
              <b><%= @lodging.baths %></b> <%= t 'search.bathrooms' %>
            </h6>
          </div>

          <% if @reviews.present? %>
            <div class="col-md-3 col-xs-6">
              <div class="text-center">
                <div class="d-inline align-baseline display-3 mr-1"><%= @lodging.average_rating %></div>
                <br>
                <div class="d-inline align-baseline text-sm text-warning mr-1">
                  <%= render_stars_tag @lodging.average_rating %>
                </div>
              </div>
            </div>
          <% end %>
            <div class="col-md-6">
        

            <ul class="list-icon">
              <h6>
                <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_1 %><br>
                <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_2 %><br>
                <i class="material-icons md-24 check text-success"></i><%= @lodging.highlight_3 %>
              </h6>
            </ul>
          </div>
        </div>  
        <p class="text-sm col-md-5">
          <div id="lodging-summary">
            <%= @lodging.summary.try(:html_safe) %>
           
          </div>
          </p>
            
          <%= render 'shared_content', lodging: @lodging %>
      </div>
      <div class="col-md-4 margin-top-1x">
            <div class="bg-secondary sticky-top">

             
             <section class="widget-tags">
                <a class="tag" href="#home-container" aria-selected="true"><%= t 'nav.home' %></a>
                <a class="tag" href="#location-container" data-toggle="tab" role="tab" aria-selected="false"><%= t 'nav.location' %></a>
                <a class="tag" href="#reviews-container" data-toggle="tab" role="tab" aria-selected="false"><%= t 'nav.reviews' %></a>
                <a class="tag" href="#gallery-container" data-toggle="tab" role="tab" aria-selected="false"><%= t 'nav.gallary' %></a>
                <a class="tag" href="#description-container" data-toggle="tab" role="tab" aria-selected="false"><%= t 'nav.info' %></a>
                 <a class="tag" href="#like-container" data-toggle="tab" role="tab" aria-selected="false"><%= t 'nav.like' %></a>
            </section>
         
        

          <% if @lodging.as_standalone? %>
            <%= render 'standalone', lodging: @lodging, reservation: @reservation %>
          <% else %>
            <%= render 'parent', lodging: @lodging, reservation: @reservation, lodging_children: @lodging_children %>
          <% end %>
         </div>  

      
       
  
       </div>

      </div>

     




          


          
      

         
        </div>

     
    
      
    </div>
</div>
</div>




  

  
   

       

  </div>
</div>

<%= render 'shared/meta_tags', resource: @lodging %>

<%= content_for :js_init do %>
  GuestDropdown.init();
  Lodging.read_more()
  initPhotoSwipeFromDOM('.lodging-gallery');
  initDatePicker();
  Invoice.init();
  Lodging.child_form();
  Lodging.highlight_menu();
  OwlCarousel.init();
  Map.init_with('<%= @lodging.latitude %>', '<%= @lodging.longitude %>', '#lodging-map-location')
<% end %>