<table class="table table-bordered">
  <tbody>
    <% if grouped_places.present? %>
      <% grouped_places.each do |category, places| %>
        <tr><th style="color: <%= category.color_code %>"><b><%= category.name %></b></th></tr>
        <% places.each do |place| %>
          <tr>
            <td data-toggle="tooltip" data-placement="right" data-original-title="<%= place.description %>">
              <%= place.name %>
              <span class="float-right"><%= place.distance_from lodging %> km</span>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% else %>
      <tr><td>No place found!</td></tr>
    <% end %>
  </tbody>
</table>
