<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <%= render 'shared/navbar' %>
    <div id="flash-messages">
      <%= render 'shared/notices' %>
    </div>
   
    <%= yield %>
   
    <%= render 'shared/footer' %>

    <script type="text/javascript">
      Autocomplete.init("<%= autocompletes_path(locale: locale) %>");
      Custom.init();
      <%= yield :js_init %>
    </script>
  </body>
</html>
