<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <%= render 'shared/navbar' %>

    <div id="flash-messages">
      <%= render 'shared/notices' %>
    </div>

    <%= yield %>

    <%= render 'shared/footer' %>

    <script type="text/javascript">
      window.onpopstate = function(event) {
        if (window.historyInitiated) {
          window.location.reload();
        }
      };

      initDatePicker();
      Autocomplete.init("<%= autocompletes_path(locale: locale) %>");
      Custom.init();

      <% unless user_signed_in? || session[:asked_for_login] %>
        <% session[:asked_for_login] = true %>
        Custom.ask_for_login();
      <% end %>

      <%= yield :js_init %>
    </script>

    <script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
    <script>
      <% if locale.eql?(:en) %>
        window.FCSP = 'a270af6f48b623a989aa8c31902d1e92';
      <% else %>
        window.FCSP = 'd6c603b98d7255302bd1b5e029489495';
      <% end %>

      <% if user_signed_in? %>
        FrontChat('identity', {
            email: "<%= current_user.email %>",
            userHash: "<%= current_user.front_chat_hash %>"
          });
      <% end %>
    </script>
  </body>
</html>
