<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <%= render 'shared/navbar' %>

    <div id="flash-messages">
      <%= render 'shared/notices' %>
    </div>

    <%= yield %>

    <%= render 'shared/footer' %>

    <script type="text/javascript">
      window.onpopstate = function(event) {
        if (window.historyInitiated) {
          window.location.reload();
        }
      };

      Translation.init('<%= I18n.default_locale %>', '<%= I18n.locale %>');
      initDatePicker();
      Autocomplete.init("<%= autocompletes_path(locale: locale) %>");
      Custom.init();

      <% unless user_signed_in? || session[:asked_for_login] %>
        <% session[:asked_for_login] = true %>
      <% end %>

      <%= yield :js_init %>
    </script>

    <script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
    <script>
      window.FrontChat('init', {
        chatId: '<%= locale.eql?(:en) ? "a270af6f48b623a989aa8c31902d1e92" : "d6c603b98d7255302bd1b5e029489495" %>',
        useDefaultLauncher: true
      });
    </script>
  </body>
</html>
