<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <%= render 'shared/navbar' %>

    <div id="flash-messages">
      <%= render 'shared/notices' %>
    </div>

    <%= render 'layouts/dashboard/breadcrumbs' %>

    <div class="container padding-bottom-3x mb-2">
      <div class="row">
        <%= render 'layouts/dashboard/sidebar' %>
        <div class="col-lg-8">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render 'shared/footer' %>

    <script type="text/javascript">
      Custom.init();
      <%= yield :js_init %>
    </script>
  </body>
</html>
