<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="dashboard <%= yield (:body_class) %>">
    <%= render 'shared/navbar' %>

    <div id="flash-messages">
      <%= render 'shared/notices' %>
    </div>

    <div class="bg-secondary">
      <div class="container margin-top-2x padding-bottom-3x">
        <div class="row">
          <%= render 'layouts/dashboard/sidebar' %>

          <div class="col-lg-9 margin-top-2x ">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <%= render 'shared/footer' %>

    <script type="text/javascript">
      Autocomplete.init("<%= autocompletes_path(locale: locale) %>");
      Custom.init();
      <%= yield :js_init %>
    </script>
  </body>
</html>
