<% content_for :body_class, "home-full-page-layout" %>

<div class="row price_box m-0">
  <div class="jumbotron jumbotron-background col-md-12 p-0">
    <div class="dark-overlay-image">
      <div class="offset-md-1 col-sm-12 col-md-6 col-lg-5 col-xl-4 mt-vh">
        <div class="row text-center">
          <div class="card bg-white p-3 z-index-1">
            <div class="card-body text-left">
              <h1 class="display-4">Nice2stay Gift Card</h1>
              <h5 class="my-2"><%= t('vouchers.paragraph_1') %></h5>
              <h5 class="mb-2"><%= t('vouchers.paragraph_2') %></h5>
              <h5 class="mb-2"><%= t('vouchers.paragraph_3') %></h5>

              <div class="row homepage">
                <div class="col-md-12">
                  <%= form_for @voucher do |f| %>
                    <%= render 'shared/errors', resource: @voucher %>

                    <div class="row">
                      <div class="col-12">
                        <h5 class="mt-2 text-bold"><%= t('vouchers.your_details') %></h5>

                        <div class="form-group">
                          <%= f.text_field :sender_name, placeholder: t('vouchers.your_name'), class: 'h6 form-control' %>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group">
                          <%= f.email_field :sender_email, placeholder: t('vouchers.your_email'), class: 'h6 form-control' %>
                        </div>
                      </div>

                      <%= f.fields_for :receiver do |rf| %>
                        <div class="col-12">
                          <div class="row">
                            <div class="col-12">
                              <h5 class="text-bold"><%= t('vouchers.for_who_is_this_gift') %></h5>

                              <div class="row">
                                <div class="col-6">
                                  <div class="form-group">
                                    <%= rf.text_field :first_name, placeholder: t('vouchers.first_name'), class: 'h6 form-control' %>
                                  </div>
                                </div>

                                <div class="col-6">
                                  <div class="form-group">
                                    <%= rf.text_field :last_name, placeholder: t('vouchers.last_name'), class: 'h6 form-control' %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="form-group">
                            <%= rf.email_field :email, placeholder: t('vouchers.email_address'), class: 'h6 form-control' %>
                          </div>
                        </div>
                      <% end %>

                      <div class="col-12">
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <div class="col-6">
                                <div class="form-group">
                                  <%= f.text_field :receiver_city, placeholder: t('vouchers.city'), class: 'h6 form-control' %>
                                </div>
                              </div>

                              <div class="col-6">
                                <div class="form-group">
                                  <%= f.select :receiver_country_id, @countries.collect{ |country| [country.name, country.id] }, { include_blank: t('vouchers.country') }, class: 'form-control' %>
                                </div>
                              </div>

                              <div class="col-12">
                                <div class="form-group">
                                  <%= f.text_field :receiver_zipcode, placeholder: t('vouchers.zipcode'), class: 'h6 form-control' %>
                                </div>
                              </div>

                              <div class="col-12">
                                <div class="form-group">
                                  <%= f.text_field :receiver_address, placeholder: t('vouchers.address'), class: 'h6 form-control' %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group">
                          <%= f.text_area :message, placeholder: t('vouchers.message'), class: 'h6 form-control' %>
                        </div>
                      </div>

                      <div class="col-12">
                        <h5 class="text-bold"><%= t('vouchers.select_amount') %></h5>

                        <div class="form-group">
                          <%= f.number_field :amount, class: 'h6 form-control' %>
                        </div>
                      </div>

                      <div class="col-12">
                        <h5 class="text-bold"><%= t('vouchers.terms_and_conditions') %></h5>

                        <div class="form-group">
                          <ul>
                            <li><%= t('vouchers.term1') %></li>
                            <li><%= t('vouchers.term2') %></li>
                            <li><%= t('vouchers.term3') %></li>
                            <li><%= t('vouchers.term4') %></li>
                            <li><%= t('vouchers.term5') %></li>
                            <li><%= t('vouchers.term6') %></li>
                            <li><%= t('vouchers.term7') %></li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group">
                          <div class="custom-control custom-checkbox mb-0">
                            <%= f.check_box :send_by_post, { class: 'custom-control-input' }, true, false %>
                            <%= f.label :send_by_post, t('vouchers.accept_terms'), class: 'custom-control-label' %>
                          </div>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group">
                          <%= f.submit t('vouchers.submit'), class: 'btn btn-primary float-right' %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 margin-top-1x">
     <p class="text-sm margin-top-1x d-none"><%= t 'usp.intro_details' %></p>
    </div>

    <div class="col-sm-6 margin-top-1x">
      <section class="widget-tags">
        <h5 class="mb-10">Nice2stay</h5>
        <% @pages.each do |page| %>
          <%= link_to page.title, page_path(page), class: "tag" %>
        <% end %>
      </section>
    </div>
  </div>
</div>
